section(class="mainblock", style="background-image: url(img/main-okna/window-main-bg.jpg)")
	.container 
		.flex-wrapper
			.mainblock__content
				.page-title
					| Ремонт окон в Москве и МО
					span.nowrap  от 3 тыс.руб
				.mainblock__text.mainblock__text--window Установка «Под ключ» в день доставки + москитная сетка в подарок. Замер и доставка - бесплатно!
				.mainblock__icons.icons-block
					.icons-block__item.icons-block--sm
						.icons-block__wrapper
							img(src="img/main-okna/icons-1.png", class="icons-block__icon", alt="")
						.icons-block__text Более 12 000 заказчиков с 2003 года
					.icons-block__item.icons-block--sm
						.icons-block__wrapper
							svg.icons-block__icon.icons-block__icon--svg
								use(xlink:href="img/sprite.svg#ruble")
						.icons-block__text Вы платите только после завершения работ.
					.icons-block__item.icons-block__item--lg
						.icons-block__wrapper
							svg.icons-block__icon.icons-block__icon--svg
								use(xlink:href="img/sprite.svg#worker")
						.icons-block__text Выполнение всех действий квалифицированными сотрудниками.
			.mainblock__form-wrapper
				.mainblock__title Не откладывайте принятие решения на длительное время!
				.mainblock__lowercase Отправьте заявку прямо сейчас и получите ответы на ВСЕ Ваши вопросы!
				.form
					.form__field
						input(type="text", class="form__input", name="name", placeholder="Ваше имя")
					.form__field
						input(type="tel", class="form__input", name="tel", placeholder="+7 (___) ___-__-__")
					.form__field
						button(type="submit", class="btn form__submit") Отправить заявку