mixin pricelist(blockTitle)
	section.pricelist
		.container
			.block-title !{blockTitle}
			.tabs
					ul.tabs-list
						li.tabs-list-item
							a.tabs-list__link.active(href="#" data-tab="pricelist-tab1") Подготовительные работы на балконах
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="pricelist-tab2") Отделка стен и потолков
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="pricelist-tab3") Отделка пола
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="pricelist-tab4") Электромонтажные работы
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="pricelist-tab5") Утепление балконов и лоджий
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="pricelist-tab6") Дополнительные работы
					.tabs-content
						.tabs-tab.active(data-tab="pricelist-tab1")
							.text-container
								table(cellpadding="0" cellspacing="0")
									tr
										td Монтаж чернового пола (брус 50×70, влагостойкая фанера 21 мм)
										td 4 000 ₽/м2
									tr
										td Монтаж чернового пола с настилом половой доски 21 мм
										td 4 500 ₽/м2
									tr
										td Настил ламинированного паркета МДФ
										td 3 500 ₽/м2
									tr
										td Настил ламината ПВХ AQUA-STEP (цвет на выбор) + плинтус
										td 8 500 ₽/м2
									tr
										td Настил линолеума (3 мм на вспененной основе) цвет на выбор + плинтус
										td 2 500 ₽/м2
									tr
										td Укладка плитки (материал заказчика)
										td от 4 000 ₽/м2
									tr
										td Отдельная установка плинтусов (ПВХ)
										td 700 ₽/м.п.
									tr
										td Стяжки из песчано-цементной смеси
										td 3 000 ₽/м2
									tr
										td Подъем уровня пола от 9 до 16 см. (Дополнительно к стоимости стяжки)
										td 2 000 ₽/м2
						.tabs-tab(data-tab="pricelist-tab2")
							.text-container
								p 0000
						.tabs-tab(data-tab="pricelist-tab3")
							.text-container
								p 0000
						.tabs-tab(data-tab="pricelist-tab4")
							.text-container
								p 0000
						.tabs-tab(data-tab="pricelist-tab5")
							.text-container
								p 0000
						.tabs-tab(data-tab="pricelist-tab6")
							.text-container
								p 0000