mixin finishing-balcony-key(blockTitle, text)
	section.finishing-balcony-key
		.container
			.block-title !{blockTitle}
			.block-text.text-container !{text}
			form(action="#").inner
				.col.col_left
					+img('finishing-balcony-key','picture','finishing-balcony-key__img','1')
					.col-inner
						.block-title.block-title_left Летняя веранда
						.text-container
							p Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может быть выполнено раздвижными конструкциями.
							p Стены и потолки: выравнивание поверхностей, отделка ПВХ-панелями из коллекции «Эконом».
							ul
								li Электрика: отсутствует.
								li Пол: черновой пол, настил линолеума, пластиковый плинтус.
								li Монтаж откосов и подоконников: включено в пакет.
						.price
							.price__text Цена отделки:
							.price__num от 2 140 ₽/м2
							.price__text.price__text_small (без учета остекления)
						.form
							.form-group
								.form-item
									+icon('phone-call')
									input.form__field(type="tel" placeholder="Ваш телефон" name="finishing-balcony-key_tel")
								.form-item
									button.btn.form__submit(type="submit") Нужен расчет
							.form__text * Нажимая кнопку, вы соглашаетесь <br> с условиями <a href="#">политики конфиденциальности</a>
				.col.col_right
					label.checkbox(for="finishing-balcony-key1")
						+img('finishing-balcony-key','img1','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key1(type="checkbox", name="finishing-balcony-key1")
						.checkbox__title Кладовка
						+icon('check')
					label.checkbox(for="finishing-balcony-key2")
						+img('finishing-balcony-key','img2','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key2(type="checkbox", name="finishing-balcony-key2")
						.checkbox__title Фитнес зона
						+icon('check')
					label.checkbox(for="finishing-balcony-key3")
						+img('finishing-balcony-key','img3','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key3(type="checkbox", name="finishing-balcony-key3")
						.checkbox__title Рабочий кабинет
						+icon('check')
					label.checkbox(for="finishing-balcony-key4")
						+img('finishing-balcony-key','img4','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key4(type="checkbox", name="finishing-balcony-key4")
						.checkbox__title Детская
						+icon('check')
					label.checkbox(for="finishing-balcony-key5")
						+img('finishing-balcony-key','img5','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key5(type="checkbox", name="finishing-balcony-key5")
						.checkbox__title Столовая
						+icon('check')
					label.checkbox(for="finishing-balcony-key6")
						+img('finishing-balcony-key','img6','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key6(type="checkbox", name="finishing-balcony-key6")
						.checkbox__title Оранжерея
						+icon('check')
					label.checkbox(for="finishing-balcony-key7")
						+img('finishing-balcony-key','img7','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key7(type="checkbox", name="finishing-balcony-key7")
						.checkbox__title Барная зона
						+icon('check')
					label.checkbox(for="finishing-balcony-key8")
						+img('finishing-balcony-key','img8','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key8(type="checkbox", name="finishing-balcony-key8")
						.checkbox__title Для кошек
						+icon('check')
					label.checkbox(for="finishing-balcony-key9")
						+img('finishing-balcony-key','img9','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key9(type="checkbox", name="finishing-balcony-key9")
						.checkbox__title Летняя веранда
						+icon('check')
					label.checkbox(for="finishing-balcony-key10")
						+img('finishing-balcony-key','img10','checkbox__img','1')
						input.checkbox__input#finishing-balcony-key10(type="checkbox", name="finishing-balcony-key10")
						.checkbox__title Релакс зона
						+icon('check')