section.certified(style="background-image: url(img/certified/certified-bg.jpg);")
	img(data-src="img/certified/certified-worker.png", src="", alt="", class="certified__abs-img")
	.container
		.section__title.section__title--center Наши установщики сертифицированы – опыт работы от 5 лет
		.advantages.certified__container.js-certified-slider
			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#certificate")
					| Высокая квалификация
				.advantages__text Наши мастера не только выполняют работу качественно, точно в срок, с соблюдением технологии, но и помогают клиентам определиться с подходящим форматом остекления, видом окон, фурнитуры. Расскажут об особенностях эксплуатации и настройки профильных систем.

			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#timelapse")
					| Скорость работ
				.advantages__text Установка окон и габаритных профильных систем у нас выполняется быстро, монтажники не теряют время, не отвлекаются на перерывы. Мы ценим время своих сотрудников и клиентов, гарантируем соблюдение оглашенных сроков

			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#foam")
					| Работаем чисто и безопасно
				.advantages__text Аккуратность и чистота не только эстетическая сторона ремонта, она важна и для соблюдения технологий монтажа. Именно поэтому наши монтажники выполняют работы поэтапно, в том числе и собирают пыль и мусор, который мешает корректной установке.

			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#squares")
					| Весь комплекс работ
				.advantages__text Установка окон предусматривает не только аккуратный монтаж новой конструкции, но и демонтаж старых окон, сбор и вынос строительного мусора. Будьте уверены, обращаясь к нам, Вы получите весь спектр сопутствующих работ.

			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#document")
					| Просрочкам нет!
				.advantages__text Мы соблюдаем сроки, оглашенные заказчику. Если же вышла непредвиденная задержка – мы компенсируем Ваше время бонусами и скидками. Такой подход минимизирует возможность просрочки в 99% случаев.

			.advantages__item.advantages__item--col
				.advantages__title
					svg.advantages__icon
						use(xlink:href="img/sprite.svg#key")
					| Работаем «под ключ»
				.advantages__text Работаем по регламенту, а значит – владельцу не нужно контролировать каждое движение монтажников, они с точностью выполнят работу. Вы можете нам доверять, а если есть сомнения – ознакомьтесь с отзывами наших постоянных клиентов.

