mixin wc-check
	svg.wc-check.wc-icon(viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
		circle(cx='18' cy='18' r='18' fill='#9FC534')
		path(d='M11.6145 16.8039L17.5504 23.5769L25.1993 13.3177' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')

mixin wc-cancel
	svg.wc-cancel.wc-icon(viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
		circle(cx='18' cy='18' r='18' fill='#FF5A00')
		line(x1='22.6074' y1='14.1213' x2='14.1221' y2='22.6066' stroke='white' stroke-width='3' stroke-linecap='round')
		line(x1='14.1233' y1='14.1211' x2='22.6086' y2='22.6064' stroke='white' stroke-width='3' stroke-linecap='round')

mixin warming-compare(blockTitle)
	section.warming-compare
		.container
			.block-title !{blockTitle}
			.inner
				ul.warming-compare-list
					li.warming-compare-list__item Дефформация в процессе эксплуатации
					li.warming-compare-list__item Устойчивость к влаге
					li.warming-compare-list__item Усиление конструктива
					li.warming-compare-list__item Не поддерживает горение
					li.warming-compare-list__item Бесшовность нанесения
					li.warming-compare-list__item Экологичность
					li.warming-compare-list__item Шумоизоляция
					li.warming-compare-list__item Монтаж пароизоляции	
					li.warming-compare-list__item Теплопроводность	
					li.warming-compare-list__item Паропроницаемость	
					li.warming-compare-list__item Срок эксплуатации	
				.warming-compare-table-wrap
					table.warming-compare-table(cellpadding="0" cellspacing="0")
						thead
							tr
								td ППУ
								td Мин. вата
								td Пеноплэкс
								td Пенопласт
								td Базальт
						tbody
							tr
								td 
									+wc-cancel
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-check
							tr
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-cancel
								td 
									+wc-cancel
								td 
									+wc-cancel
							tr
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-cancel
								td 
									+wc-cancel
								td 
									+wc-cancel
							tr
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-cancel
								td 
									+wc-check
							tr
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-cancel
							tr
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-check
								td 
									+wc-cancel
							tr
								td 
									+wc-check
								td 
									+wc-cancel
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-cancel
							tr
								td 
									+wc-cancel
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-check
								td 
									+wc-check
							tr
								td 0,019÷0,041 Вт/(м×к)
								td 0,048÷0,07 Вт/(м×к)	
								td 0,035 Вт/(м×к)	
								td 0,04 Вт/(м×к)	
								td 0,04-0,05 Вт/(м×к)
							tr
								td 0,05 Мг/(м×ч×Па)	
								td 0,049-0,6 Мг/(м×ч×Па)
								td 0,015 Мг/(м×ч×Па)
								td 0,023 Мг/(м×ч×Па)
								td 0,03 Мг/(м×ч×Па)
							tr
								td от 50 лет
								td 8-10 лет
								td до 10 лет
								td до 10 лет
								td 25-45 лет