mixin prices-home-types(blockTitle)
	section.prices-home-types
		.container
			.block-title !{blockTitle}
			.inner
				+slider-arrows
				.slider-wrap.swiper-container
					.slider.swiper-wrapper
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img1','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img2','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img3','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img4','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img5','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img6','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
						.slider-slide.swiper-slide
							.slider-slide__title И-209А
							+img('prices-home-types','img1','slider-slide__img','1')
							.slider-slide-price
								.slider-slide-price__text REHAU
								.slider-slide-price__num 8 950 ₽
							.slider-slide-price
								.slider-slide-price__text VEKA
								.slider-slide-price__num 9 270 ₽
							.slider-slide-price
								.slider-slide-price__text KBE
								.slider-slide-price__num 10 150 ₽
							a.slider-slide__link(href="#") Подробнее
