.cost-work {
	&__container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}
	&__card {
		width: calc(25% - 10px);
		margin: 0 5px 10px;
		background: #F2F6FA;
		border-radius: 5px;
		padding: 30px;
		@include max-screen(1200px) {
			width: calc(33.3% - 10px);
		}
		@include max-screen(768px) {
			width: calc(50% - 10px);
		}
		@include max-screen(570px) {
			width: 100%;
		}
	}
	&__img-wrapper {
		position: relative;
		margin-bottom: 30px;
		height: 80px;
	}
	&__img {
		max-height: 100%;
		object-fit: cover;
		@include max-screen(570px) {
			margin: 0 auto;
		}
	}
	&__title {
		font: 800 16px/20px  'Raleway';
		margin-bottom: 5px;
		@include max-screen(570px) {
			text-align: center;
		}
	}
	&__price {
		font: 800 16px/19px 'Raleway';
		color: #4975CB;
		margin-bottom: 10px;
		@include max-screen(570px) {
			text-align: center;
		}
	}
	.red-list {
		margin-bottom: 0;
	}
}
.consultation {
	position: relative;
	background: #4975CB;
	border-radius: 5px;
	width: calc(50% - 10px);
	padding: 50px;
	margin-bottom: 10px;
	@include max-screen(1200px) {
		max-width: 550px;
		width: 100%;
		margin: 0 auto;
	}
	@include max-screen(570px) {
		padding: 15px;
	}
	&__content {
		max-width: 200px;
		color: #fff;
		@include max-screen(570px) {
			max-width: 100%;
		}
	}
	&__title {
		font: 800 42px/46px 'Raleway';
		margin-bottom: 5px;
		@include max-screen(570px) {
			font: 800 20px/24px 'Raleway';
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&__text {
		margin-bottom: 30px;
		@include max-screen(570px) {

			text-align: center;
		}
	}
	.btn {
		width: 100%;
	}
	&__img {
		position: absolute;
		bottom: 0;
		right: 0;
		@include max-screen(1200px) {
			right: -30px;
			width: 300px;
		}
		@include max-screen(570px) {
			display: none;
		}
	}

}