section.cost-work
    .container
        .section__title.section__title--center Стоимость отдельных видов работ
        .cost-work__container
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/floor.png", class="cost-work__img", alt="")
                .cost-work__title Монтаж пола
                .cost-work__price от 245 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Стяжка пола до 50 мм
                    li.red-list__item Гидроизоляция пола
                    li.red-list__item Устройство стяжки
                    li.red-list__item Устройство «сухого пола»
                    li.red-list__item Армирование стяжки пола
                    li.red-list__item Укладка ламината
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/ceil.png", class="cost-work__img", alt="")
                .cost-work__title Монтаж потолка
                .cost-work__price от 280 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Выравнивание потолка
                    li.red-list__item Шпатлёвка потолка
                    li.red-list__item Окраска потолка
                    li.red-list__item Оклейка потолка
                    li.red-list__item Расшивка рустов
                    li.red-list__item Заделка рустов
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/wall.png", class="cost-work__img", alt="")
                .cost-work__title Монтаж стен
                .cost-work__price от 138 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Выравнивание стен
                    li.red-list__item Устройство короба из ГКЛ
                    li.red-list__item Грунтовка стен
                    li.red-list__item Оклейка стен обоями
                    li.red-list__item Окраска стен
                    li.red-list__item Штукатурка стен
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/destroy.png", class="cost-work__img", alt="")
                .cost-work__title Демонтаж
                .cost-work__price от 200 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Демонтаж стен
                    li.red-list__item Демонтаж дверных блоков
                    li.red-list__item Демонтаж пола
                    li.red-list__item Демонтаж плитки
                    li.red-list__item Демонтаж электроточки
                    li.red-list__item Демонтаж битума с пола
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/bath.png", class="cost-work__img", alt="")
                .cost-work__title Монтаж сантехники
                .cost-work__price от 380 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Монтаж унитаза
                    li.red-list__item Монтаж инсталяции
                    li.red-list__item Монтаж сифона
                    li.red-list__item Монтаж душевой штанги
                    li.red-list__item Расчеканка труб
                    li.red-list__item Монтаж медной трубы
            .cost-work__card
                .cost-work__img-wrapper
                    img(src="img/cost-work/electric.png", class="cost-work__img", alt="")
                .cost-work__title Монтаж электрики
                .cost-work__price от 331 ₽/м<sup>2</sup>
                ul.red-list
                    li.red-list__item Прокладка кабеля
                    li.red-list__item Автомат защиты
                    li.red-list__item Установка контактора
                    li.red-list__item Установка Диф. автомата
                    li.red-list__item Установка распред. щитка
                    li.red-list__item Светильник встроенный
            .consultation
                .consultation__content
                    .consultation__title Оставьте заявку
                    .consultation__text Получите бесплатную консультацию и полный прайс на ремонт квартир
                    .btn Консультация
                img(src="img/cost-work/man.png", class="consultation__img", alt="")
