mixin compare-types2(blockTitle)
	section.compare-types
		.container
			.block-title !{blockTitle}
			.inner
				.item
					.item-images
						+img('compare-types2', 'img1', 'item__img', '1')
						+img('compare-types2', 'img2', 'item__img', '1')
					.item-text.text-container
						h2 Отделка “Эконом” 
							span Вагонка пластиковая белая
						p Эконом отделка - это вариант отделки специально подобранными отделочными материалами для балконов и лоджий на которые не влияет перепад температуры, и выполняется из ПВХ вагонки белой или цветной с шириной ламери 100мм что имитируент обшивку деревянной вагонки. Материал простой в обслуживании, подходит для всех помещений, но не желательно чтобы на него попадали прямые солнечные лучи.
						p Белая отделка очень нарядно украшает маленькое пространство лоджии или балкона. Очень выгодный вариант и по скорости исполнения и по стоимости.
				.item
					.item-images
						+img('compare-types2', 'img3', 'item__img', '1')
						+img('compare-types2', 'img4', 'item__img', '1')
					.item-text.text-container
						h2 Отделка “Стандарт” 
							span Панели ПВХ ламинированные.
						p Самый востребованный вариант отделки в 2020 году это отделка ПВХ ламинированными панелями, которые идеально можно подобрать под любой вкус. Панели пластиковые могут быть любого цвета, от классических белых, до панелей под обои, бесшовные с фаской и без шовные где будет видна тонкая полоска 
						p Панели так же подходят под любой вариант помещения, как для теплого что на данный момент очень востребовано, все хотят иметь дополнительное помещение, так и для холодных, главное чтобы на панели не попадали прямые солнечные лучи. По цене конечно же они дороже чем просто вагонка пластиковая, но цена доступная по сравнению с отделкой под штукатурку которая дороже в 2 или даже три раза.
				.item
					.item-images
						+img('compare-types2', 'img5', 'item__img', '1')
						+img('compare-types2', 'img6', 'item__img', '1')
					.item-text.text-container
						h2 Отделка “Комфорт” 
							span Теплофом под покраску
						p Желанный вариант отделки это конечно же отделка под комнату имеется ввиду под штукатурку или отделку.
						p Все мечтают о такой отделке, все хотят им его продолжение квартиры видеть на лоджии или балконе.
						p Но это все не так просто, это по стоимости конечно же дороже и дольше в два три раза.
						p Как пример отделка панелями делается за 1 день небольшого балкона или лоджии, а отделка под покраску исполняется от 3х до 7 дней все зависит от температуры на улице и внутри помещения, за то по итогу будет идеальная комфортная красота если так можно сказать. Не будет пластика, которого итак много в нашей жизни, на такой лоджии или балконе с правильно подобранным обогревателем будет уютно всегда.
						p Стоимость зависит от многих факторов, самый важный это какой будет черновой материал, тепофол, ГВЛ, или влагостойкий гипсокартон, стоимость работы от 30000 руб за 1м.кв под ключ 
