section.banner-s
    .banner-s__left(style={'background-image': 'url(/img/banner-s-dismantling/dismantling-left.jpg)'})
    .banner-s__right(style={'background-image': 'url(/img/banner-s-dismantling/dismantling-right.jpg)'})
    .container
        .banner-s__inner.banner-s__inner--lg
           .section__title.mb-20 Демонтаж и установка оконных конструкций
           .banner-s__text.mb-20 Стоимость ремонтных работ зависит от разновидности окна и определенной специфики дефекта. Если Вас интересует примерная цена услуг, или есть необходимость вызова специалиста, звоните нам! Также можно воспользоваться удобной формой обратной связи, просто нажмите «Вызов мастера». С Вами свяжется менеджер и оперативно примет заявку.
           .banner-s__text На веб-сайте компании Вы можете ознакомиться с подробным прайсом наших услуг, и убедиться, что у нас демократичные цены.

