section(class="constructions",style={'background-image':'url(img/constructions/constructions-bg.jpg)'})
	.container
		.section__title.section__title--white Ремонт металлопластиковых оконных конструкций
		.constructions__text Устраняем дефекты механического характера, а также решаем проблемы с вышедшей из строя фурнитурой и уплотнителем. У нас можно заказать спектр услуг по ликвидации разнообразных поломок. Предлагаем модернизацию металлопастиковых конструкций и изменение их функционала. Поскольку нашими партерами являются лидирующие поставщики фурнитуры и комплектующих частей, мы гарантируем качество выполненных работ и долгий срок эксплуатации отремонтированного окна.
		.color-table
			.color-table__wrapper
				.color-table__col.color-table__col--lg
					.color-card
						.color-card__item.color-card__item--head.color-card__item--upcase
							span <b>Услуга</b>
						.color-card__item Замена уплотнителя
						.color-card__item Регулировка створки, смазка
						.color-card__item Замена оконных ручек
						.color-card__item Очистка, смазка фурнитуры и уплотнителя
						.color-card__item Замена стеклопакета
						.color-card__item Ремонт фурнитуры
				.color-table__col.color-table__col--xl
					.color-card
						.color-card__item.color-card__item--head.color-card__item--center.color-card__item--upcase
							span.color-card__text <b>ЕДИНИЦА</b>
						.color-card__item.color-card__item--center М/п
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center м<sup>2</sup>
						.color-card__item.color-card__item--center шт
				.color-table__col.color-table__col--xl
					.color-card
						.color-card__item.color-card__item--head.color-card__item--center.color-card__item--upcase
							span.color-card__text <b>ЦЕНА, РУБ.</b>
						.color-card__item.color-card__item--center От 150
						.color-card__item.color-card__item--center От 300
						.color-card__item.color-card__item--center От 490
						.color-card__item.color-card__item--center 850
						.color-card__item.color-card__item--center От 2800
						.color-card__item.color-card__item--center От 2500
				.color-table__col.color-table__col--lg
					.color-card.color-card--img
						img(class="color-card__img", alt="", src="img/constructions/constructions-img.jpg")
