.broke {
	padding: 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
	&__text {
		margin-bottom: 20px;
	}
	&__container {
		display: flex!important;
		flex-wrap: wrap;
		margin: 0 -10px 60px;
		@include max-screen(991px) {
			margin-bottom: 30px;
		}
	}
	&__item {
		margin: 0 10px;
	}
	&__img {
		height: 175px;
		width: 100%;
		object-fit: cover;
		margin-bottom: 20px;
	}
	&__subtitle {
		text-align: center;
	}
}