section.broke
	.container
		.section__title Сломалось алюминиевое окно - не вопрос, звоните!
		.broke__text Как правило, проблемы с алюминиевыми окнами начинаются с некорректного монтажа конструкции или связаны с заводским браком стеклопакета. Часто неправильное обслуживание окна, ненадлежащий уход за фурнитурой или механическое повреждение уплотнителя приводят к поломкам.
		.broke__text Какие проблемы возникают с алюминиевой оконной конструкцией:
		.broke__container.js-broke-slider
			.broke__item
				img(src="/img/broke/broke-1.jpg", alt="", class="broke__img")
				.broke__subtitle Выпадение оконной створки

			.broke__item
				img(src="/img/broke/broke-2.jpg", alt="", class="broke__img")
				.broke__subtitle Отсутствие плотного прилегания створки к раме

			.broke__item
				img(src="/img/broke/broke-3.jpg", alt="", class="broke__img")
				.broke__subtitle Неприятный скрип при открывании окна

			.broke__item
				img(src="/img/broke/broke-4.jpg", alt="", class="broke__img")
				.broke__subtitle Образование щелей и зазоров – нарушение герметичности

			.broke__item
				img(src="/img/broke/broke-5.jpg", alt="", class="broke__img")
				.broke__subtitle Нарушение геометрии оконной конструкции

			.broke__item
				img(src="/img/broke/broke-6.jpg", alt="", class="broke__img")
				.broke__subtitle Выход из строя фурнитурного элемента

		.color-table
			.color-table__wrapper
				.color-table__col.color-table__col--lg
					.color-card
						.color-card__item.color-card__item--head.color-card__item--upcase
							span <b>Услуга</b>
						.color-card__item Замена уплотнителя
						.color-card__item Регулировка створки, смазка
						.color-card__item Замена оконных ручек
						.color-card__item Очистка, смазка фурнитуры и уплотнителя
						.color-card__item Замена стеклопакета
						.color-card__item Ремонт фурнитуры
				.color-table__col.color-table__col--xl
					.color-card
						.color-card__item.color-card__item--head.color-card__item--center.color-card__item--upcase
							span.color-card__text <b>ЕДИНИЦА</b>
						.color-card__item.color-card__item--center М/п
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center шт
						.color-card__item.color-card__item--center м<sup>2</sup>
						.color-card__item.color-card__item--center шт
				.color-table__col.color-table__col--xl
					.color-card
						.color-card__item.color-card__item--head.color-card__item--center.color-card__item--upcase
							span.color-card__text <b>ЦЕНА, РУБ.</b>
						.color-card__item.color-card__item--center От 150
						.color-card__item.color-card__item--center От 300
						.color-card__item.color-card__item--center От 490
						.color-card__item.color-card__item--center 850
						.color-card__item.color-card__item--center От 2800
						.color-card__item.color-card__item--center От 2500
				.color-table__col.color-table__col--lg
					.color-card.color-card--img
						img(class="color-card__img", alt="", src="img/broke/broke-img.jpg")
