mixin mainblock-shape
	svg.mainblock-shape(viewBox='0 0 926 671' fill='none' xmlns='http://www.w3.org/2000/svg')
		mask#maskmainblock-shape0(mask-type='alpha' maskUnits='userSpaceOnUse' x='-2' y='0' width='928' height='671')
			rect(x='-2' width='928' height='671' fill='#C4C4C4')
		g(mask='url(#maskmainblock-shape0)')
			g(filter='url(#filter0mainblock-shape_d)')
				path(d='M841.363 543.589L446.906 829.625C408.997 857.115 359.232 862.092 316.629 842.655L-209.15 602.769C-275.954 572.289 -304.275 492.568 -271.671 426.774L91.3611 -305.807C133.398 -390.636 249.109 -403.519 308.776 -330.015L865.98 356.416C912.982 414.318 901.738 499.809 841.363 543.589Z' fill='white')
		defs
			filter#filter0mainblock-shape_d(x='-358.138' y='-454.384' width='1489.66' height='1491.74' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
				feFlood(flood-opacity='0' result='BackgroundImageFix')
				feColorMatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
				feOffset(dy='4')
				feGaussianBlur(stdDeviation='15')
				feColorMatrix(type='matrix' values='0 0 0 0 0.504826 0 0 0 0 0.592681 0 0 0 0 0.904167 0 0 0 0.15 0')
				feBlend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadowmainblock-shape')
				feBlend(mode='normal' in='SourceGraphic' in2='effect1_dropShadowmainblock-shape' result='shape')

mixin repair-works-shape
	svg.repair-works-shape(viewBox='0 0 936 1192' fill='none' xmlns='http://www.w3.org/2000/svg')
		g(filter='url(#filter0_drepair-works-shape)')
			path(d='M903.285 834.47L782.243 153.61C771.583 93.6481 720.725 49.1239 659.881 46.4861L202.111 26.6406C130.29 23.527 69.5773 79.2944 66.5922 151.12L30.4067 1021.79C26.7461 1109.86 109.954 1175.97 194.923 1152.49L809.921 982.527C874.582 964.657 915.027 900.52 903.285 834.47Z' fill='white')
		defs
			filter#filter0_drepair-works-shape(x='0.290039' y='0.516113' width='935.018' height='1190.75' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
				feFlood(flood-opacity='0' result='BackgroundImageFix')
				feColorMatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
				feOffset(dy='4')
				feGaussianBlur(stdDeviation='15')
				feColorMatrix(type='matrix' values='0 0 0 0 0.504826 0 0 0 0 0.592681 0 0 0 0 0.904167 0 0 0 0.15 0')
				feBlend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadowrepair-works-shape')
				feBlend(mode='normal' in='SourceGraphic' in2='effect1_dropShadowrepair-works-shape' result='shape')

mixin section-shape
	svg.section-shape(viewBox='0 0 847 1121' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M1.96994 297.258L118.959 976.399C129.377 1036.88 180.245 1083.22 241.217 1087.77L675.983 1120.26C747.878 1125.64 808.68 1071.6 811.592 999.751L846.462 139.409C850.041 51.1266 766.244 -17.4798 681.176 4.0852L94.5509 152.798C30.572 169.017 -9.38181 231.359 1.96994 297.258Z' fill='#F5F7FE')

mixin slider-arrows
	.arrows
		button.arrow.arrow_prev
			+icon('prev')
		button.arrow.arrow_next
			+icon('next')

mixin installers-quality-shape
	svg.installers-quality-shape(width='621' height='644' viewBox='0 0 621 644' fill='none' xmlns='http://www.w3.org/2000/svg')
		g(filter='url(#filter0installers-quality-shape_d)')
			path(d='M146.615 582.155L396.044 608.435C460.684 615.246 520.416 573.265 535.906 510.139L586.283 304.834C601.415 243.168 569.789 179.59 511.48 154.456L240.285 37.5566C159.363 2.67523 67.9242 56.7087 59.4439 144.42L30.8326 440.345C23.9645 511.381 75.6434 574.677 146.615 582.155Z' fill='white')
		defs
			filter#filter0installers-quality-shape_d(x='0.220215' y='0.833008' width='619.826' height='642.325' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
				feFlood(flood-opacity='0' result='BackgroundImageFix')
				feColorMatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
				feOffset(dy='4')
				feGaussianBlur(stdDeviation='15')
				feColorMatrix(type='matrix' values='0 0 0 0 0.504826 0 0 0 0 0.592681 0 0 0 0 0.904167 0 0 0 0.15 0')
				feBlend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadowinstallers-quality-shape')
				feBlend(mode='normal' in='SourceGraphic' in2='effect1_dropShadowinstallers-quality-shape' result='shape')

mixin videos-section-shape
	svg.videos-section-shape(width='1483' height='1445' viewBox='0 0 1483 1445' fill='none' xmlns='http://www.w3.org/2000/svg')
		g(filter='url(#filter0videos-section-shape_d)')
			path(d='M840.546 1196.47L1290.37 671.316C1329.99 625.062 1332.19 557.498 1295.67 508.762L1020.93 142.12C977.822 84.5911 896.212 72.9783 838.768 116.198L142.529 640.041C72.0866 693.041 73.6925 799.306 145.704 850.148L666.863 1218.1C721.664 1256.79 796.903 1247.42 840.546 1196.47Z' fill='white')
		defs
			filter#filter0videos-section-shape_d(x='60.6812' y='64.0747' width='1290.96' height='1211.83' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
				feFlood(flood-opacity='0' result='BackgroundImageFix')
				feColorMatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
				feOffset(dy='4')
				feGaussianBlur(stdDeviation='15')
				feColorMatrix(type='matrix' values='0 0 0 0 0.504826 0 0 0 0 0.592681 0 0 0 0 0.904167 0 0 0 0.15 0')
				feBlend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadowvideos-section-shape')
				feBlend(mode='normal' in='SourceGraphic' in2='effect1_dropShadowvideos-section-shape' result='shape')
