section.repair-types
    .container
        .section__title Наши услуги по типу ремонта
        .repair-types__container
            .repair-types__card
                img(src="img/repair-types/services-cosm.jpg", class="repair-types__img", alt="")
                .repair-types__title Косметический ремонт квартир
                .repair-types__price от 2500 руб/м<sup>2</sup>
                p.repair-types__text Сильная сторона данного вида ремонта – небольшие финансовые вложения, а также отсутствие кардинальных изменений в помещении. Помимо вышеуказанного, косметический ремонт квартир в Москве и Московской области проводится в довольно короткие сроки.
                ul.red-list
                    li.red-list__item Снятие старого напольного покрытия, рам, дверей, плинтусов
                    li.red-list__item Монтаж новый окон и дверей
                    li.red-list__item Удаление старого кафеля
                    li.red-list__item Заделывание трещин в потолке и стенах
                    li.red-list__item Выравнивание поверхностей – стен, потолка, пола
                    li.red-list__item Отделка санузла – керамической плиткой или пластиковыми панелями
                    li.red-list__item Замена выключателей и розеток
                    li.red-list__item Установка сантехнических приборов
                .repair-types__btn-wrapper
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .repair-types__card
                img(src="img/repair-types/services-cap.jpg", class="repair-types__img", alt="")
                .repair-types__title Капитальный ремонт квартир
                .repair-types__price от 5000 руб/м<sup>2</sup>
                p.repair-types__text Полный комплекс ремонтных работ, включающий в себя замену сантехники, электрики, систем вентиляций, дверей, выравнивание всех поверхностей, также возможность перепланировки квартиры и др. Данный тип ремонта сложный и продолжительный по времени, который лучше всего доверить профессионалам.
                ul.red-list
                    li.red-list__item Демонтаж перегородок и стен, инженерных сетей, старой отделки
                    li.red-list__item Монтаж инженерных сетей
                    li.red-list__item Выравнивание пола, стен, потолка, сборка конструкций
                    li.red-list__item Укладка напольных покрытий
                    li.red-list__item Отделка стен, потолка
                    li.red-list__item Монтаж сантехники
                    li.red-list__item Прокладка кабеля, установка элекрощитка, подключение осветительных приборов
                .repair-types__btn-wrapper
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .repair-types__card
                img(src="img/repair-types/services-elit.jpg", class="repair-types__img", alt="")
                .repair-types__title Элитный ремонт квартиры
                .repair-types__price от 8000 руб/м<sup>2</sup>
                p.repair-types__text Элитный ремонт квартир в Москве и Московской области – эксклюзивный вид ремонта, с неповторимыми отделочными материалами, уникальными дизайнерскими решениями. Данный вид ремонта по своей сути является штучным и не имеет повтора
                ul.red-list
                    li.red-list__item Дизайн проект
                    li.red-list__item Обмерочный план
                    li.red-list__item Техническая документация
                    li.red-list__item Планировочное решение
                    li.red-list__item 3D Визуализация
                    li.red-list__item Консультация, подбор, закупка материалов
                    li.red-list__item Весь спектр работ
                .repair-types__btn-wrapper
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .repair-types__card
                img(src="img/repair-types/services-novo.jpg", class="repair-types__img", alt="")
                .repair-types__title Ремонт квартир в новостройке
                .repair-types__price от 5000 руб/м<sup>2</sup>
                p.repair-types__text От того, насколько качественно будет произведен ремонт квартиры в Москвы и Московской области будет зависит комфорт и удобство проживания в ней. Ведь Ваша квартира изначально – это «голые стены».  В данном случае для ее отделки с нуля рекомендуется обратиться к специалистам, которые обладают большим опытом работы и профессиональными навыками.
                ul.red-list
                    li.red-list__item Устройство наливных полов
                    li.red-list__item Установка межкомнатной двери
                    li.red-list__item Грунтовка пола/стен
                    li.red-list__item Укладка ДВП
                    li.red-list__item Штукатурка стен цементной смесью
                    li.red-list__item Шпатлевка стен под оклейку обоями
                    li.red-list__item Армирование стен
                    li.red-list__item Штробление кирпичных стен под кабель
                .repair-types__btn-wrapper
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .repair-types__card
                img(src="img/repair-types/services-part.jpg", class="repair-types__img", alt="")
                .repair-types__title Частичный ремонт
                .repair-types__price от 5000 руб/м<sup>2</sup>
                p.repair-types__text Затопление, протечка, неосторожность чаще всего становятся причиной случайной порчи отделки. Частичный ремонт стен, пола или потолка – востребованный вид услуг, который не требует больших финансовых вложений, но позволяет быстро привести помещение в удовлетворительное состояние.
                ul.red-list
                    li.red-list__item Демонтаж, монтаж напольного покрытия
                    li.red-list__item Устранение мелких дефектов стен, потолка
                    li.red-list__item Грунтовка поверхности, покраска стен, поклейка обоев, декоративная штукатурка
                    li.red-list__item Частичная шпаклевка, покраска потолка
                    li.red-list__item Монтаж натяжного потолка
                    li.red-list__item Монтаж унитаза, смесителей, раковины
                    li.red-list__item Монтаж осветительных приборов, замена розеток, установка СКУД
                .repair-types__btn-wrapper
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
