mixin category-cards(blockTitle,cards)
	section.category-cards
		.container
			.block-title !{blockTitle}
			.inner
				if cards == 'middle'
					.item.item_middle
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
					.item.item_middle
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
					.item.item_middle
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
				if cards == 'small'
					.item.item_small
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
					.item.item_small
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
					.item.item_small
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.
					.item.item_small
						+img('category-cards','img','item__img','1')
						.text-container
							h2 Утепление «эконом»
							p Теплое остекление балконов - это самый лучший и выгодный вариант остекления, и подходит для практически любого  балкона или лоджии в городской квартире и даже в загородном малоэтажном доме. Оконные конструкции можно подобрать под любую задачу, от стандартного варианта из ПВХ профиля, до более дорогого из алюминия или дерева.
							p Такие окна будут сберегать тепло зимой и не выпускать прохладу в летний период. Это считается самым дорогим видом остекления, особенно если необходимо сделать балкон или лоджию теплым помещением.
							p В дополнение под теплые конструкции, все балконы с металлическим парапетом необходимо будет усилить.