section.price-cards
    .container
        .section__title.section__title--center Цены на отделку балконов и лоджий
        .price-cards__container.js-price-cards-slider
            .price-cards__card
                img(data-src="img/price-cards/prices-card-1.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Установка крыши
                    .price-cards__price от <span>6 000</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-2.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Изготовление мебели
                    .price-cards__price от <span>9 000</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-3.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Кладка парапета
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-4.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Вынос парапета
                    .price-cards__price от <span>2 900</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-5.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Внешний сайдинг
                    .price-cards__price от <span>2 000</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-6.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Жалюзи на окна
                    .price-cards__price от <span>500</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-7.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Утепление балкона
                    .price-cards__price от <span>6 300</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-8.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Внутренняя отделка балкона
                    .price-cards__price от <span>2 500</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-9.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка балкона, лоджии ПВХ-панелями
                    .price-cards__price от <span>1 100</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-10.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка балконов вагонкой
                    .price-cards__price от <span>1 700</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-11.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка балконов гипсокартоном
                    .price-cards__price от <span>1 100</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-12.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Внешняя отделка балкона
                    .price-cards__price от <span>2 000</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-13.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка потолка лоджии под ключ
                    .price-cards__price от <span>1 100</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-14.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Монтаж парапета
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-15.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Электрика на балкон
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-16.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка пола на балконе
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-17.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Утепление балкона минеральной ватой
                    .price-cards__price от <span>500</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-18.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Объединение балкона с комнатой
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-19.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Объединение балкона с кухней
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-20.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Объединение лоджии с гостиной
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-21.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Объединение лоджии со спальней
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-22.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Объединение лоджии с детской
                    .price-cards__price от <span>1 600</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-23.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка балкона ламинатом
                    .price-cards__price от <span>1 430</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-24.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Утепление балкона «Пеноплэксом»
                    .price-cards__price от <span>650</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-25.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Установка подоконников на балкон
                    .price-cards__price от <span>650</span> руб./м<sup>2</sup>
            .price-cards__card
                img(data-src="img/price-cards/prices-card-26.jpg", alt="", class="price-cards__img")
                .price-cards__content
                    .price-cards__title Отделка балкона в новостройке
                    .price-cards__price от <span>2 500</span> руб./м<sup>2</sup>


