section.table-f
	.container
		.section__title.section__title--center Цены на отделку балконов "под ключ"
		.table-f__wrapper
			table.table-f__table
				thead
					tr
						th Серия дома
						th Тип
						th Эконом
						th Стандарт
						th Люкс
				tbody
					tr
						td(data-label="Серия дома") П-44Т, П-44
						td(data-label="Тип") балкон лодочка
						td(data-label="Эконом") от 42 000 руб.
						td(data-label="Стандарт") от 55 000 руб.
						td(data-label="Люкс") от 77 300 руб.

					tr
						td(data-label="Серия дома") П-44Т, П-44
						td(data-label="Тип") балкон лодочка
						td(data-label="Эконом") от 42 000 руб.
						td(data-label="Стандарт") от 55 000 руб.
						td(data-label="Люкс") от 77 300 руб.

					tr
						td(data-label="Серия дома") П-44Т, П-44
						td(data-label="Тип") балкон лодочка
						td(data-label="Эконом") от 42 000 руб.
						td(data-label="Стандарт") от 55 000 руб.
						td(data-label="Люкс") от 77 300 руб.

					tr
						td(data-label="Серия дома") П-44Т, П-44
						td(data-label="Тип") балкон лодочка
						td(data-label="Эконом") от 42 000 руб.
						td(data-label="Стандарт") от 55 000 руб.
						td(data-label="Люкс") от 77 300 руб.

					tr
						td(data-label="Серия дома") П-44Т, П-44
						td(data-label="Тип") балкон лодочка
						td(data-label="Эконом") от 42 000 руб.
						td(data-label="Стандарт") от 55 000 руб.
						td(data-label="Люкс") от 77 300 руб.

