section(class="first-screen", style="background-image: url(img/main-otdelka/finish-bg.jpg)")
	.container
		.first-screen__content
			.first-screen__title Отделка балконов
			.first-screen__strong в Москве и области "под ключ"
			.first-screen__text
				| <b>Остекление балкона</b> <span>от 25 000 ₽</span> <br>
				| <b>Внешняя отделка парапета</b> <span>от 7 000 ₽</span> <br>
				| <b>Комплексное утепление балкона</b> <span>от 12 000 ₽</span> <br>
				| <b>Внутренняя отделка под ключ</b> <span>от 20 000 ₽</span>
			ul.first-screen__list
				li.first-screen__item
					.first-screen__big <span>1-3</span> <b>дня</b>
					| средняя продолжительность работ
				li.first-screen__item
					.first-screen__big <span>5</span> <b>лет</b>
					| гарантии и сервисное обслуживание
				li.first-screen__item
					.first-screen__big <span>1</span> <b>час</b>
					| предварительный расчет стоимости

