mixin info-cards(blockTitle)
	section.info-cards
		.container
			.block-title !{blockTitle}
			.inner
				.info-card
					a.info-card-img(href="#")
						+img('info-cards','img1', 'info-card__img','1')
					a.info-card__title(href="#") Остекление
					.info-card__text.text-container
						p Используем холодное и теплое остекление. Первое подходит для балконов-хранилищ или складов. А ПВХ окна (теплые) обеспечивают оптимальную температуру для жилого помещения, то есть для кабинетов, мини библиотек или оранжерей.
						p Устанавливаем окна со стандартными распашными механизмами открывания, а также раздвижные, поворотно откидные, глухие и комбинированные варианты.
						p Мы рекомендуем варианты окон
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('info-cards','img2', 'info-card__img','1')
					a.info-card__title(href="#") Парапет
					.info-card__text.text-container
						p Используем холодное и теплое остекление. Первое подходит для балконов-хранилищ или складов. А ПВХ окна (теплые) обеспечивают оптимальную температуру для жилого помещения, то есть для кабинетов, мини библиотек или оранжерей. <br> Устанавливаем окна со стандартными распашными механизмами открывания, а также раздвижные, поворотно откидные, глухие и комбинированные варианты. <br><br> Мы рекомендуем варианты окон
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('info-cards','img3', 'info-card__img','1')
					a.info-card__title(href="#") Кровля и козырек
					.info-card__text.text-container
						p Крыша защищает балкон и целую квартиру от внешних осадков таких как снег, дождь.  Возможен монтаж независимых (металл) конструкций и зависимых все на месте определяет технолог консультант. 
						p В комплекс услуг входит изготовление металлического каркаса, гидроизоляция, настил кровельного листа, утепление для защиты от конденсата крыши. 
						p Используемые материалы для кровли: стальные уголки, стальная полоса, специальный крепеж, краска антикоррозийная 3 в 1, детали из оцинковки с полимерным покрытием. Для дальнейшего утепления парапета используется:
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('info-cards','img4', 'info-card__img','1')
					a.info-card__title(href="#") Наружная обшивка
					.info-card__text.text-container
						p Защита балкона снаружи важная так же, как и изнутри. Наружная обшивка выполняет функции дополнительного утепления, звукоизоляции и защитного барьера от грязи и пыли, снега и дождя. 
						p Обшивка выполняется из различных материалов, которые подходят для внешних общестроительных работ. 
						p Материал крепится на новый парапет изготовленный из металла при укреплении, или на деревянный каркас-обрешетку который устанавливается с внешней стороны балкона под отделочные материалы.
						p Используемые материалы для наружней отделки 
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')

