mixin compare-types(blockTitle)
	section.compare-types
		.container
			.block-title !{blockTitle}
			.inner
				.item
					.item-images
						+img('compare-types', 'img1', 'item__img', '1')
						+img('compare-types', 'img2', 'item__img', '1')
					.item-text.text-container
						h2 Ремонт аварийных
						p При капитальном ремонте производится замена всех износившихся частей балкона. Чаще всего дело касается балконных плит и перегородок. Также устанавливается необходимое остекление или же, при особой необходимости, старое сменяется новым.
						p Внутренняя декоративная отделка помещения также входит в капитальный ремонт, но является не основной задачей, а завершающим штрихом.
				.item
					.item-images
						+img('compare-types', 'img3', 'item__img', '1')
						+img('compare-types', 'img4', 'item__img', '1')
					.item-text.text-container
						h2 Ремонт под ключ
						p При капитальном ремонте производится замена всех износившихся частей балкона. Чаще всего дело касается балконных плит и перегородок. Также устанавливается необходимое остекление или же, при особой необходимости, старое сменяется новым.
						p Внутренняя декоративная отделка помещения также входит в капитальный ремонт, но является не основной задачей, а завершающим штрихом.
				.item
					.item-images
						+img('compare-types', 'img5', 'item__img', '1')
						+img('compare-types', 'img6', 'item__img', '1')
					.item-text.text-container
						h2 Косметический ремонт
						p При капитальном ремонте производится замена всех износившихся частей балкона. Чаще всего дело касается балконных плит и перегородок. Также устанавливается необходимое остекление или же, при особой необходимости, старое сменяется новым.
						p Внутренняя декоративная отделка помещения также входит в капитальный ремонт, но является не основной задачей, а завершающим штрихом.