mixin services-previews(blockTitle)
	section.services-previews
		+section-shape
		.container
			.block-title !{blockTitle}
			.inner
				a(href="#").item
					+img('services-previews', 'img1', 'item__img', '1')
					.item-inner
						.item__title Укрепление балкона
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img2', 'item__img', '1')
					.item-inner
						.item__title Вынос балкона
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img3', 'item__img', '1')
					.item-inner
						.item__title Внешняя отделка
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img4', 'item__img', '1')
					.item-inner
						.item__title Козырек на балкон
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img5', 'item__img', '1')
					.item-inner
						.item__title Крыша на балкон
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img6', 'item__img', '1')
					.item-inner
						.item__title Снегозадержатели на крышу
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img7', 'item__img', '1')
					.item-inner
						.item__title Шумоизоляция крыши
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img8', 'item__img', '1')
					.item-inner
						.item__title Обогрев крыши
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img9', 'item__img', '1')
					.item-inner
						.item__title Остекление
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img10', 'item__img', '1')
					.item-inner
						.item__title Утепление 
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img11', 'item__img', '1')
					.item-inner
						.item__title Отделка внутренняя
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
				a(href="#").item
					+img('services-previews', 'img12', 'item__img', '1')
					.item-inner
						.item__title Мебель на балкон
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 3 520 ₽/м<sup>2</sup>
							.item__link(href="#") Подробнее
