section.stages
	.container
		.section__title.section__title--center Этапы отделки балконов и лоджий
		.stages__container.js-stages-slider
			.stages__card.stages__card--lg
				img(data-src="img/stages/stages-1.jpg", alt="", class="stages__img")
				.stages__content
					.stages__title Предварительный осмотр
					.stages__text К вам приезжает мастер на бесплатный замер, после которого обсуждаются рабочие нюансы, определяются материалы и разрабатывается примерный проект балкона. После вам называется окончательная цена работ.
					.stages__block
						| Шаг
						.stages__numb
			.stages__card.stages__card--lg
				img(data-src="img/stages/stages-2.jpg", alt="", class="stages__img")
				.stages__content
					.stages__title Демонтаж
					.stages__text Вся старая отделка счищается, ветхие конструкции удаляются. Парапет и основание проверяется на прочность, и в случае необходимости ремонтируются.
					.stages__block
						| Шаг
						.stages__numb
			.stages__card.stages__card--sm
				img(data-src="img/stages/stages-3.jpg", alt="", class="stages__img")
				.stages__content
					.stages__title Установка
					.stages__text Вариант остекления обсуждается на моменте составления договора.
					.stages__block
						| Шаг
						.stages__numb
			.stages__card.stages__card--sm
				img(data-src="img/stages/stages-4.jpg", alt="", class="stages__img")
				.stages__content
					.stages__title Монтаж утеплителя
					.stages__text Все материалы выбираются заранее на этапе составления договора. Варианты: пенополистирол, теплофол или пеноплекс.
					.stages__block
						| Шаг
						.stages__numb
			.stages__card.stages__card--sm
				img(data-src="img/stages/stages-5.jpg", alt="", class="stages__img")
				.stages__content
					.stages__title Обшивка помещения
					.stages__text Используется: штукатурка, деревянные панели, гипсокартон или металлопрофиль.
					.stages__block
						| Шаг
						.stages__numb
