section.why-we
 .container
     .why-we__container
         .why-we__item.why-we__item--colored
             .section__title Почему стоит выбрать именно нас
         .why-we__item
             img(src="img/why-we/why-icon-1.png", class="why-we__img", alt="")
             .why-we__text Проведение работ по монтажу в соответствии со строительными нормативами.
         .why-we__item
             img(src="img/why-we/why-icon-2.png", class="why-we__img", alt="")
             .why-we__text Выполнение всех действий квалифицированными сотрудниками.
         .why-we__item
             img(src="img/why-we/why-icon-3.png", class="why-we__img", alt="")
             .why-we__text Качество работ контролируется не только прорабом, но и технологом.
         .why-we__item
             img(src="img/why-we/why-icon-4.png", class="why-we__img", alt="")
             .why-we__text Составление сметной документации, которая остается неизменной от начала работ до сдачи.
         .why-we__item
             img(src="img/why-we/why-icon-5.png", class="why-we__img", alt="")
             .why-we__text Вы платите только после завершения работ.
         .why-we__item
             img(src="img/why-we/why-icon-6.png", class="why-we__img", alt="")
             .why-we__text Мы оказываем услуги точно в обговоренные сроки с соблюдением графика.
         .why-we__item
             img(src="img/why-we/why-icon-7.png", class="why-we__img", alt="")
             .why-we__text Более 12 000 заказчиков с 2003 года