section(class="mainblock", style="background-image: url(/img/mainblock/main-bg.png)")
	.container 
		.flex-wrapper
			.mainblock__content
				h1.page-title Ремонт квартир под ключ в Москве и Московской области со скидкой 10%
				.mainblock__economy 
					.mainblock__item
						p.mainblock__text до 
							span 52 000
							| руб 
			.mainblock__form-wrapper
