.mainblock {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	color: #FFFFFF;
	&__content {
		width: calc(70% - 25px);
	}
	&__form-wrapper {
		width: calc(30% - 25px);
	}
	.page-title {
		max-width: 510px;
		margin-bottom: 40px;
		font: 800 32px/40px 'Raleway';
	}
}