section(class="mainblock", style="background-image: url(/img/mainblock/main-bg.png)")
	.container 
		.flex-wrapper
			.mainblock__content
				h1.page-title Ремонт квартир под ключ в Москве и Московской области со скидкой 10%
				.mainblock__economy 
					.mainblock__item
						p.mainblock__text до 
							span  52 000
							|  руб
						p.mainblock__room 1-комнатная <br>  квартира по ключ
					.mainblock__item
						p.mainblock__text до
							span  100 000
							|  руб
						p.mainblock__room 2-комнатная  <br>  квартира по ключ
					.mainblock__item
						p.mainblock__text до
							span  180 000
							|  руб
						p.mainblock__room 3-комнатная <br>  квартира по ключ
				.mainblock__utp от 2 800 ₽/м<sup>2</sup> с гарантией 1 год!
			.mainblock__form-wrapper
				.mainblock__title Не откладывайте принятие решения на длительное время!
				.mainblock__lowercase Отправьте заявку прямо сейчас и получите ответы на ВСЕ Ваши вопросы!
				.form
					.form__field
						input(type="text", class="form__input", name="name", placeholder="Ваше имя")
					.form__field
						input(type="tel", class="form__input", name="tel", placeholder="+7 (___) ___-__-__")
					.form__field
						button(type="submit", class="btn form__submit") Отправить заявку