section.banner-s
    .banner-s__left(style={'background-image': 'url(/img/banner-s-repair/banner-repair-left.jpg)'})
    .banner-s__right(style={'background-image': 'url(/img/banner-s-repair/banner-repair-right.jpg)'})
    .container
        .banner-s__inner
           .section__title.mb-0 Ремонт окон в Москве
           .banner-s__info Восстановим конструкцию за один день!
           .banner-s__text «BerlinTM» предлагает ремонт и обслуживание окон в Москве и области по низким ценам. Нашими услугами пользуются, как владельцы квартир и домов, так и компании, организации, фирмы. Абсолютно на все ремонтные работы предоставляется гарантия.
