section.measurement
    .container
        .section__title.section__title--center Закажите бесплатный замер
        p.measurement__text Выезжаем на следующий день.
        .measurement__form.form
            .form__wrapper
                .form__field.form__field--hr-30
                    input(type="text", class="form__input", name="name", placeholder="Ваше имя")
                .form__field.form__field--hr-30
                    input(type="tel", class="form__input", name="tel", placeholder="Телефон (обязательно)")
                .form__field.form__field--hr-30
                    button(type="submit", class="btn form__submit") Отправить заявку