section.examples
    .container
        .section__title.section__title--center Примеры выполненных работ
        .examples__slider
            .examples__slide
                .examples__wrapper
                    img(data-src="img/examples/examples-1.jpg", alt="", class="examples__img")
                .examples__content
                    .examples__title Ремонт лоджии длинной 3 метра с отделкой и утепленем
                    .examples__price от <span>50 600</span> руб./окно
                    .examples__key Цена “под ключ” от 45 200 руб./окно
                    .examples__list
                        .examples__item
                            .examples__inner Остекление ПВХ профиль Rehau Blitz
                            .examples__inner
                                span 38 500
                                |  руб.

                        .examples__item
                            .examples__inner Монтаж черновых полов брус + влагостойкая фанера
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Настил линолеума
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пенофолом
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пеноплексом
                            .examples__inner
                                span 8 800
                                |  руб.

                        .examples__item
                            .examples__inner Отделка стен и потолка ПВХ панелями
                            .examples__inner
                                span 23 200
                                |  руб.

                        .examples__item
                            .examples__inner Отделка откосов на балконном блоке
                            .examples__inner
                                span 4 200
                                |  руб.

                        .examples__item
                            .examples__inner Установка ПВХ подоконника
                            .examples__inner
                                span 1 300
                                |  руб.

                        .examples__item
                            .examples__inner Доставка материалов
                            .examples__inner
                                span 2 300
                                |  руб.

            .examples__slide
                .examples__wrapper
                    img(data-src="img/examples/examples-2.jpg", alt="", class="examples__img")
                .examples__content
                    .examples__title Ремонт лоджии с теплым полом и электрикой (стандартной трехметровой)
                    .examples__price от <span>50 600</span> руб./окно
                    .examples__key Цена “под ключ” от 45 200 руб./окно
                    .examples__list
                        .examples__item
                            .examples__inner Остекление ПВХ профиль Rehau Blitz
                            .examples__inner
                                span 38 500
                                |  руб.

                        .examples__item
                            .examples__inner Монтаж черновых полов брус + влагостойкая фанера
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Настил линолеума
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пенофолом
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пеноплексом
                            .examples__inner
                                span 8 800
                                |  руб.

                        .examples__item
                            .examples__inner Отделка стен и потолка ПВХ панелями
                            .examples__inner
                                span 23 200
                                |  руб.

                        .examples__item
                            .examples__inner Отделка откосов на балконном блоке
                            .examples__inner
                                span 4 200
                                |  руб.

                        .examples__item
                            .examples__inner Установка ПВХ подоконника
                            .examples__inner
                                span 1 300
                                |  руб.

                        .examples__item
                            .examples__inner Доставка материалов
                            .examples__inner
                                span 2 300
                                |  руб.

            .examples__slide
                .examples__wrapper
                    img(data-src="img/examples/examples-1.jpg", alt="", class="examples__img")
                .examples__content
                    .examples__title Ремонт лоджии длинной 3 метра с отделкой и утепленем
                    .examples__price от <span>50 600</span> руб./окно
                    .examples__key Цена “под ключ” от 45 200 руб./окно
                    .examples__list
                        .examples__item
                            .examples__inner Остекление ПВХ профиль Rehau Blitz
                            .examples__inner
                                span 38 500
                                |  руб.

                        .examples__item
                            .examples__inner Монтаж черновых полов брус + влагостойкая фанера
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Настил линолеума
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пенофолом
                            .examples__inner
                                span 3 700
                                |  руб.

                        .examples__item
                            .examples__inner Утепение стен и потолка пеноплексом
                            .examples__inner
                                span 8 800
                                |  руб.

                        .examples__item
                            .examples__inner Отделка стен и потолка ПВХ панелями
                            .examples__inner
                                span 23 200
                                |  руб.

                        .examples__item
                            .examples__inner Отделка откосов на балконном блоке
                            .examples__inner
                                span 4 200
                                |  руб.

                        .examples__item
                            .examples__inner Установка ПВХ подоконника
                            .examples__inner
                                span 1 300
                                |  руб.

                        .examples__item
                            .examples__inner Доставка материалов
                            .examples__inner
                                span 2 300
                                |  руб.


