.seo-block {
	& p {
		margin-bottom: 20px;
	}
	& h2,
	& h3{
		font: 700 24px/30px 'Raleway';
		margin-bottom: 20px;
	}
	& ul {
		list-style: none;
		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 11px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #000;
			}
		}
	}
}