.section.container
	.section__title Наши услуги по типу помещения
	.color-table
		.color-table__wrapper
			.color-table__col.color-table__col--md.color-card
				.color-card__head <b>Тип объекта (Квартира/Дом)</b>
				.color-card__item 1-комнатная (35-65 м²)
				.color-card__item 2-комнатная (60-110 м²)
				.color-card__item 3-комнатная (80-130 м²)
				.color-card__item 4-комнатная (130-180 м²)
				.color-card__item Коттедж (200-600 м²)
				.color-card__item Таунхаус (150-180 м²)
			.color-table__col.color-table__col--sm.color-card
				.color-card__head <b>Косметический</b> (Срок/дней)
				.color-card__item 30-45
				.color-card__item 40-50
				.color-card__item 50-70
				.color-card__item 50-80
				.color-card__item 50-80
				.color-card__item 60-90
			.color-table__col.color-table__col--sm
			.color-table__col.color-table__col--sm