.section.container
	.section__title Наши услуги по типу помещения
	.color-table
		.color-table__wrapper
			.color-table__col.color-table__col--md
				.color-card
					.color-card__item.color-card__item--head 
						span <b>Тип объекта (Квартира/Дом)</b>
					.color-card__item 1-комнатная (35-65 м²)
					.color-card__item 2-комнатная (60-110 м²)
					.color-card__item 3-комнатная (80-130 м²)
					.color-card__item 4-комнатная (130-180 м²)
					.color-card__item Коттедж (200-600 м²)
					.color-card__item Таунхаус (150-180 м²)
			.color-table__col.color-table__col--sm
				.color-card
					.color-card__item.color-card__item--head.color-card__item--center 
						span.color-card__text <b>Косметический</b><br/>(Срок/дней)
					.color-card__item.color-card__item--center 30-45
					.color-card__item.color-card__item--center 40-50
					.color-card__item.color-card__item--center 50-70
					.color-card__item.color-card__item--center 50-80
					.color-card__item.color-card__item--center 50-80
					.color-card__item.color-card__item--center 60-90
			.color-table__col.color-table__col--sm
				.color-card
					.color-card__item.color-card__item--head.color-card__item--center 
						span.color-card__text <b>Капитальный</b><br/>(Срок/дней)
					.color-card__item.color-card__item--center 60-70
					.color-card__item.color-card__item--center 70-80
					.color-card__item.color-card__item--center 90-100
					.color-card__item.color-card__item--center 90-120
					.color-card__item.color-card__item--center 90-120
					.color-card__item.color-card__item--center 90-120
			.color-table__col.color-table__col--sm
				.color-card
					.color-card__item.color-card__item--head.color-card__item--center 
						span.color-card__text <b>Элитный</b><br/>(Срок/дней)
					.color-card__item.color-card__item--center 70-90
					.color-card__item.color-card__item--center 80-100
					.color-card__item.color-card__item--center 100-120
					.color-card__item.color-card__item--center 100-140
					.color-card__item.color-card__item--center 100-150
					.color-card__item.color-card__item--center 110-130