.glazing-types-tabs {
	padding: 50px 0;
	@include max-screen(1200px) {
		padding: 20px 0;
	}

	.container {
		max-width: 1230px;
	}
	.tabs {
		&-list {
			display: flex;
			flex-wrap: nowrap;
			margin: 0 auto 26px;
			overflow-x: auto;
			white-space: nowrap;
			max-width: 1116px;
			@include scroll(null, 5px, $lightGray2, $lightGray, null, null);
			&-item {
				margin: 0 12px 8px;
			}
			&__link {
				min-width: 344px;
				min-height: 82px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				text-decoration: none;
				background: $shapeBg;
				font-size: 20px;
				border-radius: 15px;
				color: $title;
				font-weight: 700;
				@include max-screen(1000px) {
					font-size: 16px;
					min-width: 200px;
					min-height: 60px;
				}
				&.active {
					color: #fff;
					background: $btn-gradient;
				}
			}
		}
		&-content {
			padding: 36px;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(129, 151, 231, 0.15);
			border-radius: 15px;
			overflow: hidden;
			@include max-screen(1000px) {
				padding: 15px;
			}

			.text-container {
				overflow: auto;
				width: 100%;
				padding-right: 10px;
				height: 250px;
				margin-bottom: 20px;
				@include scroll(5px, null, $lightGray2, $lightGray, null, null);
				@include max-screen(1000px) {
					height: auto;
				}
			}
		}
		&-tab {
			&-inner {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			&-left {
				width: 43%;
				@include max-screen(1000px) {
					margin-bottom: 15px;
					width: 100%;
				}
			}
			&-right {
				width: 55%;
				@include max-screen(1000px) {
					width: 100%;
				}
			}
			&-img {
				position: relative;
				@include max-screen(599px) {
					display: none;
				}
			}
			&__img {
				width: 100%;
				height: 293px;
				border-radius: 15px;
				@include max-screen(1000px) {
					height: 170px;
				}
			}
			&__title {
				font-size: 25px;
				font-weight: 700;
				line-height: 1.4;
				margin-bottom: 25px;
				@include max-screen(1000px) {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}

		&-cards {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
		&-card {
			width: 48%;
			&__title {
				font-weight: 700;
				font-size: 18px;
				margin-bottom: 26px;
				@include max-screen(599px) {
					font-size: 15px;
				}
			}
			&__img {
				height: 159px;
				margin: 0 auto;
				width: auto;
				margin-bottom: 22px;
				@include max-screen(599px) {
					height: 115px;
				}
			}
			&__name {
				text-align: center;
				font-size: 20px;
				font-weight: 800;
				line-height: 1.2;
				margin-bottom: 16px;
				@include max-screen(599px) {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}
			&__price {
				color: $orange;
				font-size: 25px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 20px;
				@include max-screen(599px) {
					font-size: 16px;
				}
			}
			&__list {
				margin-bottom: 40px;
				@include max-screen(599px) {
					margin-bottom: 20px;
					font-size: 12px;
				}
				li {
					margin-bottom: 6px;
					line-height: 1.6;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}
			}
			&__link {
				display: block;
				max-width: 203px;
				width: 100%;
				margin: 0 auto;
			}
		}
	}
	.temperature {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: absolute;
		left: 12px;
		top: 12px;
		&-item {
			width: 71px;
			height: 71px;
			border-radius: 100%;
			background: #fff;
			margin: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			line-height: 1.2;
			&_from {
				.temperature-item__num {
					color: $blue2;
				}
			}
			&_to {
				.temperature-item__num {
					color: $orange;
				}
			}
			&__text {
				font-size: 10px;
				font-weight: 700;
			}
			&__num {
				font-weight: 700;
				font-size: 25px;
			}
		}
	}
}