mixin contact
	section.contact
		.container
			.contact-left
				#map
			.contact-right
				.contact-right-inner
					.block-title Приезжайте в гости на кофе в офис
					.block-text мы всё расскажем про ремонты балконов и познакомимся поближе :)
					a.btn(href="#") Как проехать