.about {
	padding: 80px 0;
	background: $sectionBg;
	position: relative;
	overflow: hidden;
	@include max-screen(1600px) {
		padding: 30px 0;
	}

	.section-shape {
		position: absolute;
		z-index: 0;
		&:nth-child(1) {
			left: 2%;
			top: 66%;
			width: 40%;
			transform: rotate(-60deg);
		}
		&:nth-child(2) {
			width: 44%;
			right: 0;
			top: 0;
			transform: translate(30%, -30%) rotate(25deg);
		}
	}

	& > div {
		position: relative;
		z-index: 1;
	}

	&__img {
		width: 30%;
		height: 100%;
		object-fit: cover;
		@include max-screen(599px) {
			width: 100%;
			height: 200px;
			object-position: top center;
		}
	}

	.container {
		max-width: 1270px;
		@include max-screen(1300px) {
			max-width: 1200px;
		}
	}
	.block-title {
		text-align: left;
	}
	.inner {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 540px;
		background: #FFFFFF;
		box-shadow: $header-shadow;
		border-radius: 15px;
		overflow: hidden;
		margin-bottom: 40px;
		@include max-screen(599px) {
			flex-direction: column;
			height: auto;
		}
	}
	.tabs {
		width: 70%;
		padding: 38px 57px;
		@include max-screen(900px) {
			padding: 20px;
		}
		@include max-screen(599px) {
			width: 100%;
		}
		&-list {
			display: flex;
			flex-wrap: nowrap;
			margin-bottom: 16px;
			overflow-x: auto;
			white-space: nowrap;
			@include scroll(null, 5px, $lightGray2, $lightGray, null, null);
			&-item {
				margin-bottom: 8px;
				&:not(:last-child) {
					margin-right: 33px;
					@include max-screen(900px) {
						margin-right: 15px;
					}
				}
			}
			&__link {
				background: $shapeBg;
				border-radius: 15px;
				padding: 14px 36px;
				color: $title;
				text-decoration: none;
				font-size: 18px;
				font-weight: 700;
				display: block;
				&.active,
				&:hover {
					color: $orange;
				}
			}
		}
		&-tab {
			display: none;
			&.active {
				display: block;
			}
			.text-container {
				height: 380px;
				overflow: auto;
				@include scroll(5px, null, $lightGray2, $lightGray, null, null);
				@include max-screen(599px) {
					height: auto;
				}
			}
		}
	}
	.attantion {
		display: flex;
		align-items: center;
		@include max-screen(599px) {
			display: none;
		}
		&__icon {
			width: 58px;
			height: 58px;
			border-radius: 58px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: 700;
			font-size: 23px;
			margin-right: 26px;
			background: rgba(255, 90, 0, 0.5);
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 42px;
				height: 42px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				background: $orange;
				border-radius: 100%;
			}
			& > b {
				position: relative;
				z-index: 2;
			}
		}
		&__text {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.6;
		}
	}
}