mixin about(blockTitle)
	section.about
		+section-shape
		+section-shape
		.container
			.block-title !{blockTitle} 
			.inner
				+img('about', 'me', 'about__img', '1')
				.tabs
					ul.tabs-list
						li.tabs-list-item
							a.tabs-list__link.active(href="#" data-tab="about-tab1") О компании
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="about-tab2") Наш руководитель
						li.tabs-list-item
							a.tabs-list__link(href="#" data-tab="about-tab3") Наша миссия
					.tabs-content
						.tabs-tab.active(data-tab="about-tab1")
							.text-container
								h2 Компания ЭлитБалкон
								p Наша компания специализируется только на комплексных услугах по ремонту лоджий «под ключ»: вся наша работа начинается с осмотра помещения и выявления необходимости «укрепления парапетов и плит балконов», а заканчивается финальной технической проверкой качества монтажа по 10 позициям.
								p Опыт компании «ЭлитБалкон» - более 19 лет на рынке. Оказываем услуги по ремонту балконов и лоджий в Москве и области. Все наши специалисты нанимались на работу с опытом работы не менее 5 лет. Каждый заказ мы выполняем четко по установленному регламенту с использованием дорогих и качественных материалов.
						.tabs-tab(data-tab="about-tab2")
							.text-container
								h2 Наш руководитель
								p Наша компания специализируется только на комплексных услугах по ремонту лоджий «под ключ»: вся наша работа начинается с осмотра помещения и выявления необходимости «укрепления парапетов и плит балконов», а заканчивается финальной технической проверкой качества монтажа по 10 позициям.
								p Опыт компании «ЭлитБалкон» - более 19 лет на рынке. Оказываем услуги по ремонту балконов и лоджий в Москве и области. Все наши специалисты нанимались на работу с опытом работы не менее 5 лет. Каждый заказ мы выполняем четко по установленному регламенту с использованием дорогих и качественных материалов.
						.tabs-tab(data-tab="about-tab3")
							.text-container
								h2 Наша миссия
								p Наша компания специализируется только на комплексных услугах по ремонту лоджий «под ключ»: вся наша работа начинается с осмотра помещения и выявления необходимости «укрепления парапетов и плит балконов», а заканчивается финальной технической проверкой качества монтажа по 10 позициям.
								p Опыт компании «ЭлитБалкон» - более 19 лет на рынке. Оказываем услуги по ремонту балконов и лоджий в Москве и области. Все наши специалисты нанимались на работу с опытом работы не менее 5 лет. Каждый заказ мы выполняем четко по установленному регламенту с использованием дорогих и качественных материалов.
			.attantion 
				.attantion__icon <b>!</b>
				.attantion__text Мы даем гарантии на выполненные работы, Ваш обновленный балкон будет <br> радовать Вас на протяжении более 25 лет