section.content-block
    .container
        .flex-wrapper
            img(data-src="img/content-block/content-block-1.jpg", alt="", class="content-block__img")
            .content-block__content.text-container
                h2 Отделка балконов и лоджий
                p Давайте сразу договоримся, в понятие отделка мы будем также включать утепление пола, потолка и парапета. У лоджии дополнительно к сказанному утепляются две боковые стены.
                p При консультации по телефону и предварительном расчёте за основу берётся площадь помещения, без учёта возможных дополнительных расходов. Уже на месте наш технолог произведёт комплексное обследование и определит необходимость обязательных работ, без выполнения которых качественное выполнение отделки будет невозможно.
                p В качестве отделочных материалов в 70% случаев используются универсальные и неприхотливые в эксплуатации панели из пластика. Причем, хотелось бы подчеркнуть, современные ПВХ панели с ламинированным слоем, это далеко не те дешёвые окрашенные листы, что были 5-10 лет назад (продавливались от лёгкого прикосновения, выгорали на солнце и имели довольно неприглядный вид). Толщина защитного слоя современных материалов в два, а то и в три раза больше, а огромный выбор цветов и текстуры позволяет имитировать натуральное дерево, кирпич, искусственный камень, обои, клинкерную плитку, декоративную штукатурку и т.п.

