section(class="warranty", style="background-image: url(/img/warranty/warranty-bg.jpg)")
    .container
        .section__title.section__title--center Гарантируем низкие цены!!!
        .warranty__text Пришлите нам сметную документацию, составленную сотрудниками другой фирмы, удостоверьтесь, что в нашей компании услуги стоят дешевле. Мы сделаем точные расчеты, проконсультируем и предложим оптимальный вариант стоимости ремонта квартиры.

