body {
	background: #fff;
	overflow-x: hidden;
	@include scroll(10px, null, $lightGray2, $lightGray, null, null);
	font: normal 14px/18px 'Raleway';
	color: #000;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	@include max-screen(1260px) {
		padding: 0 15px;
	}
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form {
	&__field {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&--hr-30 {
			width: calc(33.3% - 30px);
			@include max-screen(991px) {
				width: 100%;
			}
		}
	}
	&__input {
		width: 100%;
		padding: 20px!important;
		background: #fff;
		color: #000!important;
		height: auto!important;
		border-radius: 5px!important;
		&::placeholder {
			color: #B1B1B1!important;
		}
	}
	&__submit {
		width: 100%;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include max-screen(991px) {
			flex-direction: column;
		}
	}
}

.btn {
	display: inline-block;
	background: #ED5A27;
	border-radius: 5px;
	padding: 20px!important;
	text-align: center;
	font: 800 14px/18px 'Tahoma';
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s;
	&:hover,
	&:focus {
		color: #ededed;
	}
}

.btn-invert {
	display: inline-block;
	text-decoration: none;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	font: 800 14px/18px 'Tahoma';
	color: #2C2C2C;
	cursor: pointer;
	border: 1px solid #2C2C2C;
	transition: all 0.3s;
	&:hover,
	&:focus {
		color: #ED5A27;
		border-color: #ED5A27;
	}
}

.slider-arrow {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #EB5A27;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: none;
	transition: transform 0.3s;
	top: 50%;
	z-index: 1;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slick-slider .slick-list,
.slick-slider .slick-track {
	display: flex;
}
.slick-prev {
	left: 10px;
}
.slick-next {
	right: 10px;
}
.slider-arrow svg {
	width: 20px;
	height: 30px;
	fill: #fff;
}

section {
	margin-bottom: 60px;
	@include max-screen(1200px) {
		margin-bottom: 30px;
	}
}

.section__title {
	font: 700 24px/30px 'Raleway';
	margin-bottom: 20px;
	@include max-screen(480px) {
		font: 700 20px/24px 'Raleway';
		text-align: center;
	}
	&--center{
		text-align: center;
	}
	&--white {
		color: #fff;
	}
}

.nowrap {
	white-space: nowrap;
}

.red-list {
	margin-bottom: 40px;
	@include max-screen(480px) {
		margin-bottom: 0;
	}
	&__item {
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		&::before {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: #ED5A27;
		}
	}
}


//
//.block-title {
//	text-align: center;
//	text-transform: uppercase;
//	margin-bottom: 40px;
//	font-weight: 700;
//	font-size: 35px;
//	line-height: 1.4;
//	@include max-screen(1600px) {
//		font-size: 28px;
//		margin-bottom: 30px;
//	}
//	@include max-screen(1200px) {
//		font-size: 24px;
//		margin-bottom: 30px;
//	}
//	@include max-screen(599px) {
//		font-size: 20px;
//		margin-bottom: 20px;
//	}
//	@include max-screen(370px) {
//		font-size: 18px;
//	}
//	&_left {
//		text-align: left;
//	}
//}
//.block-subtitle {
//	text-align: center;
//	margin-bottom: 25px;
//	font-weight: 700;
//	font-size: 18px;
//	line-height: 1.2;
//	@include max-screen(1600px) {
//		margin-bottom: 15px;
//	}
//	@include max-screen(599px) {
//		font-size: 16px;
//	}
//	@include max-screen(400px) {
//		font-size: 14px;
//	}
//}
//.block-text {
//	text-align: center;
//	margin-bottom: 25px;
//	font-size: 18px;
//	line-height: 1.6;
//	@include max-screen(1600px) {
//		font-size: 16px;
//	}
//	@include max-screen(599px) {
//		margin-bottom: 15px;
//		line-height: 1.2;
//		font-size: 14px;
//	}
//}
//
//.form {
//	&-item {}
//	&-group {}
//	&-controls {}
//
//	&__field {
//		line-height: 49px;
//		width: 100%;
//		height: 49px;
//		border-radius: 30px;
//		border: 1px solid $border;
//		font-weight: 500;
//		font-size: 16px;
//		color: $title;
//		padding: 0 37px;
//		background: #fff;
//		&:focus {
//			border-color: $orange;
//		}
//
//		&::placeholder {
//			font-weight: 500;
//			font-size: 16px;
//			color: $title;
//		}
//	}
//
//	&__submit {
//		display: block;
//		width: 100%;
//	}
//
//	&__text {
//		line-height: 1.4;
//		@include max-screen(1600px) {
//			font-size: 12px;
//		}
//		a {
//			text-decoration: none;
//			color: $title;
//			&:hover {
//				color: $orange;
//			}
//		}
//	}
//}
//
//.arrow {
//	display: inline-block;
//	width: 50px;
//	height: 50px;
//	border-radius: 100%;
//	cursor: pointer;
//	background: $lightGray;
//	&:hover {
//		background: $btn-gradient;
//		.icon {
//			fill: #fff;
//		}
//	}
//	@include max-screen(1900px) {
//		margin: 5px;
//	}
//	@include max-screen(599px) {
//		width: 30px;
//		height: 30px;
//	}
//	&.swiper-button-disabled {
//		opacity: 0;
//		cursor: default;
//		.icon {
//			fill: $lightGray2;
//		}
//	}
//
//	.icon {
//		display: inline-block;
//		width: 18px;
//		fill: #fff;
//		@include max-screen(700px) {
//			width: 12px;
//		}
//	}
//}
//
//.swiper-container {
//	margin: 0;
//}
//
//.breadcrumbs {
//	position: relative;
//	z-index: 3;
//	margin-bottom: -40px;
//	@include max-screen(1200px) {
//		margin: 0;
//		padding: 15px 0;
//	}
//	&-list {
//		display: flex;
//		justify-content: flex-start;
//		flex-wrap: wrap;
//		white-space: nowrap;
//
//		&-item {
//			&:last-child {
//				.breadcrumbs-list__link {
//					pointer-events: none;
//				}
//			}
//
//			&:not(:first-child) {
//				margin: 0 0 0 26px;
//
//				.breadcrumbs-list__link {
//					&:before {
//						content: '';
//						display: inline-block;
//						width: 10px;
//						height: 10px;
//						border-radius: 10px;
//						background: $orange;
//						position: absolute;
//						left: -18px;
//						top: 6px;
//					}
//				}
//			}
//		}
//
//		&__link {
//			position: relative;
//			color: $orange;
//			font-size: 16px;
//			line-height: 1;
//			text-decoration: none;
//			&:hover {
//				color: $title;
//			}
//		}
//	}
//}
//
//.tabs {
//	&-tab {
//		display: none;
//
//		&.active {
//			display: block;
//		}
//	}
//}
//
//.sections-wrap {
//	@include section-shadow;
//	z-index: 2;
//	background: #fff;
//}
//
//.section-shape {
//	@include max-screen(700px) {
//		display: none !important;
//	}
//}
//
//
//a {
//	transition: color .3s ease;
//	&:after,
//	&:before {
//		transition: background-color .3s ease, width .3s ease, height .3s ease;
//	}
//}
// @include scroll(null, 5px, $lightGray2, $lightGray, null, null);