.text-container {
	line-height: 1.2;
	h1 {

	}
	h2 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
		@include max-screen(1200px) {
			font-size: 18px;
		}
		span {
			font-size: 16px;
			@include max-screen(1200px) {
				font-size: 14px;
			}
		}
	}
	h3 {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
		@include max-screen(1200px) {
			font-size: 16px;
		}
	}
	h4 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
		@include max-screen(1200px) {
			font-size: 14px;
		}
	}
	p {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		@include max-screen(1600px) {
			font-size: 16px;
		}
		@include max-screen(1200px) {
			font-size: 14px;
		}
	}
	ul {
		padding-left: 20px;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		@include max-screen(1600px) {
			font-size: 16px;
		}
		@include max-screen(1200px) {
			font-size: 14px;
		}
	}
	ol {
		padding-left: 20px;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		@include max-screen(1600px) {
			font-size: 16px;
		}
		@include max-screen(1200px) {
			font-size: 14px;
		}
		li {

		}
	}
	a {
		color: $title;
	}
}
