// url
$img: '../img/';

// colors
$title: #2F2F2F;
$text: #3A3A3A;
$text2: #453A3A;
$border: #45476A;
$placeholderGray: #C4C4C4;
$footerGray: #6A6A6A;
$footerRightBg: #737589;
$orange: #FF5A00;
$lightGray: #E0E1F0;
$lightGray2: #8D90C3;
$lightGray3: #F8F8FB;
$shapeBg: #F5F7FE;
$shapeBg2: #E9EDFA;
$green: #71C354;
$red: #E53C3C;
$blue: #7BBCE1;
$blue2: #193AE2;
$gray: #8C8C8C;
$gray2: #82849A;
$gray3: #BCBED1;
$sectionBg: #FDFDFD;

// fonts
$mainFont: 'Raleway', 'Arial', 'Helvetica', sans-serif;
$secondFont: 'Tahoma', 'Arial', 'Helvetica', sans-serif;

// shadows
$header-shadow: 0px 4px 15px rgba(129, 151, 231, 0.15);

// gradients
$btn-gradient: linear-gradient(269.17deg, #F9B44D 3.28%, #FF5A00 99.29%);
