section.installment.mb-0
    .container.installment__container
        .installment__left(style={'background-image': 'url(/img/installment/installment_percent.png)'})
            img(src="/img/installment/installment_man.png", alt="", class="installment__abs-img")
        .installment__inner
            .section__title Рассрочка на 6 - 10 месяцев
            .installment__text Узнайте детали у нашего менеджера
            a(href="#zakaz", class="btn js-popup-open") Отправить заявку

