section.links-block
	.container
		.links-block__container
			a(href="#", class="links-block__link") Ремонт квартир Балашиха
			a(href="#", class="links-block__link") Ремонт квартир Ивантеевка
			a(href="#", class="links-block__link") Ремонт квартир Королёв
			a(href="#", class="links-block__link") Ремонт квартир Мытищи
			a(href="#", class="links-block__link") Ремонт квартир Пушкино
			a(href="#", class="links-block__link") Ремонт квартир Фрязино
			a(href="#", class="links-block__link") Ремонт квартир Щёлково

