section.window-services
    .container
        .section__title.section__title--center Услуги по ремонту окон
        .window-services__container.js-ws-slider
            .window-services__card
                img(src="img/services-w/ws-1.jpg", alt="", class="window-services__img")
                .window-services__content Ремонт разных окон: пластик, дерево, алюминий, а также ремонтируем мансардные окна
            .window-services__card
                img(src="img/services-w/ws-2.jpg", alt="", class="window-services__img")
                .window-services__content Ремонт пластиковых дверных конструкций

            .window-services__card
                img(src="img/services-w/ws-3.jpg", alt="", class="window-services__img")
                .window-services__content Регулировка окон различных типов

            .window-services__card
                img(src="img/services-w/ws-4.jpg", alt="", class="window-services__img")
                .window-services__content Восстановление окон из дерева по шведской технологии

            .window-services__card
                img(src="img/services-w/ws-5.jpg", alt="", class="window-services__img")
                .window-services__content Работы с фурнитурными элементами окна: ремонт и замена
            .window-services__card
                img(src="img/services-w/ws-6.jpg", alt="", class="window-services__img")
                .window-services__content Замена оконных уплотнителей
            .window-services__card
                img(src="img/services-w/ws-7.jpg", alt="", class="window-services__img")
                .window-services__content Демонтаж и замена стекол
            .window-services__card
                img(src="img/services-w/ws-8.jpg", alt="", class="window-services__img")
                .window-services__content Монтаж защитной фурнитуры для детей (замки, решетки, ручки


