.project-calc.container
	.project-calc__title Калькулятор стоимости отделки и остекления<br/> балконов и лоджий
	.project-calc__wrapper
		.project-calc__control.project-calc__control-left
			.project-calc__group
				.project-calc__name Вид остекления
				input(id="radio-typeof-glass-warm" type="radio" name="typeof-glass" checked="true").project-calc__radio
				label(for="radio-typeof-glass-warm" data-src="img/project-calc/glass-default/project-calc-default-inside-warm.png").project-calc__label.project-calc__label-type-glass
					<svg width="42" height="57" viewBox="0 0 42 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.36017 42.7336V3.98078L7.6585 2.45508L11.0108 6.11677L12.433 5.70991L18.5282 13.0333V14.8645L35.4321 34.1897V38.5937L36.7121 39.1737V48.9382L35.0867 49.6502V54.1256L28.89 56.465L1.36017 42.7336Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.82477 1.90967L11.1678 5.56122L12.6057 5.1499L19.0192 12.8558V14.6801L35.9231 34.0053V38.2772L37.2031 38.8572V49.2592L35.5777 49.9712V54.4651L28.8627 57.0002L0.869141 43.0375V3.59459L7.82477 1.90967ZM34.9411 37.8323V34.3742L19.0192 16.1717V18.8377L33.2412 35.227V37.0621L34.9411 37.8323ZM33.2412 38.1402L34.9411 38.9104V39.1582L33.2412 39.6325V38.1402ZM32.2592 36.6172V35.5937L19.0192 20.336V30.6184L32.2592 36.6172ZM18.0372 30.5895V19.2044L14.4158 15.0311L13.6351 15.3113V32.1696L18.0372 30.5895ZM14.4377 32.9249L30.5574 40.3814L32.2592 39.9065V37.6953L18.5068 31.4643L14.4377 32.9249ZM30.0243 41.2167L12.6531 33.1814V15.1524L8.75899 10.766V36.6245L30.0243 46.6386V41.2167ZM29.2544 47.3615L7.77699 37.2475V10.1989L7.2352 10.4159V37.3359L28.911 47.4905L29.2544 47.3615ZM28.399 48.335L6.2532 37.9602V10.2693L1.85114 5.27957V42.4299L28.399 55.6715V48.335ZM29.3809 55.7549L34.5957 53.7862V49.3293L36.2211 48.6173V39.8205L31.0063 41.2756V47.7527L29.3809 48.3629V55.7549ZM2.26684 4.26642L6.88322 9.49907L8.40595 8.88922L13.2908 14.3916L17.702 12.8082L12.2604 6.27007L10.8538 6.67245L7.49218 3.00063L2.26684 4.26642ZM17.16 14.0461L15.4072 14.6753L18.0372 17.706V15.049L17.16 14.0461Z" fill="#BABABA"/>
					<path d="M41.1311 9.57448C41.1311 14.8623 36.8444 19.149 31.5566 19.149C26.2688 19.149 21.9821 14.8623 21.9821 9.57448C21.9821 4.28664 26.2688 0 31.5566 0C36.8444 0 41.1311 4.28664 41.1311 9.57448Z" fill="#BABABA"/>
					<g clip-path="url(#clip0)">
					<path d="M31.5568 6.5C29.8615 6.5 28.4824 7.87944 28.4824 9.57472C28.4824 11.27 29.8615 12.6494 31.5568 12.6494C33.2518 12.6494 34.6313 11.2703 34.6313 9.57472C34.6313 7.87917 33.2518 6.5 31.5568 6.5Z" fill="white"/>
					<path d="M31.5565 5.59628C31.2252 5.59628 30.9566 5.32773 30.9566 4.99666V4.0369C30.9566 3.70556 31.2252 3.43701 31.5565 3.43701C31.8878 3.43701 32.1564 3.70556 32.1564 4.0369V4.99666C32.1564 5.32773 31.8876 5.59628 31.5565 5.59628Z" fill="white"/>
					<path d="M31.5565 13.5522C31.2252 13.5522 30.9566 13.8208 30.9566 14.1521V15.1116C30.9566 15.4432 31.2252 15.7118 31.5565 15.7118C31.8878 15.7118 32.1564 15.4432 32.1564 15.1116V14.1521C32.1564 13.8208 31.8876 13.5522 31.5565 13.5522Z" fill="white"/>
					<path d="M34.3692 6.76164C34.1352 6.52734 34.1352 6.14762 34.3692 5.91332L35.048 5.2346C35.282 5.00057 35.662 5.00057 35.8963 5.2346C36.1306 5.4689 36.1306 5.8489 35.8963 6.08293L35.2176 6.76164C34.9835 6.99594 34.6038 6.99594 34.3692 6.76164Z" fill="white"/>
					<path d="M28.7439 12.3878C28.5096 12.1533 28.1298 12.1533 27.8955 12.3878L27.2168 13.0663C26.9828 13.3003 26.9825 13.6806 27.2168 13.9146C27.4511 14.1486 27.8311 14.1486 28.0651 13.9146L28.7439 13.2356C28.9782 13.0016 28.9782 12.6216 28.7439 12.3878Z" fill="white"/>
					<path d="M35.5347 9.5745C35.5347 9.24316 35.8032 8.97461 36.1346 8.97461H37.0943C37.4257 8.97461 37.6942 9.24316 37.6942 9.5745C37.6942 9.90583 37.4257 10.1741 37.0943 10.1741H36.1346C35.8032 10.1741 35.5347 9.90583 35.5347 9.5745Z" fill="white"/>
					<path d="M27.5783 9.5745C27.5783 9.24316 27.3098 8.97461 26.9784 8.97461H26.019C25.6876 8.97461 25.4191 9.24316 25.4191 9.5745C25.4191 9.90583 25.6876 10.1741 26.019 10.1741H26.9787C27.3098 10.1741 27.5783 9.90583 27.5783 9.5745Z" fill="white"/>
					<path d="M34.3691 12.3879C34.6034 12.1539 34.9834 12.1539 35.2175 12.3879L35.8962 13.0666C36.1305 13.3004 36.1305 13.6807 35.8962 13.9147C35.6619 14.1487 35.2822 14.1487 35.0479 13.9147L34.3691 13.236C34.1348 13.0017 34.1348 12.622 34.3691 12.3879Z" fill="white"/>
					<path d="M28.7436 6.76157C28.9779 6.52727 28.9779 6.14755 28.7436 5.91325L28.0649 5.23481C27.8306 5.00051 27.4509 5.00051 27.2166 5.23481C26.9823 5.46884 26.9823 5.84883 27.2166 6.08286L27.8953 6.76157C28.1296 6.99614 28.5093 6.99614 28.7436 6.76157Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0">
					<rect width="12.275" height="12.275" fill="white" transform="translate(25.4191 3.43701)"/>
					</clipPath>
					</defs>
					</svg>
					.project-calc__label-name Теплое
				input(id="radio-typeof-glass-cold" type="radio" name="typeof-glass").project-calc__radio
				label(for="radio-typeof-glass-cold" data-src="img/project-calc/glass-default/project-calc-default-inside-cold.png").project-calc__label.project-calc__label-type-glass
					<svg width="41" height="57" viewBox="0 0 41 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.490997 42.7336V3.98078L6.78933 2.45508L10.1417 6.11677L11.5639 5.70991L17.659 13.0333V14.8645L34.563 34.1897V38.5937L35.8429 39.1737V48.9382L34.2176 49.6502V54.1256L28.0208 56.465L0.490997 42.7336Z" fill="#C4C4C4" fill-opacity="0.3"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.95563 1.90967L10.2987 5.56122L11.7365 5.1499L18.15 12.8558V14.6801L35.054 34.0053V38.2772L36.3339 38.8572V49.2592L34.7086 49.9712V54.4651L27.9936 57.0002L0 43.0375V3.59459L6.95563 1.90967ZM34.072 37.8323V34.3742L18.15 16.1717V18.8377L32.3721 35.227V37.0621L34.072 37.8323ZM32.3721 38.1402L34.072 38.9104V39.1582L32.3721 39.6325V38.1402ZM31.3901 36.6172V35.5937L18.15 20.336V30.6184L31.3901 36.6172ZM17.168 30.5895V19.2044L13.5467 15.0311L12.766 15.3113V32.1696L17.168 30.5895ZM13.5685 32.9249L29.6883 40.3814L31.3901 39.9065V37.6953L17.6376 31.4643L13.5685 32.9249ZM29.1552 41.2167L11.784 33.1814V15.1524L7.88985 10.766V36.6245L29.1552 46.6386V41.2167ZM28.3853 47.3615L6.90785 37.2475V10.1989L6.36606 10.4159V37.3359L28.0418 47.4905L28.3853 47.3615ZM27.5298 48.335L5.38406 37.9602V10.2693L0.981998 5.27957V42.4299L27.5298 55.6715V48.335ZM28.5118 55.7549L33.7266 53.7862V49.3293L35.3519 48.6173V39.8205L30.1372 41.2756V47.7527L28.5118 48.3629V55.7549ZM1.3977 4.26642L6.01408 9.49907L7.53681 8.88922L12.4217 14.3916L16.8329 12.8082L11.3912 6.27007L9.98465 6.67245L6.62304 3.00063L1.3977 4.26642ZM16.2908 14.0461L14.538 14.6753L17.168 17.706V15.049L16.2908 14.0461Z" fill="#BABABA"/>
					<path d="M40.2619 9.57448C40.2619 14.8623 35.9753 19.149 30.6875 19.149C25.3996 19.149 21.113 14.8623 21.113 9.57448C21.113 4.28664 25.3996 0 30.6875 0C35.9753 0 40.2619 4.28664 40.2619 9.57448Z" fill="#BABABA"/>
					<path d="M36.1475 12.2844L35.0457 11.6513L36.083 11.051C36.202 10.9816 36.2421 10.829 36.1728 10.71L35.9216 10.2794C35.8522 10.1604 35.6995 10.1202 35.5805 10.1896L34.0474 11.0778L33.3646 10.4694L34.8774 9.80253C34.9674 9.7626 35.0259 9.67324 35.0259 9.57438C35.0259 9.47553 34.9674 9.38617 34.8774 9.34624L33.3442 8.6703L34.0475 8.27208L35.5879 9.16899C35.7068 9.23839 35.8595 9.19821 35.9288 9.07925L36.1801 8.64858C36.2495 8.52963 36.2093 8.37697 36.0903 8.30756L35.045 7.69899L36.1475 7.06548C36.2671 6.99659 36.308 6.84411 36.239 6.72485L35.989 6.293C35.92 6.17374 35.7671 6.13288 35.6476 6.20174L34.5439 6.83586L34.5427 5.62699C34.5421 5.48929 34.43 5.37816 34.2923 5.37879L33.7936 5.38101C33.6559 5.38162 33.5448 5.49375 33.5454 5.63145L33.548 7.40811L32.7818 7.84184L32.7804 6.36067C32.7911 6.26205 32.7419 6.16635 32.6557 6.11742C32.569 6.06824 32.4619 6.07505 32.383 6.13472L31.2858 6.89409V5.87411L32.8342 4.98777C32.9537 4.91945 32.9953 4.76713 32.927 4.64759L32.6796 4.21468C32.6113 4.09512 32.459 4.05358 32.3394 4.12188L31.2859 4.7251V3.83968C31.2858 3.70195 31.1742 3.59033 31.0365 3.59033H30.7872H30.5378C30.4001 3.59033 30.2885 3.70197 30.2885 3.83968V4.72875L29.2349 4.12191C29.1153 4.05358 28.963 4.09512 28.8947 4.21468L28.6474 4.64759C28.579 4.76716 28.6206 4.91947 28.7401 4.98777L30.2885 5.87872V6.88902L29.202 6.14001C29.1577 6.10639 29.1046 6.08935 29.0516 6.08935C29.0477 6.08886 29.0442 6.08912 29.0418 6.08935C28.904 6.08935 28.7925 6.20087 28.7925 6.33869C28.7925 6.37231 28.7925 7.88284 28.7925 7.88284L28.0296 7.20888L28.0362 5.42162C28.0368 5.28391 27.9257 5.17178 27.788 5.17117L27.2894 5.16895C27.1517 5.16834 27.0396 5.27947 27.039 5.41715L27.0345 6.6371L25.9268 6.00062C25.8072 5.93178 25.6543 5.97262 25.5853 6.09188L25.3353 6.52373C25.2663 6.64299 25.3072 6.79549 25.4268 6.86436L26.5286 7.49743L25.4913 8.09773C25.3724 8.16713 25.3322 8.31979 25.4016 8.43875L25.6528 8.86941C25.7222 8.98837 25.8748 9.02853 25.9938 8.95915L27.5269 8.07101L28.2097 8.67935L26.697 9.34624C26.6069 9.38617 26.5484 9.47553 26.5484 9.57438C26.5484 9.67324 26.6069 9.7626 26.697 9.80253L28.2302 10.4785L27.5268 10.8767L25.9865 9.97978C25.8675 9.91038 25.7148 9.95056 25.6455 10.0695L25.3943 10.5002C25.3249 10.6192 25.3651 10.7718 25.484 10.8412L26.5294 11.4498L25.4268 12.0833C25.3072 12.1522 25.2663 12.3047 25.3353 12.4239L25.5853 12.8558C25.6543 12.9751 25.8072 13.0159 25.9268 12.9471L27.0304 12.3129L27.0316 13.5218C27.0322 13.6595 27.1444 13.7706 27.2821 13.77L27.7807 13.7678C27.9184 13.7672 28.0295 13.6551 28.0289 13.5174L28.0263 11.7407L28.7925 11.307L28.7939 12.7881C28.7832 12.8867 28.8324 12.9824 28.9186 13.0314C29.0053 13.0805 29.1124 13.0737 29.1913 13.0141L30.2885 12.2547V13.2747L28.7401 14.161C28.6206 14.2293 28.579 14.3816 28.6474 14.5012L28.8947 14.9341C28.963 15.0536 29.1153 15.0952 29.2349 15.0269L30.2885 14.4237V15.3091C30.2885 15.4468 30.4001 15.5584 30.5378 15.5584H30.7872H31.0365C31.1742 15.5584 31.2859 15.4468 31.2859 15.3091V14.42L32.3394 15.0269C32.459 15.0952 32.6113 15.0536 32.6796 14.9341L32.927 14.5012C32.9953 14.3816 32.9538 14.2293 32.8342 14.161L31.2858 13.27V12.2597L32.3723 13.0088C32.4166 13.0424 32.4697 13.0594 32.5228 13.0594C32.5267 13.0599 32.5301 13.0596 32.5325 13.0594C32.6703 13.0594 32.7819 12.9479 32.7819 12.8101C32.7819 12.7765 32.7819 11.2659 32.7819 11.2659L33.5447 11.9399L33.5381 13.7272C33.5375 13.8649 33.6487 13.977 33.7864 13.9776L34.2849 13.9798C34.4226 13.9804 34.5348 13.8693 34.5354 13.7316L34.5398 12.5116L35.6476 13.1481C35.7672 13.217 35.92 13.1761 35.9891 13.0569L36.239 12.625C36.308 12.5058 36.2671 12.3533 36.1475 12.2844Z" fill="white"/>
					</svg>
					.project-calc__label-name Холодное
				input(id="radio-typeof-balcony-france" type="radio" name="typeof-glass").project-calc__radio
				label(for="radio-typeof-balcony-france" data-src="img/project-calc/glass-france/project-calc-france-inside.png").project-calc__label.project-calc__label-type-glass
					<svg class="project-calc__icon-full" width="53" height="59" viewBox="0 0 53 59" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M33.8609 2.56515H19.4957V55.4086H33.8609V2.56515ZM18.4696 1.53906V56.4347H34.887V1.53906H18.4696Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M50.2783 2.56515H36.4261V55.4086H50.2783V2.56515ZM35.4 1.53906V56.4347H51.3043V1.53906H35.4Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.9304 2.56515H2.56521V55.4086H16.9304V2.56515ZM1.53912 1.53906V56.4347H17.9565V1.53906H1.53912Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M31.8087 4.6174H21.5478V53.3565H31.8087V4.6174ZM20.5217 3.59131V54.3826H32.8348V3.59131H20.5217Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M48.2261 4.6174H38.4783V53.3565H48.2261V4.6174ZM37.4522 3.59131V54.3826H49.2522V3.59131H37.4522Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8783 4.6174H4.6174V53.3565H14.8783V4.6174ZM3.59131 3.59131V54.3826H15.9044V3.59131H3.59131Z" fill="#BABABA"/>
					<path d="M0 0H52.8435V36.3677V59H19.6409H0V0Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M51.8174 1.02609H1.02609V57.9739H51.8174V1.02609ZM0 0V59H52.8435V0H0Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name От пола до потолка
			.project-calc__group
				.project-calc__name Освещение
				input(id="radio-typeof-light-ceiling" type="radio" name="typeof-light" ).project-calc__radio
				label(for="radio-typeof-light-ceiling" data-group='typeof-light' data-src="img/project-calc/project-calc-light-top.png").project-calc__label.project-calc__label-bottom
					<svg class="project-calc__icon-full" width="43" height="37" viewBox="0 0 43 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21.5 0.5C9.90202 0.5 0.5 5.31294 0.5 11.25V15.25C0.75 18.6667 5.3 25.5 21.5 25.5C37.7 25.5 42.25 19.1667 42.5 16V11.25C42.5 5.31294 33.098 0.5 21.5 0.5Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.87859 4.09368C3.13576 6.00965 1 8.56671 1 11.25V15.25H0V11.25C0 7.99623 2.56525 5.17829 6.42292 3.20353C10.3073 1.21512 15.6386 0 21.5 0C27.3614 0 32.6927 1.21512 36.5771 3.20353C40.4347 5.17829 43 7.99623 43 11.25V16H42V11.25C42 8.56671 39.8642 6.00965 36.1214 4.09368C32.4052 2.19135 27.2365 1 21.5 1C15.7635 1 10.5948 2.19135 6.87859 4.09368Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M36.2556 21.957C40.04 20.0648 42 17.6357 42 15.25C42 12.8643 40.04 10.4352 36.2556 8.54303C32.531 6.68072 27.3155 5.5 21.5 5.5C15.6845 5.5 10.469 6.68072 6.74442 8.54303C2.95999 10.4352 1 12.8643 1 15.25C1 17.6357 2.95999 20.0648 6.74442 21.957C10.469 23.8193 15.6845 25 21.5 25C27.3155 25 32.531 23.8193 36.2556 21.957ZM21.5 26C33.3741 26 43 21.1871 43 15.25C43 9.31294 33.3741 4.5 21.5 4.5C9.62588 4.5 0 9.31294 0 15.25C0 21.1871 9.62588 26 21.5 26Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M31.6594 19.9089C34.2675 18.6048 35.5 16.9882 35.5 15.5C35.5 14.0118 34.2675 12.3952 31.6594 11.0911C29.111 9.81695 25.5206 9 21.5 9C17.4794 9 13.889 9.81695 11.3406 11.0911C8.73245 12.3952 7.5 14.0118 7.5 15.5C7.5 16.9882 8.73245 18.6048 11.3406 19.9089C13.889 21.183 17.4794 22 21.5 22C25.5206 22 29.111 21.183 31.6594 19.9089ZM21.5 23C29.7843 23 36.5 19.6421 36.5 15.5C36.5 11.3579 29.7843 8 21.5 8C13.2157 8 6.5 11.3579 6.5 15.5C6.5 19.6421 13.2157 23 21.5 23Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.7788 19.125C15.2379 19.9887 18.2451 20.4999 21.5002 20.4999C24.7553 20.4999 27.7625 19.9887 30.2216 19.125C32.6903 18.258 34.5628 17.0519 35.6035 15.6956L36.3969 16.3043C35.1933 17.8729 33.1207 19.1668 30.553 20.0685C27.9757 20.9737 24.855 21.4999 21.5002 21.4999C18.1454 21.4999 15.0247 20.9737 12.4474 20.0685C9.87967 19.1668 7.80709 17.8729 6.60352 16.3043L7.39688 15.6956C8.43761 17.0519 10.3101 18.258 12.7788 19.125Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 29.5C21.7761 29.5 22 29.7239 22 30L22 36.5C22 36.7761 21.7761 37 21.5 37C21.2239 37 21 36.7761 21 36.5L21 30C21 29.7239 21.2239 29.5 21.5 29.5Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M28.9542 28.7906C29.2049 28.6749 29.502 28.7843 29.6177 29.035L32.1987 34.6271C32.3144 34.8778 32.2049 35.1749 31.9542 35.2906C31.7035 35.4063 31.4064 35.2969 31.2907 35.0461L28.7098 29.4541C28.5941 29.2034 28.7035 28.9063 28.9542 28.7906Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M35.3949 26.693C35.6128 26.5234 35.927 26.5627 36.0965 26.7807L38.9826 30.4913C39.1521 30.7093 39.1128 31.0234 38.8949 31.193C38.6769 31.3625 38.3628 31.3232 38.1932 31.1053L35.3072 27.3946C35.1376 27.1766 35.1769 26.8625 35.3949 26.693Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.60513 26.693C6.38715 26.5234 6.07301 26.5627 5.90348 26.7807L3.01742 30.4913C2.84788 30.7093 2.88715 31.0234 3.10513 31.193C3.3231 31.3625 3.63724 31.3232 3.80677 31.1053L6.69283 27.3946C6.86237 27.1766 6.8231 26.8625 6.60513 26.693Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.0458 28.7906C13.7951 28.6749 13.498 28.7843 13.3823 29.035L10.8013 34.6271C10.6856 34.8778 10.7951 35.1749 11.0458 35.2906C11.2965 35.4063 11.5936 35.2969 11.7093 35.0461L14.2902 29.4541C14.4059 29.2034 14.2965 28.9063 14.0458 28.7906Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Потолочное
				input(id="radio-typeof-light-floor"  data-src="img/project-calc/project-calc-light-wall.png" type="radio" name="typeof-light").project-calc__radio
				label(for="radio-typeof-light-floor" data-group='typeof-light' data-src="img/project-calc/project-calc-light-wall.png").project-calc__label.project-calc__label-bottom
					<svg class="project-calc__icon-full" width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.552826 21.5002C0.552826 33.0949 4.40318 42.4943 9.15283 42.4943L17.2469 42.4943C19.4182 42.6804 23.187 40.6482 25.027 32.6296C25.6878 29.75 29.1352 28.0767 29.1352 21.5002C29.1352 14.9237 25.5525 12.1582 24.7078 9.10608C22.7788 2.13615 19.2992 0.330164 17.2469 0.506075L9.15283 0.506075C4.40318 0.506075 0.552826 9.90546 0.552826 21.5002Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M33.4348 20.2354C33.4348 19.956 33.6612 19.7295 33.9406 19.7295L40.5171 19.7295C40.7965 19.7295 41.023 19.956 41.023 20.2354C41.023 20.5148 40.7965 20.7413 40.5171 20.7413L33.9406 20.7413C33.6612 20.7413 33.4348 20.5148 33.4348 20.2354Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M32.7178 12.6937C32.6007 12.44 32.7114 12.1395 32.9651 12.0224L38.6229 9.41107C38.8766 9.29399 39.1772 9.40473 39.2943 9.6584C39.4113 9.91208 39.3006 10.2126 39.0469 10.3297L33.3891 12.941C33.1354 13.0581 32.8349 12.9474 32.7178 12.6937Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M30.5949 6.17715C30.4234 5.95661 30.4631 5.63878 30.6837 5.46725L34.438 2.54724C34.6585 2.37571 34.9763 2.41544 35.1479 2.63597C35.3194 2.85651 35.2797 3.17435 35.0591 3.34588L31.3048 6.26589C31.0843 6.43742 30.7664 6.39769 30.5949 6.17715Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M30.5949 35.3053C30.4234 35.5258 30.4631 35.8436 30.6837 36.0152L34.438 38.9352C34.6585 39.1067 34.9763 39.067 35.1479 38.8464C35.3194 38.6259 35.2797 38.3081 35.0591 38.1365L31.3048 35.2165C31.0843 35.045 30.7664 35.0847 30.5949 35.3053Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M32.7178 27.777C32.6007 28.0307 32.7114 28.3312 32.9651 28.4483L38.6229 31.0596C38.8766 31.1767 39.1772 31.066 39.2943 30.8123C39.4113 30.5586 39.3006 30.2581 39.0469 30.141L33.3891 27.5297C33.1354 27.4126 32.8349 27.5233 32.7178 27.777Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1657 6.8484C10.6242 10.5725 9.65886 15.7524 9.65886 21.5C9.65886 27.2476 10.6242 32.4275 12.1657 36.1516C12.937 38.0148 13.8425 39.4895 14.8222 40.4905C15.8002 41.4898 16.8209 41.9882 17.8433 41.9882C19.2033 41.9882 20.5675 41.1004 21.8115 39.3427C23.0486 37.5947 24.1038 35.0672 24.8497 32.001L25.8328 32.2401C25.0688 35.3809 23.9728 38.0402 22.6373 39.9272C21.3087 41.8046 19.6788 43 17.8433 43C16.466 43 15.2005 42.3235 14.0991 41.1981C12.9994 40.0744 12.0323 38.4745 11.2309 36.5386C9.62718 32.6643 8.64709 27.3471 8.64709 21.5C8.64709 15.6529 9.62718 10.3357 11.2309 6.46143C12.0323 4.52546 12.9994 2.92558 14.0991 1.80187C15.2005 0.676476 16.466 3.5509e-08 17.8433 4.1764e-08C19.5542 4.95341e-08 21.0875 1.04012 22.3608 2.69759C23.6382 4.36035 24.7097 6.7105 25.503 9.50641L24.5297 9.78259C23.7572 7.06008 22.7315 4.84092 21.5585 3.31397C20.3814 1.78174 19.111 1.01176 17.8433 1.01176C16.8209 1.01176 15.8002 1.51021 14.8222 2.50954C13.8425 3.51055 12.937 4.98519 12.1657 6.8484Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M24.3792 32.3655C26.6044 29.4345 28.3759 25.4071 28.3759 20.9939C28.3759 16.5807 26.6044 12.5534 24.3792 9.62235C23.2682 8.15904 22.063 6.99447 20.9457 6.20495C19.7984 5.3943 18.858 5.05864 18.2583 5.05864C17.7299 5.05864 17.1156 5.33063 16.4439 6.06266C15.7716 6.79545 15.1197 7.91176 14.5512 9.37658C13.4169 12.2997 12.6936 16.4068 12.6936 20.9939C12.6936 25.5811 13.4169 29.6881 14.5512 32.6113C15.1197 34.0761 15.7716 35.1924 16.4439 35.9252C17.1156 36.6572 17.7299 36.9292 18.2583 36.9292C18.858 36.9292 19.7984 36.5936 20.9457 35.7829C22.063 34.9934 23.2682 33.8288 24.3792 32.3655ZM18.2583 37.941C21.8903 37.941 29.3877 30.3535 29.3877 20.9939C29.3877 11.6343 21.8903 4.04688 18.2583 4.04688C14.6262 4.04688 11.6818 11.6343 11.6818 20.9939C11.6818 30.3535 14.6262 37.941 18.2583 37.941Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5934 9.91894C14.4342 12.7278 13.7055 16.6431 13.7055 20.9939C13.7055 25.3448 14.4342 29.2601 15.5934 32.0689C16.1735 33.4745 16.8514 34.5787 17.5783 35.3236C18.3036 36.067 19.046 36.4233 19.776 36.4233L19.776 37.4351C18.69 37.4351 17.7024 36.8996 16.8541 36.0302C16.0074 35.1624 15.2682 33.933 14.6582 32.4549C13.4371 29.4962 12.6937 25.4439 12.6937 20.9939C12.6937 16.5439 13.4371 12.4916 14.6582 9.53297C15.2682 8.05483 16.0074 6.82538 16.8541 5.9576C17.7024 5.08819 18.69 4.55273 19.776 4.55273L19.776 5.5645C19.046 5.5645 18.3036 5.92086 17.5783 6.66418C16.8514 7.40915 16.1735 8.51336 15.5934 9.91894Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.53977 6.84668C2.01401 10.5713 1.05864 15.7518 1.05864 21.5C1.05864 27.2482 2.01401 32.4287 3.53977 36.1533C4.30315 38.0169 5.19936 39.4915 6.16864 40.4924C7.13646 41.4917 8.14475 41.9882 9.15276 41.9882L17.2469 41.9882L17.2469 43L9.15276 43C7.78594 43 6.53182 42.3217 5.44186 41.1962C4.35336 40.0723 3.39642 38.4725 2.60351 36.5368C1.01668 32.6631 0.0468751 27.3465 0.0468751 21.5C0.0468751 15.6535 1.01668 10.3369 2.60351 6.46315C3.39642 4.52752 4.35336 2.92767 5.44186 1.80376C6.53182 0.678345 7.78594 3.51465e-08 9.15276 4.13538e-08L17.2469 7.81128e-08L17.2469 1.01176L9.15276 1.01176C8.14475 1.01176 7.13646 1.50834 6.16864 2.50765C5.19936 3.50846 4.30315 4.98313 3.53977 6.84668Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Настенное
			div(id="typeof-siding-control").project-calc__group
				.project-calc__name Обшивка парапета
				.project-calc__tab-nav
					div(data-tab="metall").project-calc__label
						<svg width="59" height="45" viewBox="0 0 59 45" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M42.6868 2.45161L58.0121 43.0259V44.4579H45.0813L39.8133 38.7298H19.6988L13.9518 44.4579H0.542175V43.0259L17.7831 2.45161H24.9669L26.8825 0.542236H34.0663L36.4609 2.45161H42.6868Z" fill="#C4C4C4" fill-opacity="0.5"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M26.6585 0H34.256L36.6505 1.90938H43.0615L58.5542 42.9268V45H44.8434L39.5753 39.2719H19.9228L14.1759 45H0V42.9154L17.4244 1.90938H24.7428L26.6585 0ZM24.2579 2.99371H18.1418L1.36164 42.4836H13.5372L24.2579 2.99371ZM15.0069 41.2087L19.1985 37.0308L26.0106 2.17668L25.4522 2.73333L15.0069 41.2087ZM27.329 1.08434L20.3572 36.7555H39.1797L33.6023 1.08434H27.329ZM34.817 1.83425L35.9709 2.7543L44.1393 41.2005L40.3235 37.0516L34.817 1.83425ZM39.5753 37.8398H19.9228L19.574 38.1875H39.8951L39.5753 37.8398ZM44.9995 43.568L45.3193 43.9157H57.4699V43.568H44.9995ZM57.2277 42.4836H45.5204L37.1303 2.99371H42.312L57.2277 42.4836ZM14.0766 43.568H1.08434V43.9157H13.7278L14.0766 43.568Z" fill="#BABABA"/>
						</svg>
						.project-calc__label-name Металл
					div(data-tab="siding").project-calc__label
						<svg width="53" height="44" viewBox="0 0 53 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M51.506 37.9816V41.9367V43.4579H46.6265L37.9518 39.1985H27.1084V43.4579H21.1446L13.0121 39.1985H1.08434V40.7197H1.62651V41.6324H0.542175V37.9816L11.1145 1.1687H20.0602L24.6687 3.29837H27.3325L27.3795 1.1687H35.3765L39.5783 2.68989L43.3735 2.99413V1.1687L51.506 37.9816Z" fill="#C4C4C4" fill-opacity="0.5"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.7061 0.626465H20.1795L24.7879 2.75613H26.8021L26.8492 0.626465H35.4716L39.6943 2.15522L42.8313 2.40669V1.16863L43.9029 1.05168L52.0482 37.9223V44H46.5006L37.8259 39.7406H27.6506V44H21.0112L12.8787 39.7406H1.62651V40.1775H2.16867V42.1745H0V37.9052L10.7061 0.626465ZM1.08434 38.6563H13.1454L21.278 42.9156H26.5663V42.4788H21.0159L13.1544 38.5237H1.08434V38.6563ZM1.26196 37.4393H12.8317L19.4092 1.7108H11.5228L1.26196 37.4393ZM20.467 1.95385L24.094 3.63L20.677 41.0944L13.8899 37.6799L20.467 1.95385ZM21.7384 41.3944H26.0241V37.9755L26.7782 3.84047H25.1636L21.7384 41.3944ZM27.1084 38.6563H38.0777L46.7524 42.9156H50.9639V42.4788H46.5053L38.1017 38.5237H27.1084V38.6563ZM27.1205 37.4393H37.6372L34.8746 1.7108H27.9098L27.1205 37.4393ZM35.9818 1.96438L39.0999 3.09324L45.9073 40.9989L38.7391 37.6252L35.9818 1.96438ZM47.08 41.3944H50.8389L42.9257 3.50208L40.2363 3.28648L47.08 41.3944Z" fill="#BABABA"/>
						</svg>
						.project-calc__label-name Сайдинг
				.project-calc__tab-content
					div(data-tab-content="metall").project-calc__tab-item
						button(data-value="Стандарт" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-metall.png").project-calc__round
							<img class="project-calc__palette" src="img/project-calc/metall-siding.jpg" alt="">
					div(data-tab-content="siding").project-calc__tab-item
						button(data-value="Серый" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-grey.png").project-calc__round
							div(style={'background-color':"#D9D9D9"}).project-calc__palette.project-calc__palette-siding
						button(data-value="Бежевый" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-beige.png").project-calc__round
							div(style={'background-color':"#E5D8C4"}).project-calc__palette.project-calc__palette-siding
						button(data-value="Белый" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-white.png").project-calc__round
							div(style={'background-color':"#EDEDED"}).project-calc__palette.project-calc__palette-siding
						button(data-value="Салатовый" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-green.png").project-calc__round
							div(style={'background-color':"#DBE4A3"}).project-calc__palette.project-calc__palette-siding
						button(data-value="Голубой лёд" data-group="typeof-siding" data-src="img/project-calc/glass-default/project-calc-default-siding-blue.png").project-calc__round
							div(style={'background-color':"#D5EAEA"}).project-calc__palette.project-calc__palette-siding
			.project-calc__group
				.project-calc__name Утепление
				input(id="radio-typeof-warming-default" type="radio" name="typeof-warming" ).project-calc__radio
				label(for="radio-typeof-warming-default" data-group="typeof-warming" data-src="img/project-calc/glass-default/project-calc-default-warming-default.png" data-src-v2="img/project-calc/glass-france/project-calc-france-warming-default.png").project-calc__label.active
					<svg width="64" height="30" viewBox="0 0 64 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.1764 6.08813H54.7927V13.2831H12.1764V6.08813Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M53.6858 7.19505H13.2833V12.1762H53.6858V7.19505ZM12.1764 6.08813V13.2831H54.7927V6.08813H12.1764Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M59.7739 13.2829H13.2833V14.9433H59.7739V13.2829ZM12.1764 12.176V16.0502H60.8808V12.176H12.1764Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M59.2201 20.478H8.85057V19.3711H60.327V29.3334H0V19.9246H1.10692V28.2264H59.2201V20.478Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 29.3333L-1.2822e-06 -8.07643e-05L9.96226 -8.11998e-05L9.96226 20.0522L8.85535 20.0522L8.85535 1.10684L1.10692 1.10684L1.10692 28.2263L9.40881 28.2263L9.40881 29.3333L0 29.3333Z" fill="#BABABA"/>
					<path d="M0.55371 0.553366L0.553711 28.7798L9.40906 28.7798L59.7738 28.7798L59.7738 20.0522L9.40906 20.0522L9.40906 0.553365L0.55371 0.553366Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path d="M0.553711 28.7799V0.553467H12.7298V6.64152H54.2392V12.7296H60.3273V15.4969H55.3462V19.9245H59.7738V28.7799H0.553711Z" fill="#C4C4C4" fill-opacity="0.3"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M63.0943 29.3332H0V28.2263H63.0943V29.3332Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M24.3525 16.0503H16.604V19.371H24.3525V16.0503ZM15.4971 14.9434V20.478H25.4594V14.9434H15.4971Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M39.2959 16.0503H31.5475V19.371H39.2959V16.0503ZM30.4406 14.9434V20.478H40.4028V14.9434H30.4406Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M54.7922 16.0503H47.0437V19.371H54.7922V16.0503ZM45.9368 14.9434V20.478H55.8991V14.9434H45.9368Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1763 1.10692H9.96251V14.9434H12.1763V1.10692ZM8.85559 0V16.0503H13.2833V0H8.85559Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Стандарт
				input(id="radio-typeof-warming-prem" type="radio" name="typeof-warming").project-calc__radio
				label(for="radio-typeof-warming-prem" data-group="typeof-warming" data-src="img/project-calc/glass-default/project-calc-default-warming-prem.png" data-src-v2="img/project-calc/glass-france/project-calc-france-warming-prem.png").project-calc__label
					<svg width="64" height="30" viewBox="0 0 64 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.1764 8.85547H54.7927V13.2831H12.1764V8.85547Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M53.6858 9.96239H13.2833V12.1762H53.6858V9.96239ZM12.1764 8.85547V13.2831H54.7927V8.85547H12.1764Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M59.7738 13.2829H13.2833V14.9433H59.7738V13.2829ZM12.1764 12.176V16.0502H60.8808V12.176H12.1764Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M59.2201 27.6731H1.65561V26.5662H60.327V29.3335H0V27.1196H1.10692V28.2265H59.2201V27.6731Z" fill="#BABABA"/>
					<path d="M0.553741 28.2264V0H12.7298V9.4088H54.2393V12.1761H60.3273V14.9434H55.3462V19.3711V26.8428L59.7739 27.1195V28.2264H0.553741Z" fill="#C4C4C4" fill-opacity="0.3"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 29.3333L-1.2822e-06 -8.07643e-05L2.7673 -8.08853e-05L2.7673 27.2471L1.66038 27.2471L1.66038 1.10684L1.10692 1.10684L1.10692 28.2263L2.21384 28.2263L2.21384 29.3333L0 29.3333Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M63.0943 29.3332H0V28.2263H63.0943V29.3332Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M24.3525 16.0503H16.604V26.566H24.3525V16.0503ZM15.4971 14.9434V27.6729H25.4594V14.9434H15.4971Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M39.2959 16.0503H31.5474V26.566H39.2959V16.0503ZM30.4405 14.9434V27.6729H40.4028V14.9434H30.4405Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M54.2393 16.0503H46.4908V26.566H54.2393V16.0503ZM45.3839 14.9434V27.6729H55.3462V14.9434H45.3839Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1764 1.10692H9.96254V14.9434H12.1764V1.10692ZM8.85562 0V16.0503H13.2833V0H8.85562Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Премиум
			.project-calc__group
				.project-calc__name Мебель
				input(id="radio-typeof-furniture-closet" type="radio" name="typeof-furniture" ).project-calc__radio
				label(for="radio-typeof-furniture-closet" data-group='typeof-furniture' data-src="img/project-calc/glass-default/project-calc-default-cupboard.png" data-src-v2="img/project-calc/glass-france/project-calc-france-cupboard.png").project-calc__label.project-calc__label-bottom
					<svg class="project-calc__icon-full" width="44" height="61" viewBox="0 0 44 61" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.0898438 0H43.3326V58.9674H0.0898438V0Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M42.459 0.873591H0.963435V58.0938H42.459V0.873591ZM0.0898438 0V58.9674H43.3326V0H0.0898438Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M20.6195 2.62066H2.71087V55.0361H20.6195V2.62066ZM1.83728 1.74707V55.9097H21.4931V1.74707H1.83728Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M17.124 7.86236H6.2041V47.6107H17.124V7.86236ZM5.33051 6.98877V48.4843H17.9976V6.98877H5.33051Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M37.2163 7.86236H26.2964V47.6107H37.2163V7.86236ZM25.4229 6.98877V48.4843H38.0899V6.98877H25.4229Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M40.7118 2.62066H22.8032V55.0361H40.7118V2.62066ZM21.9296 1.74707V55.9097H41.5854V1.74707H21.9296Z" fill="#BABABA"/>
					<path d="M24.9878 27.5181C24.9878 28.0006 24.5967 28.3917 24.1142 28.3917C23.6317 28.3917 23.2406 28.0006 23.2406 27.5181C23.2406 27.0357 23.6317 26.6445 24.1142 26.6445C24.5967 26.6445 24.9878 27.0357 24.9878 27.5181Z" fill="#BABABA"/>
					<path d="M20.1827 27.5181C20.1827 28.0006 19.7916 28.3917 19.3091 28.3917C18.8267 28.3917 18.4355 28.0006 18.4355 27.5181C18.4355 27.0357 18.8267 26.6445 19.3091 26.6445C19.7916 26.6445 20.1827 27.0357 20.1827 27.5181Z" fill="#BABABA"/>
					<path d="M1.83728 58.9673H5.33164V60.2777H1.83728V58.9673Z" fill="#BABABA"/>
					<path d="M38.0906 58.9673H41.5849V60.2777H38.0906V58.9673Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Шкаф
				input(id="radio-typeof-furniture-cupboard" type="radio" name="typeof-furniture").project-calc__radio
				label(for="radio-typeof-furniture-cupboard" data-group='typeof-furniture' data-src="img/project-calc/glass-default/project-calc-default-closet.png" data-src-v2="img/project-calc/glass-france/project-calc-france-closet.png").project-calc__label.project-calc__label-bottom
					<svg class="project-calc__icon-full" width="45" height="62" viewBox="0 0 45 62" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0H44.4783V60.6522H0V0Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M43.5797 0.898551H0.898551V59.7536H43.5797V0.898551ZM0 0V60.6522H44.4783V0H0Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M39.9855 4.49279H32.3478V3.59424H40.884V55.2609H32.3478V54.3624H39.9855V4.49279Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M42.232 2.69567H22.4638V1.79712H43.1305V57.5073H22.4638V56.6087H42.232V2.69567Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M2.69572 2.69567H22.4638V1.79712H1.79717V57.5073H22.4638V56.6087H2.69572V2.69567Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M31.8988 2.69567H13.4785V56.6087H31.8988V2.69567ZM12.5799 1.79712V57.5073H32.7973V1.79712H12.5799Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M29.653 4.49279H15.7255V54.3624H29.653V4.49279ZM14.8269 3.59424V55.2609H30.5515V3.59424H14.8269Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8039 46.7247H2.24597V45.8262H12.8039V46.7247Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8039 39.087H2.24597V38.1885H12.8039V39.087Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8039 10.3334H2.24597V9.43481H12.8039V10.3334Z" fill="#BABABA"/>
					<path d="M2.24597 60.6521H5.84017V61.9999H2.24597V60.6521Z" fill="#BABABA"/>
					<path d="M39.5367 60.6521H43.1309V61.9999H39.5367V60.6521Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Шкаф-купе
				input(id="radio-typeof-furniture-nightstand" type="radio" name="typeof-furniture").project-calc__radio
				label(for="radio-typeof-furniture-nightstand" data-group='typeof-furniture' data-src="img/project-calc/glass-default/project-calc-default-nightstand.png" data-src-v2="img/project-calc/glass-france/project-calc-france-nightstand.png").project-calc__label.project-calc__label-bottom
					<svg class="project-calc__icon-full" width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0H33.9855V33.9855H0V0Z" fill="#C4C4C4" fill-opacity="0.5"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M32.971 1.01449H1.01449V32.971H32.971V1.01449ZM0 0V33.9855H33.9855V0H0Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M30.9421 17.7535H3.04351V28.4057H30.9421V17.7535ZM2.02902 16.739V29.4202H31.9566V16.739H2.02902Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M30.9421 4.05795H3.04351V14.7101H30.9421V4.05795ZM2.02902 3.04346V15.7246H31.9566V3.04346H2.02902Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M20.2902 6.59433H14.2032V5.57983H20.2902V6.59433Z" fill="#BABABA"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M20.2902 20.2899H14.2032V19.2754H20.2902V20.2899Z" fill="#BABABA"/>
					<path d="M2.02902 33.9856H6.59424V35.0001H2.02902V33.9856Z" fill="#BABABA"/>
					<path d="M27.3914 33.9856H31.9566V35.0001H27.3914V33.9856Z" fill="#BABABA"/>
					</svg>
					.project-calc__label-name Тумбочка
		.project-calc__view
			.project-calc__inside
				img(id="project-calc__inside-img" src="img/project-calc/glass-default/project-calc-default-inside-warm.png", alt="").img-full
			.project-calc__part.project-calc__light
				img( id="project-calc__light-img" src="", alt="").img-full
			.project-calc__part.project-calc__warming
				img(id="project-calc__warming-img" src="", alt="").img-full
			.project-calc__part.project-calc__siding
				img(id="project-calc__siding-img" src="", alt="").img-full
			.project-calc__part.project-calc__floor
				img(id="project-calc__floor-img" src="", alt="").img-full
			.project-calc__part.project-calc__floor-warm
				img(id="project-calc__floor-warm-img" style={'display':'none'} src="img/project-calc/warm-floor.png", alt="").img-full
			.project-calc__part.project-calc__walls
				img(id="project-calc__walls-img" src="", alt="").img-full
			.project-calc__part.project-calc__shkaf
				img(id="project-calc__shkaf-img" src="", alt="").img-full
		.project-calc__control.project-calc__control-right
			div(id="typeof-walls-control").project-calc__group.project-calc__group-mobile
				.project-calc__name Внутрення отделка
				.project-calc__tab-nav
					div(data-tab="gipsokarton").project-calc__switch
						.project-calc__circle
						.project-calc__text Гипсокартон
					div(data-tab="wood").project-calc__switch
						.project-calc__circle
						.project-calc__text Дерево
					div(data-tab="pvh-panel").project-calc__switch
						.project-calc__circle
						.project-calc__text ПВХ панели
					div(data-tab="pvh-vagonka").project-calc__switch
						.project-calc__circle
						.project-calc__text ПВХ вагонка
				.project-calc__tab-content
					div(data-tab-content="gipsokarton").project-calc__tab-item
						button(data-value="Зеленый" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-gipsocarton.png" data-src-v2="img/project-calc/glass-france/project-calc-france-gipsocarton.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-gipsokarton.png", alt="").project-calc__palette
					div(data-tab-content="wood").project-calc__tab-item
						button(data-value="Стандарт" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-wooden.png" data-src-v2="img/project-calc/glass-france/project-calc-france-wooden.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-wooden.png", alt="").project-calc__palette
					div(data-tab-content="pvh-panel").project-calc__tab-item
						button(data-value="Мозайка" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-panel-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-panel-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-panel-1.png", alt="").project-calc__palette
						button(data-value="Дерево Ланцелот" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-panel-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-panel-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-panel-2.png", alt="").project-calc__palette
						button(data-value="Дерево Орех" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-panel-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-panel-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-panel-3.png", alt="").project-calc__palette
						button(data-value="Жемчужный шелк" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-panel-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-panel-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-panel-4.png", alt="").project-calc__palette
						button(data-value="Темно-оливковый" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-panel-5.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-panel-5.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-panel-5.png", alt="").project-calc__palette
					div(data-tab-content="pvh-vagonka").project-calc__tab-item
						button(data-value="Белый" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-1.png", alt="").project-calc__palette
						button(data-value="Зеленый" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-2.png", alt="").project-calc__palette
						button(data-value="Синий" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-3.png", alt="").project-calc__palette
						button(data-value="Бежевый" data-group="typeof-walls" data-src="img/project-calc/glass-default/project-calc-default-pvh-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-pvh-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/otdelka-sten-pvh-4.png", alt="").project-calc__palette
			div(id="typeof-floor-control").project-calc__group.project-calc__group-mobile
				.project-calc__name Отделка пола
				.project-calc__tab-nav
					div(data-tab="kovrolin").project-calc__switch
						.project-calc__circle
						.project-calc__text Ковролин
					div(data-tab="laminat").project-calc__switch
						.project-calc__circle
						.project-calc__text Ламинат
					div(data-tab="linoleum").project-calc__switch
						.project-calc__circle
						.project-calc__text Линолеум
					div(data-tab="plitka").project-calc__switch
						.project-calc__circle
						.project-calc__text Плитка
				.project-calc__tab-content
					div(data-tab-content="kovrolin").project-calc__tab-item
						button(data-value="Ковролин-1" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-kovrolin-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-kovrolin-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-kovrolin-1.png", alt="").project-calc__palette
						button(data-value="Ковролин-2" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-kovrolin-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-kovrolin-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-kovrolin-2.png", alt="").project-calc__palette
						button(data-value="Ковролин-3" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-kovrolin-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-kovrolin-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-kovrolin-3.png", alt="").project-calc__palette
						button(data-value="Ковролин-4" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-kovrolin-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-kovrolin-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-kovrolin-4.png", alt="").project-calc__palette
						button(data-value="Ковролин-5" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-kovrolin-5.png" data-src-v2="img/project-calc/glass-france/project-calc-france-kovrolin-5.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-kovrolin-5.png", alt="").project-calc__palette
					div(data-tab-content="laminat").project-calc__tab-item
						button(data-value="Ламинат-1" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-laminat-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-laminat-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-laminat-1.png", alt="").project-calc__palette
						button(data-value="Ламинат-2" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-laminat-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-laminat-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-laminat-2.png", alt="").project-calc__palette
						button(data-value="Ламинат-3" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-laminat-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-laminat-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-laminat-3.png", alt="").project-calc__palette
						button(data-value="Ламинат-4" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-laminat-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-laminat-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-laminat-4.png", alt="").project-calc__palette
						button(data-value="Ламинат-5" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-laminat-5.png" data-src-v2="img/project-calc/glass-france/project-calc-france-laminat-5.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-laminat-5.png", alt="").project-calc__palette
					div(data-tab-content="linoleum").project-calc__tab-item
						button(data-value="Линолеум-1" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-linoleum-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-linoleum-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-linoleum-1.png", alt="").project-calc__palette
						button(data-value="Линолеум-2" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-linoleum-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-linoleum-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-linoleum-2.png", alt="").project-calc__palette
						button(data-value="Линолеум-3" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-linoleum-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-linoleum-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-linoleum-3.png", alt="").project-calc__palette
						button(data-value="Линолеум-4" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-linoleum-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-linoleum-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-linoleum-4.png", alt="").project-calc__palette
						button(data-value="Линолеум-5" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-linoleum-5.png" data-src-v2="img/project-calc/glass-france/project-calc-france-linoleum-5.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-linoleum-5.png", alt="").project-calc__palette
					div(data-tab-content="plitka").project-calc__tab-item
						button(data-value="Плитка-1" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-plitka-1.png" data-src-v2="img/project-calc/glass-france/project-calc-france-plitka-1.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-plitka-1.png", alt="").project-calc__palette
						button(data-value="Плитка-2" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-plitka-2.png" data-src-v2="img/project-calc/glass-france/project-calc-france-plitka-2.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-plitka-2.png", alt="").project-calc__palette
						button(data-value="Плитка-3" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-plitka-3.png" data-src-v2="img/project-calc/glass-france/project-calc-france-plitka-3.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-plitka-3.png", alt="").project-calc__palette
						button(data-value="Плитка-4" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-plitka-4.png" data-src-v2="img/project-calc/glass-france/project-calc-france-plitka-4.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-plitka-4.png", alt="").project-calc__palette
						button(data-value="Плитка-5" data-group="typeof-floor" data-src="img/project-calc/glass-default/project-calc-default-plitka-5.png" data-src-v2="img/project-calc/glass-france/project-calc-france-plitka-5.png").project-calc__round.project-calc__round-big
							img(src="img/project-calc/floor-plitka-5.png", alt="").project-calc__palette
			.project-calc__group.project-calc__group-mobile
				input(id="radio-typeof-warm-floor" type="checkbox" value="Теплый пол" ).project-calc__radio.project-calc__checkbox
				label(for="radio-typeof-warm-floor" data-group="typeof-warm-floor" ).project-calc__switch
					.project-calc__circle
					div(style={"font-weight": "bold"}).project-calc__text Теплый пол
			.project-calc__group.project-calc__group-right.project-calc__group-mobile
				a(href="#form-project-calc").project-calc__btn.js-popup-call Заказать
				.project-calc__note *Точная цена определяется замерщиком на месте<br/> Замер бесплатный


