footer.footer 
	.container
		.footer-left
			.footer-left-inner
				ul.footer-menu
					li.footer-menu-item
						a.footer-menu__link(href="#") Ремонт балконов
						ul.footer-submenu
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Капитальный 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Комплексный
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Косметический
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Аварийный ремонт
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Укрепление балкона
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Внешняя отделка
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Крыша на балкон
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Обогрев крыши
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Ремонт без остекления
				ul.footer-menu
					li.footer-menu-item
						a.footer-menu__link(href="#") Остекление
						ul.footer-submenu
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Теплое 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Холодное
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Полутеплое
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Распашное
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Раздвижное
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Французское
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Фасадное 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Панорамное
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Безрамное
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Финское
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Слайдорс
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Проведал
				ul.footer-menu
					li.footer-menu-item
						a.footer-menu__link(href="#") Отделка
						ul.footer-submenu
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Панели ПВХ 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Панели МДФ
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Ламинатом
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Деревом
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Камнем
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Пробка
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Обои 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Штукатурка
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Гипсокартон
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Гипсоволокно
				ul.footer-menu
					li.footer-menu-item
						a.footer-menu__link(href="#") Утепление
						ul.footer-submenu
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Пеноплекс 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Теплофом
							li.footer-submenu-item
								a.footer-submenu__link(href="#") ПИР плита
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Теплофом
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Руспанель
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Напыление
				ul.footer-menu
					li.footer-menu-item
						a.footer-menu__link(href="#") Окна
						ul.footer-submenu
							li.footer-submenu-item
								a.footer-submenu__link(href="#") ПВХ 
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Дерево
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Алюминий
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Стеклокомпозит
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Rehau
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Schuko
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Veka
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Kaleva
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Melke
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Gealan
							li.footer-submenu-item
								a.footer-submenu__link(href="#") KBE
							li.footer-submenu-item
								a.footer-submenu__link(href="#") Dequning
			.copyright Разработано студией 
				a(href="", target="_blank", rel="noopener noreferrer")  MNOGOLAND
		.footer-right
			.footer-right-inner
				.footer__title Контакты
				ul.tels
					li.tels-item
						a.tels__link(href="tel:+74995213669") +7 (499) <b>521-36-69</b>
				ul.links
					li.links-item
						a.links__link(href="#") Заказать звонок
				ul.mails
					li.mails-item
						a.mails__link(href="mailto:info@elit-balkon.ru") info@elit-balkon.ru
				.footer__name ТМ. "ЭлитБалкон"
				address.footer__address г. Москва <br> ул. Большая Почтовая 55/59
				.footer-payments
					+icon('mascard')
					+icon('visa')
				a.privacy-link(href="#") Политика конфиденциальности

