.header {
	box-shadow: $header-shadow;
	position: relative;
	z-index: 10;
	background: #fff;
	@include max-screen(1200px) {
		padding: 5px 0;
	}

	&-left {
		width: 8%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background: #fff;
		box-shadow: $header-shadow;
		margin-bottom: -20px;
		@include max-screen(1200px) {
			margin: 0;
			width: 50px;
			box-shadow: none;
		}
		@include max-screen(599px) {
			width: 40px;
		}
	}
	&-middle {
		width: 75%;
		@include max-screen(1200px) {
			display: none;
		}
		&-line {
			&_top {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				padding: 20px 60px;
				@include max-screen(1600px) {
					padding: 10px 30px;
				}
				@include max-screen(1200px) {
					padding: 10px;
				}
			}
			&_bottom {
				padding: 20px 60px 0;
				@include max-screen(1600px) {
					padding: 10px 30px 0;
				}
				@include max-screen(1200px) {
					display: none;
				}
			}
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 20px 0;
		margin-left: auto;
		width: 17%;
		@include max-screen(1600px) {
			padding: 10px 0;
		}
		@include max-screen(1200px) {
			width: calc(100% - 50px);
			flex-direction: row;
			justify-content: flex-end;
			padding: 0;
		}
		&-line {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 12px;
			@include max-screen(599px) {
				flex-direction: column;
				align-items: flex-end;
				margin: 0;
			}
		}
		&-inner {
			text-align: right;
			@include max-screen(1200px) {
				margin-left: 15px;
			}
		}
	}
	&-topnav {
		display: flex;
		align-items: center;
		margin-left: 60px;
		@include max-screen(1600px) {
			margin-left: 30px;
		}
		&-item {
			&:not(:last-child) {
				margin-right: 44px;
				@include max-screen(1600px) {
					margin-right: 24px;
				}
			}
		}
		&__link {
			color: $title;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			position: relative;
			&:hover {
				color: $orange;
				&:after {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: $orange;
					position: absolute;
					left: 50%;
					bottom: -10px;
					transform: translate(-50%, 0);
				}
			}
		}
	}
	&-bottomnav {
		display: flex;
		align-items: center;
		&-item {
			padding: 20px;
			position: relative;
			@include max-screen(1600px) {
				padding: 15px 10px;
			}
			&:not(:last-child) {
				margin-right: 18px;
				@include max-screen(1600px) {
					margin-right: 8px;
				}
			}
			&:hover {
				&:after {
					content: '';
					display: block;
					left: 0;
					right: 0;
					top: 0;
					z-index: -1;
					bottom: 0;
					position: absolute;
					background: $shapeBg;
					border-radius: 25px 25px 0 0;
					@include max-screen(1600px) {
						border-radius: 10px 10px 0 0;
					}
				}
				.submenu {
					display: block;
				}
			}
		}
		&__link {
			color: $title;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			font-size: 18px;
			position: relative;
			@include max-screen(1600px) {
				font-size: 14px;
			}
		}
	}

	.icon {
		display: block;
		fill: #fff;

		&-whatsapp {
			width: 16px;
			@include max-screen(1200px) {
				width: 12px;
			}
		}
		&-telegram {
			width: 14px;
			@include max-screen(1200px) {
				width: 12px;
			}
		}
		&-loupe {
			width: 18px;
			fill: $border;
		}
		&-phone-call {
			width: 22px;
			fill: $orange;
			@include max-screen(1600px) {
				width: 18px;
			}
			@include max-screen(1200px) {
				width: 14px;
			}
		}
	}
	
	.container {
		&.desktop {
			display: flex;
			flex-wrap: wrap;
			@include max-screen(1200px) {
				display: none;
			}
		}
		&.mobile {
			display: none;
			@include max-screen(1200px) {
				display: block;
			}
			.logo {
				width: 51px;
				margin: 0 auto 48px;
			}
		}
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		&__img {
			display: block;
			width: calc(100% - 56px);
			&:hover {
				opacity: .5;
			}
			@include max-screen(1200px) {
				width: 100%;
			}
		}
	}
	.social {
		display: flex;
		flex-wrap: wrap;
		margin-right: 20px;
		@include max-screen(1200px) {
			margin-right: 0;
		}
		&-item {
			&:not(:last-child) {
				margin-right: 7px;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 28px;
			width: 28px;
			height: 28px;
			@include max-screen(1200px) {
				width: 22px;
				height: 22px;
			}
			&.wp {
				background: $green;
			}
			&.tg {
				background: $blue;
			}
		}
	}
	.choose-city {
		position: relative;
		margin-right: 17px;
		@include max-screen(400px) {
			margin-right: 10px;
		}
		&.active {
			.choose-city-list {
				display: block;
			}
			.choose-city__current:before {
				transform: rotate(180deg);
			}
		}
		&__current {
			color: $border;
			font-size: 15px;
			line-height: 1.4;
			position: relative;
			transition: color .3s ease;
			cursor: pointer;
			@include max-screen(400px) {
				font-size: 12px;
			}
			&:before {
				@include triangle(down, 7px, $border);
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translate(0, -50%);
				transform-origin: center center;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background: $border;
				transition: background-color .3s ease;
			}
			&:hover {
				color: $orange;
				&:after {
					background: $orange;
				}
			}
		}
		&-list {
			position: absolute;
			left: 50%;
			top: 120%;
			transform: translate(-50%, 0);
			min-width: 70px;
			padding: 10px 25px;
			background: #fff;
			box-shadow: 0px 4px 15px rgba(129, 151, 231, 0.15);
			border-radius: 10px;
			text-align: center;
			display: none;
			&-item {
				width: 100%;
				margin: 5px 0;
			}
			&__link {
				text-decoration: none;
				text-align: center;
				display: inline-block;
				font-size: 14px;
				line-height: 1;
				position: relative;
				color: $border;
				&:after {
					content: '';
					display: block;
					opacity: 0;
					width: 100%;
					height: 1px;
					background: $orange;
					transition: opacity .3s ease;
				}
				&:hover {
					color: $orange;
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
	.search {
		position: relative;
		width: 318px;
		@include max-screen(1600px) {
			width: 218px;
		}
		@include max-screen(1200px) {
			width: 100%;
		}
		&__field {
			width: 100%;
			height: 37px;
			border-radius: 30px;
			border: 1px solid $border;
			padding: 0 44px;
			line-height: 37px;
			font-size: 15px;
			&::placeholder {
				color: $placeholderGray;
				line-height: 37px;
				font-size: 15px;
			}
			&:focus {
				border-color: $orange;
			}
		}
		&__submit {
			position: absolute;
			width: 37px;
			height: 37px;
			left: 0;
			top: 0;
			z-index: 1;
			border-radius: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				.icon {
					fill: $orange;
				}
			}
		}
	}
	.tels {
		@include max-screen(1200px) {
			margin-bottom: 7px;
		}
		&__link {
			display: flex;
			align-items: center;
			font-size: 24px;
			line-height: 1.2;
			text-decoration: none;
			color: $title;
			&:hover {
				color: $orange;
			}
			@include max-screen(1600px) {
				font-size: 20px;
			}
			@include max-screen(1200px) {
				font-size: 17px;
			}
			
			.icon {
				margin-right: 12px;
				@include max-screen(599px) {
					display: none;
				}
			}
		}
	}
	.links {
		&__link {
			font-size: 18px;
			line-height: 1.2;
			text-decoration: none;
			color: $orange;
			&:hover {
				color: $title;
			}
			@include max-screen(1600px) {
				font-size: 16px;
			}
		}
	}

	.submenu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 300px;
		padding: 38px 23px;
		background: $shapeBg;
		border-radius: 0 0 25px 25px;
		overflow: hidden;
		display: none;
		@include max-screen(1600px) {
			border-radius: 0 0 15px 15px;
			padding: 20px 15px;
		}
		&-item {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		&__link {
			font-weight: 700;
			text-decoration: none;
			color: $title;
			line-height: 1.2;
			display: inline-block;
			&:hover {
				color: $orange;
				text-decoration: underline;

				&:after {
					opacity: 1;
				}
			}
		}
	}

	&-row {
		&_top {
			padding: 10px 0;
			background: #fff;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
		&_bottom {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			padding: 28px 15px 0;
			background: #fff;
			display: none;
			&.show {
				display: block;
			}
		}
	}
	&-col {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

.mobile-menu {
	width: 100%;
	&-item {
		position: relative;
		padding: 15px 0;
		text-align: center;
		&.show {
			.submenu {
				display: block;
			}
			.subarrow {
				transform: rotate(180deg);
			}
		} 
	}
	&__link {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		color: $title;
		padding: 0 25px;
	}
	.submenu {
		position: static;
		text-align: left;
		background: #fff;
		min-width: 100%;
		padding: 15px 0;
	}
}

.subarrow {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 10px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		@include triangle(down, 8px, $title);
	}
}



.burger {
	width: 44px;
	height: 44px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	background: $shapeBg;
	z-index: 1;
}
.burger span {
	background-color: $orange;
	position: absolute;
	border-radius: 2px;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
	width: 18px;
	height: 2px;
}
.burger span:nth-child(1) {
	top: 15px;
	left: 12px;
}
.burger span:nth-child(2) {
	top: 21px;
	left: 12px;
}
.burger span:nth-child(3) {
	bottom: 15px;
	left: 12px;
}
.burger:not(.open):hover span:nth-child(1) {
	@include min-screen(1200px) {
		transform: scaleX(.8);
	}
}
.burger:not(.open):hover span:nth-child(2) {
	@include min-screen(1200px) {
		transform: scaleX(.5);
	}
}
.burger:not(.open):hover span:nth-child(3) {
	@include min-screen(1200px) {
		transform: scaleX(.8);
	}
}
.burger.open span:nth-child(1) {
	top: 21px;
}
.burger.open span:nth-child(2) {
	top: 21px;
}
.burger.open span:nth-child(3) {
	bottom: 21px;
}