header.header 
	.container.desktop 
		.header-left
			a.logo(href="index.html") 
				img.logo__img(src=img+"header/logo.png", alt="")
		.header-middle
			.header-middle-line.header-middle-line_top
				form.search(action="#")
					input.search__field(type="search", name="header-search" placeholder="Поиск по сайту")
					button.search__submit(type="submit")
						+icon('loupe')
				ul.header-topnav 
					li.header-topnav-item 
						a.header-topnav__link(href="#") фотогалерея
					li.header-topnav-item 
						a.header-topnav__link(href="#") Оплата
					li.header-topnav-item 
						a.header-topnav__link(href="#") Информация
					li.header-topnav-item 
						a.header-topnav__link(href="#") Акции
					li.header-topnav-item 
						a.header-topnav__link(href="#") Отзывы
					li.header-topnav-item 
						a.header-topnav__link(href="#") Контакты
			.header-middle-line.header-middle-line_bottom
				ul.header-bottomnav 
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Ремонт балконов
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Остекление
						ul.submenu 
							li.submenu-item
								a.submenu__link(href="#") Шумоизоляция балкона
							li.submenu-item
								a.submenu__link(href="#") Холодное остекление
							li.submenu-item
								a.submenu__link(href="#") Безрамное остекление
							li.submenu-item
								a.submenu__link(href="#") Раздвижное остекление
							li.submenu-item
								a.submenu__link(href="#") Остекление балкона с выносом
							li.submenu-item
								a.submenu__link(href="#") Теплое остекление
							li.submenu-item
								a.submenu__link(href="#") Финское безрамное остекление Lumon
							li.submenu-item
								a.submenu__link(href="#") Остекление Slidors
							li.submenu-item
								a.submenu__link(href="#") Пластиковое остекление
							li.submenu-item
								a.submenu__link(href="#") Остекление в домах серии П-44, П-44Т
							li.submenu-item
								a.submenu__link(href="#") Остекление стеклопакетами
							li.submenu-item
								a.submenu__link(href="#") Остекление поликорбанатом
							li.submenu-item
								a.submenu__link(href="#") Финское остекление 
							li.submenu-item
								a.submenu__link(href="#") Остекление балконов деревом
							li.submenu-item
								a.submenu__link(href="#") Полутеплое остекление
							li.submenu-item
								a.submenu__link(href="#") Остекление в сталинских домах
							li.submenu-item
								a.submenu__link(href="#") Остекление Rehau (Рехау)
							li.submenu-item
								a.submenu__link(href="#") Безрамное остекление акристалия 
							li.submenu-item
								a.submenu__link(href="#") Остекление полукруглых балконов
							li.submenu-item
								a.submenu__link(href="#") Радиусное остекление
							li.submenu-item
								a.submenu__link(href="#") Остекление Provedal
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Отделка
						ul.submenu 
							li.submenu-item
								a.submenu__link(href="#") Отделка сайдингом
							li.submenu-item
								a.submenu__link(href="#") Теплый пол
							li.submenu-item
								a.submenu__link(href="#") Объединение с комнатой и кухней
							li.submenu-item
								a.submenu__link(href="#") Внутренняя отделка балконов
							li.submenu-item
								a.submenu__link(href="#") Демонтаж балкона и лоджии
							li.submenu-item
								a.submenu__link(href="#") Обогреватели на балкон
							li.submenu-item
								a.submenu__link(href="#") Сушилки на балкон для белья
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Утепление
						ul.submenu 
							li.submenu-item
								a.submenu__link(href="#") Утепление балкона пеноплексом 30мм
							li.submenu-item
								a.submenu__link(href="#") Тепофол лавсановый двухсторонний
							li.submenu-item
								a.submenu__link(href="#") Напыление пенополистиролом
							li.submenu-item
								a.submenu__link(href="#") Пенопласт для утепления балкона
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Мебель
						ul.submenu 
							li.submenu-item
								a.submenu__link(href="#") Распашные с белыми жалюзи
							li.submenu-item
								a.submenu__link(href="#") Пластиковые (ПВХ)
							li.submenu-item
								a.submenu__link(href="#") Раздвижные - Slidors
							li.submenu-item
								a.submenu__link(href="#") Раздвижные - Veka Sunline
							li.submenu-item
								a.submenu__link(href="#") Распашной алюминиевый
							li.submenu-item
								a.submenu__link(href="#") Распашной деревянный
							li.submenu-item
								a.submenu__link(href="#") Распашной деревянный с жалюзи
							li.submenu-item
								a.submenu__link(href="#") Распашной из поликарбоната
							li.submenu-item
								a.submenu__link(href="#") С подъемными рольставнями
							li.submenu-item
								a.submenu__link(href="#") Распашной из ЛДСП
							li.submenu-item
								a.submenu__link(href="#") Раздвижные - Provedal
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Окна
						ul.submenu 
							li.submenu-item
								a.submenu__link(href="#") Английские (Американские) пластиковые окна Слайдерс
							li.submenu-item
								a.submenu__link(href="#") Деревянные окна
							li.submenu-item
								a.submenu__link(href="#") Окна для загородного дома
							li.submenu-item
								a.submenu__link(href="#") Мягкие окна
							li.submenu-item
								a.submenu__link(href="#") Защита ребенка
							li.submenu-item
								a.submenu__link(href="#") Москитная сетка на окно
							li.submenu-item
								a.submenu__link(href="#") Москитные сетки антикошка
							li.submenu-item
								a.submenu__link(href="#") Решетка для кошек. Выгул за окно
							li.submenu-item
								a.submenu__link(href="#") Откосы для окон ПВХ
							li.submenu-item
								a.submenu__link(href="#") Подоконники для окон
							li.submenu-item
								a.submenu__link(href="#") Жалюзи на пластиковые окна
							li.submenu-item
								a.submenu__link(href="#") Рулонные шторы для пластиковых окон
							li.submenu-item
								a.submenu__link(href="#") Фурнитура Roto
							li.submenu-item
								a.submenu__link(href="#") Теплый монтаж пластиковых окон
							li.submenu-item
								a.submenu__link(href="#") Бренды пластиковых окон
							li.submenu-item
								a.submenu__link(href="#") Наши услуги по ремонту и диагностике
							li.submenu-item
								a.submenu__link(href="#") Фурнитура на окна
							li.submenu-item
								a.submenu__link(href="#") Тросовый замок JACKLOC 
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Цены
		.header-right
			.header-right-line
				ul.social
					li.social-item
						a.social__link.wp(href="#")
							+icon('whatsapp')
					li.social-item
						a.social__link.tg(href="#") 
							+icon('telegram')
				.choose-city.js-choose-city
					.choose-city__current Москва и МО
					ul.choose-city-list
						li.choose-city-list-item
							a.choose-city-list__link(href="") Балашиха
						li.choose-city-list-item
							a.choose-city-list__link(href="") Коломна
			.header-right-inner 
				ul.tels
					li.tels-item
						a.tels__link(href="tel:+74995213669") 
							+icon('phone-call')
							span +7 (499) <b>521-36-69</b>
				ul.links
					li.links-item
						a.links__link(href="#") Заказать звонок
	.container.mobile
		.header-row.header-row_top
			.burger
				span
				span
				span
			.header-col
				ul.tels
					li.tels-item
						a.tels__link(href="tel:+74995213669") 
							+icon('phone-call')
							span +7 (499) <b>521-36-69</b>
				ul.social
					li.social-item
						a.social__link.wp(href="#")
							+icon('whatsapp')
					li.social-item
						a.social__link.tg(href="#") 
							+icon('telegram')
		.header-row.header-row_bottom
			a.logo(href="index.html") 
				img.logo__img(src=img+"header/logo.png", alt="")
			ul.mobile-menu 
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Ремонт балконов
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Остекление
					button.subarrow
					ul.submenu 
						li.submenu-item
							a.submenu__link(href="#") Шумоизоляция балкона
						li.submenu-item
							a.submenu__link(href="#") Холодное остекление
						li.submenu-item
							a.submenu__link(href="#") Безрамное остекление
						li.submenu-item
							a.submenu__link(href="#") Раздвижное остекление
						li.submenu-item
							a.submenu__link(href="#") Остекление балкона с выносом
						li.submenu-item
							a.submenu__link(href="#") Теплое остекление
						li.submenu-item
							a.submenu__link(href="#") Финское безрамное остекление Lumon
						li.submenu-item
							a.submenu__link(href="#") Остекление Slidors
						li.submenu-item
							a.submenu__link(href="#") Пластиковое остекление
						li.submenu-item
							a.submenu__link(href="#") Остекление в домах серии П-44, П-44Т
						li.submenu-item
							a.submenu__link(href="#") Остекление стеклопакетами
						li.submenu-item
							a.submenu__link(href="#") Остекление поликорбанатом
						li.submenu-item
							a.submenu__link(href="#") Финское остекление 
						li.submenu-item
							a.submenu__link(href="#") Остекление балконов деревом
						li.submenu-item
							a.submenu__link(href="#") Полутеплое остекление
						li.submenu-item
							a.submenu__link(href="#") Остекление в сталинских домах
						li.submenu-item
							a.submenu__link(href="#") Остекление Rehau (Рехау)
						li.submenu-item
							a.submenu__link(href="#") Безрамное остекление акристалия 
						li.submenu-item
							a.submenu__link(href="#") Остекление полукруглых балконов
						li.submenu-item
							a.submenu__link(href="#") Радиусное остекление
						li.submenu-item
							a.submenu__link(href="#") Остекление Provedal
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Отделка
					button.subarrow
					ul.submenu 
						li.submenu-item
							a.submenu__link(href="#") Отделка сайдингом
						li.submenu-item
							a.submenu__link(href="#") Теплый пол
						li.submenu-item
							a.submenu__link(href="#") Объединение с комнатой и кухней
						li.submenu-item
							a.submenu__link(href="#") Внутренняя отделка балконов
						li.submenu-item
							a.submenu__link(href="#") Демонтаж балкона и лоджии
						li.submenu-item
							a.submenu__link(href="#") Обогреватели на балкон
						li.submenu-item
							a.submenu__link(href="#") Сушилки на балкон для белья
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Утепление
					button.subarrow
					ul.submenu 
						li.submenu-item
							a.submenu__link(href="#") Утепление балкона пеноплексом 30мм
						li.submenu-item
							a.submenu__link(href="#") Тепофол лавсановый двухсторонний
						li.submenu-item
							a.submenu__link(href="#") Напыление пенополистиролом
						li.submenu-item
							a.submenu__link(href="#") Пенопласт для утепления балкона
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Мебель
					button.subarrow
					ul.submenu 
						li.submenu-item
							a.submenu__link(href="#") Распашные с белыми жалюзи
						li.submenu-item
							a.submenu__link(href="#") Пластиковые (ПВХ)
						li.submenu-item
							a.submenu__link(href="#") Раздвижные - Slidors
						li.submenu-item
							a.submenu__link(href="#") Раздвижные - Veka Sunline
						li.submenu-item
							a.submenu__link(href="#") Распашной алюминиевый
						li.submenu-item
							a.submenu__link(href="#") Распашной деревянный
						li.submenu-item
							a.submenu__link(href="#") Распашной деревянный с жалюзи
						li.submenu-item
							a.submenu__link(href="#") Распашной из поликарбоната
						li.submenu-item
							a.submenu__link(href="#") С подъемными рольставнями
						li.submenu-item
							a.submenu__link(href="#") Распашной из ЛДСП
						li.submenu-item
							a.submenu__link(href="#") Раздвижные - Provedal
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Окна
					button.subarrow
					ul.submenu 
						li.submenu-item
							a.submenu__link(href="#") Английские (Американские) пластиковые окна Слайдерс
						li.submenu-item
							a.submenu__link(href="#") Деревянные окна
						li.submenu-item
							a.submenu__link(href="#") Окна для загородного дома
						li.submenu-item
							a.submenu__link(href="#") Мягкие окна
						li.submenu-item
							a.submenu__link(href="#") Защита ребенка
						li.submenu-item
							a.submenu__link(href="#") Москитная сетка на окно
						li.submenu-item
							a.submenu__link(href="#") Москитные сетки антикошка
						li.submenu-item
							a.submenu__link(href="#") Решетка для кошек. Выгул за окно
						li.submenu-item
							a.submenu__link(href="#") Откосы для окон ПВХ
						li.submenu-item
							a.submenu__link(href="#") Подоконники для окон
						li.submenu-item
							a.submenu__link(href="#") Жалюзи на пластиковые окна
						li.submenu-item
							a.submenu__link(href="#") Рулонные шторы для пластиковых окон
						li.submenu-item
							a.submenu__link(href="#") Фурнитура Roto
						li.submenu-item
							a.submenu__link(href="#") Теплый монтаж пластиковых окон
						li.submenu-item
							a.submenu__link(href="#") Бренды пластиковых окон
						li.submenu-item
							a.submenu__link(href="#") Наши услуги по ремонту и диагностике
						li.submenu-item
							a.submenu__link(href="#") Фурнитура на окна
						li.submenu-item
							a.submenu__link(href="#") Тросовый замок JACKLOC 
				li.mobile-menu-item 
					a.mobile-menu__link(href="#") Цены