mixin material-prices(blockTitle)
	section.material-prices
		.container
			.block-title !{blockTitle}
			.inner
				.item
					+img('material-prices','img1','item__img','1')
					.item-inner
						.text-container
							h3 Двухсторонний тепофол
							p Очень часто мы видим реальную халтуру по остеклению на балконах и лоджиях Москвы.
							p Остекление без доборных усилителей, и нащельников, крыша из ондулина который долго не может служить.
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 850 ₽/м<sup>2</sup>
							a.item__link(href="#") Подробнее
				.item
					+img('material-prices','img2','item__img','1')
					.item-inner
						.text-container
							h3 Кровельный пеноплекс - 3см
							p Очень часто мы видим реальную халтуру по остеклению на балконах и лоджиях Москвы.
							p Остекление без доборных усилителей, и нащельников, крыша из ондулина который долго не может служить.
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 1 400 ₽/м<sup>2</sup>
							a.item__link(href="#") Подробнее
				.item
					+img('material-prices','img3','item__img','1')
					.item-inner
						.text-container
							h3 Плиты теплофом
							p Очень часто мы видим реальную халтуру по остеклению на балконах и лоджиях Москвы.
							p Остекление без доборных усилителей, и нащельников, крыша из ондулина который долго не может служить.
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 2 500 ₽/м<sup>2</sup>
							a.item__link(href="#") Подробнее
				.item
					+img('material-prices','img4','item__img','1')
					.item-inner
						.text-container
							h3 Напыление ППУ - от 4 до 6 см
							p Очень часто мы видим реальную халтуру по остеклению на балконах и лоджиях Москвы.
							p Остекление без доборных усилителей, и нащельников, крыша из ондулина который долго не может служить.
						.item-line
							.item-price
								.item-price__text от
								.item-price__num 30 000 ₽
							a.item__link(href="#") Подробнее
						