section.problems
    .container
        .section__title Проблемы которые мы решаем
        .problems__container.js-problems-slider
            .problems__card
                img(src="img/problems/problems-1.jpg", class="problems__img", alt="")
                .problems__content
                    .problems__title Дует из окна
                    ul.red-list
                        li.red-list__item Регулировка фурнитуры
                        li.red-list__item Замена уплотнителя
                        li.red-list__item Устранение щелей изнутри
            .problems__card
                img(src="img/problems/problems-2.jpg", class="problems__img", alt="")
                .problems__content
                    .problems__title Треснул стеклопакет
                    ul.red-list
                        li.red-list__item Замер изделия
                        li.red-list__item Бесплатная доставка
                        li.red-list__item Установка стеклопакета
            .problems__card
                img(src="img/problems/problems-3.jpg", class="problems__img", alt="")
                .problems__content
                    .problems__title Защита детей
                    ul.red-list
                        li.red-list__item Детский замок
                        li.red-list__item Замок с тросиком
                        li.red-list__item Ручка с ключом
            .problems__card
                img(src="img/problems/problems-4.jpg", class="problems__img", alt="")
                .problems__content
                    .problems__title Сломалась фурнитура
                    ul.red-list
                        li.red-list__item Ремонт
                        li.red-list__item Замена деталей
                        li.red-list__item Смазка и регулировка фурнитуры


