section.problems
    .container
        .section__title Проблемы которые мы решаем
        .problems__container
            .problems__card
                img(src="img/main-okna/icons-1.png", class="problems__img", alt="")
                .problems__content

