//- отделка
extends ../layout.pug

block head-info
	+title('Index page')
	+desc('Index page desc')

block content-main
	+mainblock('Отделка балконов <br> в Москве и МО','','finishing-bg')
	+breadcrumbs(['Главная'], 'Отделка')
	+compare-types2('ОСНОВНЫЕ ВИДЫ ОТДЕЛКИ БАЛКОНОВ И ЛОДЖИЙ')
	+finishing-balcony-key('ОТДЕЛКА БАЛКОНОВ И ЛОДЖИЙ ПОД КЛЮЧ', '<p>Остекление и отделка балкона – уникальная возможность организовать дополнительное пространство для жизни. Все то, что так хотелось иметь у себя дома, но на что так не хватало места. Уютный уголок для чтения, гостиная для дружеского чаепития, спортзал или светлая гардеробная – нет предела мечтаниям и возможностям!</p><p>Компания ЭКООКНА предлагает пакетные решения по отделке балкона и лоджии. Вы можете выбрать любой готовый вариант, адаптировать его под свои запросы или заказать полностью индивидуальное решение.</p>')
	+about('ПОЧЕМУ НАМ ДОВЕРЯЮТ 80%  КЛИЕНТОВ')
	+our-differences('ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ БОЛЬШИНСТВА КОМПАНИЙ')
	//- quiz
	+repair-works('ВАРИАНТЫ КОМПЛЕКТУЮЩИХ ДЛЯ <br> ОТДЕЛКИ')
	+repair-materials('МАТЕРИАЛЫ, ПРИМЕНЯЕМЫЕ ПРИ ОТДЕЛКЕ БАЛКОНОВ И ЛОДЖИЙ')
	+before-after('РАБОТЫ ДО ОТДЕЛКИ И ПОСЛЕ')
	+info-cards('ДОПОЛНИТЕЛЬНЫЕ РАБОТЫ ПРИ ОТДЕЛКЕ БАЛКОНОВ')
	+callback-section('СОМНЕВАЕТЕСЬ, КАКОЙ ТИП ОТДЕЛКИ <br> ВАМ НУЖЕН?')
	+repair-steps('ЭТАПЫ ОТДЕЛКИ БАЛКОНОВ И ЛОДЖИЙ', 'Ведущие этапы работ, улучшающие качество ремонта:')
	+portfolio-section('<span>За 20 лет</span> выполнено <span>более 1450 работ</span> по ремонту и остеклению балконов и лоджий','Примеры работ ДО и ПОСЛЕ')
	+panorama('3D-панорамы ремонта балконов и лоджий','Компания ELIT-BALkON')
	+repair-prices('ЦЕНЫ НА ОТДЕЛКУ БАЛКОНОВ И ЛОДЖИЙ В МОСКВЕ')
	+repair-variants('ПРИМЕРЫ РАСЧЕТОВ СТОИМОСТИ ВЫПОЛНЕННЫХ РАБОТ ПО ОТДЕЛКЕ')
	+pricelist('ПРАЙС ЛИСТ НА ОТДЕЛКУ БАЛКОНОВ ПОД КЛЮЧ')
	+stocks-slider('Акции и скидки на окна')
	+our-services('Ознакомьтесь с ключевыми услугами по отделке балконов и лоджий')
	+services-previews('ОЗНАКОМЬТЕСЬ С ПОЛНЫМ ПЕРЕЧНЕМ УСЛУГ, <br> ПРОИЗВОДИМЫХ НАШЕЙ КОМПАНИЕЙ')
	+partners('МЫ РАБОТАЕМ С ЛУЧШИМИ ПРОИЗВОДИТЕЛЯМИ КОМПЛЕКТУЮЩИХ','Наши партнёры')
	+certificates('СЕРТИФИКАТЫ НА НАШУ ПРОДУКЦИЮ')
	.sections-wrap
		+installers-quality('КАКИМИ КАЧЕСТВАМИ ОБЛАДАЮТ НАШИ МОНТАЖНИКИ')
		+qa('ЧАСТЫЕ ВОПРОСЫ ПО ОТДЕЛКЕ БАЛКОНОВ И ЛОДЖИЙ')
		+category-about('img.jpg','<p>Компания «ELIT-BALKON» осуществляет внешние ивнутренние отделочные работы под ключ в Москве иобласти. Гарантия на работы – до 9 лет. Демонтаж старыхматериалов, утепление, проводка электричества идекоративные отделочные работы.</p><p>На нашем складе всегда в наличие огромный ассортиментматериалов: плитки, гипсокартоновые листы, пластиковыепанели ПВХ, МДФ и из дерева, декоративный камень,вагонка и многое другое. Более 30 видов по одной позиции. Это означает, что мы можем начать отделку балкона илилоджии уже на следующий день после замера.</p><p>Мы открыты для переговоров. Все цены обсуждаются, иварианты отделки подстраиваются под ваш бюджет. Выполняем эконом варианты и заканчиваем премиумклассом.</p><p>Узнать цену отделки балкона или лоджии «под ключ» вМоскве, можно заполнив заявку или связавшись с нами пономеру: <a href="tel:+7499 4509584">+7 (499) 450-95-84</a>.</p>')
	+videos-section('КАК НЕ ОБЖЕЧЬСЯ ПРИ <br> ВЫБОРЕ КОМПАНИИ ПО <br> РЕМОНТУ БАЛКОНОВ?','Узнайте за 3 минуты, посмотрев видео','ПОЛУЧИТЕ ПОДБОРКУ ВИДЕО','где мы подробно разбираем, как правильно выбрать компанию по ремонту балконов')
	+contact
