//- главная страница
extends ../layout.pug

block head-info
	+title('Index page')
	+desc('Index page desc')

block content-main
	+mainblock('Ремонт балконов <br> в Москве и МО','','bg')
	+compare-types('ОСНОВНЫЕ ВИДЫ РЕМОНТОВ БАЛКОНОВ И ЛОДЖИЙ')
	+about('ПОЧЕМУ НАМ ДОВЕРЯЮТ 80%  КЛИЕНТОВ')
	+our-differences('ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ БОЛЬШИНСТВА КОМПАНИЙ')
	//- quiz
	+repair-works('КАКИЕ ВИДЫ РАБОТ МОГУТ ВХОДИТЬ В <br> РЕМОНТ БАЛКОНА')
	+repair-materials('МАТЕРИАЛЫ ПРИМЕНЯЕМЫЕ ПРИ РЕМОНТЕ БАЛКОНА')
	+before-after('РАБОТЫ ДО РЕМОНТА И ПОСЛЕ')
	+info-cards('ВНЕШНИЕ РЕМОНТНЫЕ РАБОТЫ')
	+callback-section('СОМНЕВАЕТЕСЬ В РАЗМЕРАХ <br> И ТИПАХ ОКОН, КОТОРЫЕ ВАМ НУЖНЫ?','Вызовите замерщика, который всё Вам расскажет и покажет. Это БЕСПЛАТНО!')
	+repair-steps('ЭТАПЫ РЕМОНТА БАЛКОНОВ И ЛОДЖИЙ','Ведущие этапы работ, улучшающие качество ремонта:')
	+portfolio-section('<span>За 20 лет</span> выполнено <span>более 1450 работ</span> по ремонту и остеклению балконов и лоджий','Примеры работ ДО и ПОСЛЕ')
	+panorama('3D-панорамы ремонта балконов и лоджий','Компания ELIT-BALkON')
	+repair-prices('ЦЕНЫ НА РЕМОНТ БАЛКОНОВ')
	+repair-variants('ВАРИАНТЫ РЕМОНТА МАЛЕНЬКИХ И БОЛЬШИХ БАЛКОНОВ','Мы можем отремонтировать балконы любого размера и формы, в старых домах или в новостройках. Беремся за аварийные ситуации, что и отличает нас от конкурентов.')
	+stocks-slider('АКЦИИ И СКИДКИ НА ОКНА')
	+our-services('НАШИ УСЛУГИ')
	+services-previews('ОЗНАКОМЬТЕСЬ С ПОЛНЫМ ПЕРЕЧНЕМ УСЛУГ, <br> ПРОИЗВОДИМЫХ НАШЕЙ КОМПАНИЕЙ')
	+partners('МЫ РАБОТАЕМ С ЛУЧШИМИ ПРОИЗВОДИТЕЛЯМИ КОМПЛЕКТУЮЩИХ','Наши партнёры')
	+certificates('СЕРТИФИКАТЫ НА НАШУ ПРОДУКЦИЮ')
	.sections-wrap
		+installers-quality('КАКИМИ КАЧЕСТВАМИ ОБЛАДАЮТ НАШИ МОНТАЖНИКИ')
		+qa('ЧАСТЫЕ ВОПРОСЫ ПО РЕМОНТУ БАЛКОНОВ И ЛОДЖИЙ')
	+videos-section('КАК НЕ ОБЖЕЧЬСЯ ПРИ <br> ВЫБОРЕ КОМПАНИИ ПО <br> РЕМОНТУ БАЛКОНОВ?','Узнайте за 3 минуты, посмотрев видео','ПОЛУЧИТЕ ПОДБОРКУ ВИДЕО','где мы подробно разбираем, как правильно выбрать компанию по ремонту балконов')
	+contact
	