//- главная страница
extends ../layout.pug

block head-info
	+title('Index page')
	+desc('Index page desc')

block apartment-blocks
	main#apartment-repair
		include ../blocks/mainblock/template.pug
		include ../blocks/why-we/template.pug
		include ../blocks/seo-block/template.pug
		include ../blocks/repair-types/template.pug
		include ../blocks/apartments/template.pug
		include ../blocks/measurement-form/template.pug
		include ../blocks/color-table/template.pug
		include ../blocks/projects/template.pug
		include ../blocks/rooms/template.pug
		include ../blocks/warranty/template.pug
		include ../blocks/price-list/template.pug
		include ../blocks/cost-work/template.pug
		+services('02','Наши услуги')
		include ../blocks/gallery/template.pug
		include ../blocks/discounts/template
		include ../blocks/faq/faq.pug
		include ../blocks/installment/template
		include ../blocks/contacts/template.pug
