//- ремонт окон

extends ../layout.pug

block main
        main#window-repair
            include ../blocks/main-okna/template.pug
            include ../blocks/quize/template.pug
            include ../blocks/problems/template.pug
            include ../blocks/constructions/template.pug
            include ../blocks/measurement-form/template.pug
            include ../blocks/broke/template.pug
            include ../blocks/banner-s-repair/template.pug
            include ../blocks/services-w/template.pug
            include ../blocks/banner-s-dismantling/template.pug
            include ../blocks/manufacturer/template.pug

block head-info
    +title('Remont okon page')
    +desc('Remont okon desc')
