//- ремонт окон
include ../components/pug/vars.pug
include ../components/pug/mixin.pug
include ../components/pug/project-mixin.pug
include ../blocks/services/template.pug
doctype
html
    block head
        head
            include ../components/pug/meta.pug
            include ../components/pug/links.pug

            block head-info
    body
        main#window-repair
            include ../blocks/main-okna/template.pug
            include ../blocks/problems/template.pug
            include ../blocks/constructions/template.pug
            include ../blocks/measurement-form/template.pug
            include ../blocks/broke/template.pug
            include ../blocks/banner-s-repair/template.pug
            include ../blocks/services-w/template.pug
            include ../blocks/banner-s-dismantling/template.pug

        block foot
            include ../components/pug/scripts.pug

block head-info
    +title('Remont okon page')
    +desc('Remont okon desc')
