//- Утепление
extends ../layout.pug

block content-main
	+mainblock('Утепление балконов <br> в Москве и МО','','warming-bg')
	+breadcrumbs(['Главная'],'Утепление')
	+category-cards('Основные виды утепления балконов и лоджий','middle')
	+finishing-balcony-key('ОТДЕЛКА БАЛКОНОВ И ЛОДЖИЙ ПОД КЛЮЧ', '<p>Остекление и отделка балкона – уникальная возможность организовать дополнительное пространство для жизни. Все то, что так хотелось иметь у себя дома, но на что так не хватало места. Уютный уголок для чтения, гостиная для дружеского чаепития, спортзал или светлая гардеробная – нет предела мечтаниям и возможностям!</p><p>Компания ЭКООКНА предлагает пакетные решения по отделке балкона и лоджии. Вы можете выбрать любой готовый вариант, адаптировать его под свои запросы или заказать полностью индивидуальное решение.</p>')
	+about('Почему нам доверяют 80%  клиентов')
	+our-differences('ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ БОЛЬШИНСТВА КОМПАНИЙ')
	//- quiz
	+repair-works('ВАРИАНТЫ КОМПЛЕКТУЮЩИХ ПРИ <br> ОСТЕКЛЕНИИ БАЛКОНОВ')
	+material-prices('Материалы, используемые для утепления балконов')
	+warming-compare('Сравнение утеплителей')
	+before-after('Работы до утепления и после')
	+info-cards('Дополнительные утеплительные работы')
	+callback-section('Сомневаетесь в размерах <br> и типах окон, которые Вам нужны?','Вызовите замерщика, который всё Вам расскажет и покажет. Это БЕСПЛАТНО!')
	+repair-steps('Этапы Отделки балконов и лоджий','Ведущие этапы работ, улучшающие качество ремонта:')
	+panorama('3D-панорамы ремонта балконов и лоджий','Компания ELIT-BALkON')
	+repair-prices('Цены на утепление балконов в Москве')
	+repair-variants('ПРИМЕРЫ РАСЧЕТОВ СТОИМОСТИ ВЫПОЛНЕННЫХ РАБОТ ПО ОТДЕЛКЕ')
	.sections-wrap
		+stocks-slider('Акции и скидки на окна')
	+our-services('Наши услуги')
	+services-previews('ОЗНАКОМЬТЕСЬ С ПОЛНЫМ ПЕРЕЧЕНЬ УСЛУГ ПРОИЗВОДИМЫХ НАШЕЙ КОМПАНИЕЙ')
	+partners('Мы работаем с лучшими производителями комплектующих','Наши партнёры')
	+certificates('Сертификаты на нашу продукцию')
	.sections-wrap
		+installers-quality('Какими качествами обладают наши монтажникии')
		+qa('Частые вопросы по ремонту балконов и лоджий')
		+category-about('img4.jpg','<h2>Утепление балконов и лоджий под ключ</h2><p>Балкон – это единственное место в доме, где нет общего отопления. Установка окон ПВХ может лишь сохранить, но никак не прибавить тепла в комнате. Поэтому мы рекомендуем утеплять балкон, лоджию «под ключ».Но для начала, нужно понять, в какую комнаты вы хотите преобразить лоджию:</p><p>Место для хранения. Используем более экономичные материалы, т.к. вещам не нужно поддержание комфортной температуры. Утеплитель прокладывается по всему помещению;</p><p>Круглогодичное место для сушки белья. Сильно утепляем смежную с основной комнатой стену и повышаем уровень теплосохранения; Дополнительная комната. Используются экологичные материалы высокого качества. Главная задача – профессиональное остекление и теплономность.</p><p>Компания «ELIT-BALKON» предлагает свои услуги по застеклению и утеплению балкона. Работаем в Москве и в области. Мы поможем определиться с материалами, и сами выполним точные расчеты.</p>')
	+videos-section('КАК НЕ ОБЖЕЧЬСЯ ПРИ <br> ВЫБОРЕ КОМПАНИИ ПО <br> РЕМОНТУ БАЛКОНОВ?','Узнайте за 3 минуты, посмотрев видео','ПОЛУЧИТЕ ПОДБОРКУ ВИДЕО','где мы подробно разбираем, как правильно выбрать компанию по ремонту балконов')
	+contact
