//- окна
extends ../layout.pug

block content-main
	+mainblock('', 'Пластиковые и <br> алюминиевые окна, двери <br> в Москве и МО', 'windows-bg')
	+breadcrumbs(['Главная'],'Окна')
	+category-cards('Посмотрите, какие виды оконных систем мы устанавливаем','small')
	+about('Почему нам доверяют 80%  клиентов')
	+our-differences('ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ БОЛЬШИНСТВА КОМПАНИЙ')
	//- quiz
	+category-about('img3.jpg','<h2>Цены на окна</h2><p>Современное автоматическое оборудование на котором мы производим пластиковые окна даёт нам возможность предложить нашим клиентам окна с установкой по заводским ценам. Надо учитывать, что самые дешевые пластиковые окна не могут быть качественными по причине использования в производстве окон дешевых не качественных комплектующих. Это может быть и тонкое армирование и фурнитура неизвестного производства. Наша компания не применяет "дешевый" профиль, а использует экономичный, от ведущих европейских производителей.</p>')
	+windows-tabs('Ознакомьтесь, чем отличаются окна, которые мы устанавливаем')
	+furniture('Получите максимальный комплект фурнитуры к вашим окнам')
	+color-solutions('ЛЮБЫЕ ЦВЕТОВЫЕ РЕШЕНИЯ')
	+category-about('img3.jpg','<h2>Входные и балконные двери</h2><p>Предлагаем вам пластиковые и алюминиевые двери от ведущих производителей профильных систем . Большой выбор теплых пластиковых и алюминиевых дверей для остекления жилых и производственных помещений. Заказывайте у нас качественные пластиковые двери с установкой под ключ. Гарантия производителя на профильные системы от 25 до 50 лет, на монтажные работы от 3 до 7 лет. Заказать пластиковые или алюминиевые двери и окна можно в нашем офисе, онлайн на сайте или вызвав нашего инженера для проведения замера и заключения договора на месте. Услуга замер предоставляется бесплатно.<br><br>КОМПАНИЯ ELIT-BALKON</p>','<h2>Цена на двери ПВХ</h2><p>Цены на предлагаемыми нами двери удовлетворят широкий круг потребителей и зависят от выбранной профильной системы, толщины и характеристик стеклопакета, типа порога, фурнитуры, типов запоров и других характеристик. Обратившись к нашим менеджерам Вы получите полноценную консультацию и предварительный расчет.</p>')
	+windows-tabs('Ознакомьтесь, чем отличаются дверные системы, которые мы устанавливаем')
	+info-cards('Дополнительные отделочные работы при остеклении')
	+callback-section('Сомневаетесь в размерах <br> и типах окон, которые Вам нужны?','Вызовите замерщика, который всё Вам расскажет и покажет. Это БЕСПЛАТНО!')
	+repair-steps('Этапы Отделки балконов и лоджий','Ведущие этапы работ, улучшающие качество ремонта:')
	+portfolio-section('<span>За 20 лет</span> выполнено <span>более 1450 работ</span> по ремонту и остеклению балконов и лоджий','Примеры работ ДО и ПОСЛЕ')
	+prices-home-types('Цена на пластиковые окна в типовых домах')
	+services-previews('опции')
	+stocks-slider('Акции и скидки на окна')
	+our-services('Наши услуги')
	+services-previews('ОЗНАКОМЬТЕСЬ С ПОЛНЫМ ПЕРЕЧЕНЬ УСЛУГ ПРОИЗВОДИМЫХ НАШЕЙ КОМПАНИЕЙ')
	+partners('Мы работаем с лучшими производителями комплектующих','Наши партнёры')
	+certificates('Сертификаты на нашу продукцию')
	.section-wrap
		+installers-quality('Какими качествами обладают наши монтажникии')
		+qa('Частые вопросы по ремонту балконов и лоджий')
		+category-about('img3.jpg','<h2>Остекление балкона под ключ</h2><p>Компания «Элит - Балкон» является лидером по качествупредоставляемых услуг остекления балконов и лоджий вМоскве и области. У нас огромный опыт работ в даннойсфере, безупречная репутация, сотрудничество сфедеральными телеканалами и радостные отзывыклиентов. Собственное производство алюминиевых ипластиковых профилей делает цену на остекление одной изсамых привлекательных в регионе. При этом, качество,работа по договору и гарантия на монтаж 5 лет, не даетоснований усомниться в правильном выборе. Работаем сомногими профилями оконных профилей, но наиболеевостребованными являются: Rehau, KBE, VEKA сфурнитурой Roto или Sigenia.Остекление балкона в Москве является актуальнымвложением, так как Вы защищаете свое помещение от пыли,дождя, снега, листопада и прочей непогоды, а в комплексе сутеплением появляется возможность оборудовать на немрабочее место.</p>')
	+videos-section('КАК НЕ ОБЖЕЧЬСЯ ПРИ <br> ВЫБОРЕ КОМПАНИИ ПО <br> РЕМОНТУ БАЛКОНОВ?','Узнайте за 3 минуты, посмотрев видео','ПОЛУЧИТЕ ПОДБОРКУ ВИДЕО','где мы подробно разбираем, как правильно выбрать компанию по ремонту балконов')
	+contact
