mixin repair-prices(blockTitle)
	section.repair-prices
		.container
			.block-title !{blockTitle}
			.inner
				.item
					+img('repair-prices', 'img1', 'item__img', '1')
					.item-inner
						.item__title Изготовление и ремонт нового парапета на балконе или лоджии
						.item-price 
							.item-price__text Цена: 1 м.п по парапету
							.item-price__num 17 100 ₽
				.item
					+img('repair-prices', 'img2', 'item__img', '1')
					.item-inner
						.item__title Новый парапет с ремонтом основания балкона
						.item-price 
							.item-price__text Цена: 1 м.п по парапету
							.item-price__num 19 800 ₽
				.item
					+img('repair-prices', 'img3', 'item__img', '1')
					.item-inner
						.item__title Укрепление ремонт существующего парапета
						.item-price 
							.item-price__text Цена: 1 м.п по парапету
							.item-price__num 36 800 ₽
				.item
					+img('repair-prices', 'img4', 'item__img', '1')
					.item-inner
						.item__title Комплексный ремонт ветхого балкона под ключ
						.item-price 
							.item-price__text Цена: 1 м.п по парапету
							.item-price__num 60 870 ₽
			.repair-prices-line
				.repair-prices__text Узнайте, <b>сколько стоит</b> ремонт вашего балкона
				a.repair-prices__btn.btn(href="#") Узнать