section.discounts
    .container
        .section__title Скидки нашим клиентам от партнёров
        .discounts__container
            a(href="https://c-world.ru/", rel="nofollow", target="_blank", class="discounts__item" )
                .discounts__wrapper
                    img(src="img/discounts/partner-1.png", class="discounts__img", alt="")
                .discounts__info
                    .discounts__title Скидка от 15%
                    .discounts__desc Магазин лакокрасочной продукции
            a(href="http://plitkin-dom.ru/", rel="nofollow", target="_blank", class="discounts__item" )
                .discounts__wrapper
                    img(src="img/discounts/partner-2.png", class="discounts__img", alt="")
                .discounts__info
                    .discounts__title Скидка от 5%
                    .discounts__desc Сеть магазинов «Плиткин Дом»
            a(href="https://рифар.москва/", rel="nofollow", target="_blank", class="discounts__item" )
                .discounts__wrapper
                    img(src="img/discounts/partner-3.jpg", class="discounts__img", alt="")
                .discounts__info
                    .discounts__title Скидка от 10%
                    .discounts__desc «РИФАР» - производитель высококачественных алюминиевых и биметаллических радиаторов
            a(href="https://www.floordealer.ru/", rel="nofollow", target="_blank", class="discounts__item" )
                .discounts__wrapper
                    img(src="img/discounts/partner-4.jpg", class="discounts__img", alt="")
                .discounts__info
                    .discounts__title Скидка от 15%
                    .discounts__desc ФлорДилер - продажа напольных покрытий в Москве