mixin qa-shape
	svg.qa-shape(viewBox='0 0 1018 912' fill='none' xmlns='http://www.w3.org/2000/svg')
		mask#mask0(mask-type='alpha' maskUnits='userSpaceOnUse' x='-1' y='0' width='1019' height='912')
			rect(x='-0.09375' width='1017.83' height='912' fill='#C4C4C4')
		g(mask='url(#mask0)')
			path(d='M-47.3683 928.482L621.577 1103.25C680.499 1118.64 742.206 1091.06 770.042 1036.89L979.464 629.375C1012.32 565.437 987.051 486.962 923.058 454.211L147.466 57.2624C68.9931 17.0998 -25.8427 65.035 -40.043 152.04L-142.818 781.744C-153.625 847.957 -112.276 911.525 -47.3683 928.482Z' fill='#F5F7FE')

mixin qa(blockTitle)
	section.qa
		+qa-shape
		.container
			.block-title !{blockTitle}
			.inner
				.info-card
					a.info-card-img(href="#")
						+img('qa','img1', 'info-card__img','1')
					a.info-card__title(href="#") Технологии ремонта и общие требования
					.info-card__text.text-container
						p Ремонт балкона в доме или квартире имеет общую технологию:
						p Осмотр состояния плит, стен и перегородок.
						p Демонтаж старых и поломанных конструкций и покрытий
						p Ремонт балкона в доме или квартире имеет общую технологию:
						p Осмотр состояния плит, стен и перегородок.
						p Демонтаж старых и поломанных конструкций и покрытий
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('qa','img2', 'info-card__img','1')
					a.info-card__title(href="#") Почему у нас дорогой ремонт?
					.info-card__text.text-container
						p Комплексное обновление и укрепление каркаса балкона не может быть дешевым. Потому что данные работы требуют точных расчетов, выполнения тяжелых и опасных строительных работ, что в итоге продлевает срок службы балконной плиты на 50 лет.
						p Комплексное обновление и укрепление каркаса балкона не может быть дешевым. Потому что данные работы требуют точных расчетов, выполнения тяжелых и опасных строительных работ, что в итоге продлевает срок службы балконной плиты на 50 лет.
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('qa','img3', 'info-card__img','1')
					a.info-card__title(href="#") С чего начать ремонт балкона или лоджии?
					.info-card__text.text-container
						p Для получения наилучшего результата от ремонта балкона или лоджии мы следуем четким правилам «первого действия» на каждом этапе:
						p выбор мастера на замер, снятие мерок
						p Для получения наилучшего результата от ремонта балкона или лоджии мы следуем четким правилам «первого действия» на каждом этапе:
						p выбор мастера на замер, снятие мерок
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('qa','img4', 'info-card__img','1')
					a.info-card__title(href="#") Что входит в капитальный ремонт?
					.info-card__text.text-container
						p пециализируемся только на полном спектре услуг, в который входит:
						ul
							li демонтаж и укрепление каркасов;
							li армированная заливка стяжки;
							li внутренняя отделка с защитой от конденсата, холодов и шума
						p пециализируемся только на полном спектре услуг, в который входит:
						ul
							li демонтаж и укрепление каркасов;
							li армированная заливка стяжки;
							li внутренняя отделка с защитой от конденсата, холодов и шума
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
