.qa {
	padding: 60px 0;
	position: relative;
	@include max-screen(1600px) {
		padding: 30px 0;
	}
	@include max-screen(599px) {
		overflow: hidden;
	}

	&-shape {
		display: inline-block;
		position: absolute;
		height: 115%;
		left: 0;
		bottom: 0;
		z-index: -1;
	}
	.inner {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		@include max-screen(599px) {
			flex-wrap: nowrap;
			overflow: auto;
		}
	}
}