.our-differences {
	padding: 90px 0;
	overflow: hidden;
	position: relative;
	@include max-screen(1600px) {
		padding: 30px 0;
	}

	.section-shape {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		display: block;
		width: 50%;
		transform: translate(40%, -12%) rotate(8deg);
	}

	.icon {
		display: inline-block;

		&-check {
			fill: $green;
			width: 15px;
		}
		&-close {
			fill: $red;
			width: 14px;
		}
	}

	.container {
		max-width: 1320px;
		@include max-screen(1350px) {
			max-width: 1200px;
		}
	}
	.inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.col {
		background: #FFFFFF;
		box-shadow: $header-shadow;
		border-radius: 15px;
		width: 46%;
		position: relative;
		@include max-screen(1200px) {
			width: 49%;
		}
		@include max-screen(900px) {
			width: 100%;
			margin: 2% 0;
		}
		&_green {
			padding: 45px 85px 65px 30px;
			text-align: right;
			@include max-screen(1200px) {
				padding: 20px;
			}
			.col__title {
				color: $green;
			}
			.card__icon {
				right: -85px;
				top: 50%;
				transform: translate(50%, -50%);
			}
		}
		&_red {
			padding: 45px 30px 65px 85px;
			text-align: left;
			@include max-screen(1200px) {
				padding: 20px;
			}
			.col__title {
				color: $red;
			}
			.card__icon {
				left: -85px;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&__title {
			font-weight: 700;
			font-size: 25px;
			margin-bottom: 40px;
			@include max-screen(599px) {
				font-size: 20px;
				margin-bottom: 20px;
			}
			@include max-screen(400px) {
				font-size: 18px;
			}
		}
	}
	.card {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $lightGray;
			@include max-screen(599px) {
				padding-bottom: 15px;
				margin-bottom: 15px;
			}
		}
		&__icon {
			display: block;
			border-radius: 100%;
			background: #fff;
			width: 52px;
			height: 52px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 1;
			@include max-screen(1200px) {
				display: none;
			}
			&::before {
				content: '';
				display: block;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: #fff;
				border-radius: 100%;
				box-shadow: 0px 0px 8px 10px rgba(129, 151, 231, 0.15);
				position: absolute;
				z-index: -1;
			}
			&::after {
				content: '';
				display: block;
				left: -20px;
				top: -20px;
				right: -20px;
				bottom: -20px;
				background: #fff;
				border-radius: 100%;
				position: absolute;
				z-index: -2;
			}
		}
		&__text {
			width: 48%;
			font-size: 18px;
			line-height: 1.6;
			@include max-screen(1600px) {
				font-size: 14px;
			}
			@include max-screen(599px) {
				font-size: 12px;
			}
		}
		&__img {
			width: 46%;
			border-radius: 10px;
			object-fit: cover;
		}
	}
	.logo-img {
		position: absolute;
		left: 39px;
		top: 32px;
		width: 39px;
		@include max-screen(900px) {
			width: 25px;
			left: 10px;
			top: 10px;
		}
	}
}