section.gallery 
    .container 
        .section__title.section__title--center Галерея
        .gallery__container.spotlight-group.js-gallery-slider 
            a(href="img/gallery/gallery-1.jpg", class="gallery__link")
                img(src="img/gallery/gallery-1.jpg", class="gallery__img spotlight", alt="")
            a(href="img/gallery/gallery-2.jpg", class="gallery__link")
                img(src="img/gallery/gallery-2.jpg", class="gallery__img spotlight", alt="")
            a(href="img/gallery/gallery-3.jpg", class="gallery__link")
                img(src="img/gallery/gallery-3.jpg", class="gallery__img spotlight", alt="")
            a(href="img/gallery/gallery-4.jpg", class="gallery__link")
                img(src="img/gallery/gallery-4.jpg", class="gallery__img spotlight", alt="")
            a(href="img/gallery/gallery-5.jpg", class="gallery__link")
                img(src="img/gallery/gallery-5.jpg", class="gallery__img spotlight", alt="")
            a(href="img/gallery/gallery-6.jpg", class="gallery__link")
                img(src="img/gallery/gallery-6.jpg", class="gallery__img spotlight", alt="")                    