section.apartments
    .container
        .section__title Наши услуги по типу помещения
        .apartments__container.js-apartments-slider
            .apartments__card
                img(src="img/apartments/types-apart-1.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Ремонт домов, коттеджей
                    .apartments__price от 4000 руб/м<sup>2</sup>
                .apartments__text Капитальный ремонт, перепланировка, инженерные системы
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .apartments__card
                img(src="img/apartments/types-apart-2.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Ремонт квартир
                    .apartments__price от 4000 руб/м<sup>2</sup>
                .apartments__text Ремонт косметический, капитальный, дизайнерский.
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .apartments__card
                img(src="img/apartments/types-apart-3.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Коммерческий ремонт
                    .apartments__price от 4000 руб/м<sup>2</sup>
                .apartments__text Ремонт офисов, торговых помещений или ресторанов
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее