.repair-steps {
	padding: 75px 0;
	position: relative;
	@include max-screen(1600px) {
		padding: 40px 0;
	}
	@include max-screen(599px) {
		overflow: hidden;
	}

	.block-title {
		margin-bottom: 10px;
	}
	.inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none; 
		counter-reset: my-awesome-counter;
		@include max-screen(599px) {
			flex-wrap: nowrap;
			overflow: auto;
			justify-content: flex-start;
		}
	}
	.item {
		counter-increment: my-awesome-counter;
		width: 23%;
		height: 261px;
		margin: 1%;
		background: #FFFFFF;
		box-shadow: $header-shadow;
		border-radius: 10px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		@include max-screen(1600px) {
			width: 31.3%;
		}
		@include max-screen(1200px) {
			width: 48%;
		}
		@include max-screen(599px) {
			max-width: 280px;
			min-width: 280px;
			margin: 10px;
		}
		&:after {
			content: counter(my-awesome-counter);
			display: block;
			width: 53px;
			height: 53px;
			background: $btn-gradient;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			color: #fff;
			font-size: 30px;
			position: absolute;
			right: 17px;
			bottom: 17px;
			@include max-screen(1200px) {
				width: 35px;
				height: 35px;
				font-size: 20px;
			}
		}
		&-img {
			height: 100%;
			width: 36%;
		}
		&-inner {
			width: 64%;
			padding: 35px 17px 25px;
		}
		&__img {
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}
		&__title {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 15px;
		}
		&__text {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 28px;
			line-height: 1.6;
			font-size: 16px;
			height: 120px;
			@include max-screen(800px) {
				font-size: 14px;
			}
		}
		&-line {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-end;
			width: 130px;
		}
		&__link {
			color: $lightGray2;
			text-decoration: none;
			font-weight: 700;
			font-size: 16px;
			position: relative;
			&:hover {
				color: $orange;
				&:after {
					background: $orange;
				}
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 1px;
				width: 100%;
				left: 0;
				bottom: -4px;
				background: $lightGray2;
			}
		}
		&__help {
			color: $orange;
			font-size: 18px;
			font-weight: 700;
			@include max-screen(1200px) {
				display: none;
			}
		}
	}

	.section-shape {
		display: block;
		position: absolute;
		z-index: -1;
		right: 0;
		width: 40%;
		bottom: 0;
		transform: translate(20%, 35%) rotate(9deg);
	}
}