mixin repair-steps(blockTitle,blockText)
	section.repair-steps
		+section-shape
		.container
			.block-title !{blockTitle}
			.block-text !{blockText}
			.inner
				.item
					.item-img
						+img('repair-steps', 'img1', 'item__img', '1')
					.item-inner
						.item__title Замер
						.item__text По согласованию клиента с офисным проект менеджером, на объект выезжает технолог консультант для
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img2', 'item__img', '1')
					.item-inner
						.item__title Подготовка
						.item__text В назначенную дату на объект приезжают монтажники, которые начинают подготовку объекта к работам, укрывают
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img3', 'item__img', '1')
					.item-inner
						.item__title Укрепление
						.item__text После подготовительных работ монтажники крепят детали к стене и полу, выставляют стойки упорные по
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img4', 'item__img', '1')
					.item-inner
						.item__title Остекление
						.item__text Оконные конструкции подготавливаются на месте к установке, сначала снимаются створки, потом к раме
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img5', 'item__img', '1')
					.item-inner
						.item__title Внешняя отделка
						.item__text Внешний декор балкона или лоджии подбирается не броский, чтобы не сильно выделять объект на фоне стен дома
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img6', 'item__img', '1')
					.item-inner
						.item__title Утепление
						.item__text Теплый балкон должен быть защищен от внешних факторов таких как холод зимой и жара летом, и для этого
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг
				.item
					.item-img
						+img('repair-steps', 'img7', 'item__img', '1')
					.item-inner
						.item__title Внутренняя отделка
						.item__text Финишным декором на балконе или лоджии является конечно это уже отделка чистовая, которая выполняется
						.item-line
							a.item__link(href="#") Далее
							.item__help Шаг