section.manufacturer
    .container
        .section__title.section__title--center Собственное производство оконных конструкций в Московской области
        .flex-wrapper
            .manufacturer__left
                .manufacturer__title Сборка конструкций на собственном инновационном производстве.
                ul.list-icon
                    li.list-icon__item
                        svg.list-icon__icon
                            use(xlink:href="img/sprite.svg#medal")
                        .text Автоматизированное производство оконных систем, минимизирующее процент брака.
                    li.list-icon__item
                        svg.list-icon__icon
                            use(xlink:href="img/sprite.svg#laurel")
                        .text Использование сертифицированных, экологически чистых материалов, безвредных для здоровья человека.
                    li.list-icon__item
                        svg.list-icon__icon
                            use(xlink:href="img/sprite.svg#file")

                        .text Опытные специалисты, постоянно повышающие уровень квалификации, обеспечат качественное выполнение как стандартных, так и инновационных проектов.


            .manufacturer__right
                img(data-src="img/manufacturer/manufacturer.jpg", class="manufacturer__img", alt="")