mixin our-services(blockTitle)
	section.our-services
		.container
			.block-title !{blockTitle}
			.inner
				.info-card
					a.info-card-img(href="#")
						+img('our-services','img1', 'info-card__img','1')
					a.info-card__title(href="#") Остекление
					.info-card__text.text-container
						p О чем нужно подумать, чтобы определиться с вариантом остекления:
						ul
							li • цель использования балкона (холодное/теплое помещение будет);
							li • желаемая температура в помещении при эксплуатации помещения;
							li • удобство открывания створок
							li • цель использования балкона (холодное/теплое помещение будет);
							li • желаемая температура в помещении при эксплуатации помещения;
							li • удобство открывания створок
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('our-services','img2', 'info-card__img','1')
					a.info-card__title(href="#") Утепление
					.info-card__text.text-container
						p Поддержание в жилом балконе температуры в 15-20 градусов необходимо для его круглогодичного использования. Мы утепляем стены, потолки, полы и парапеты. Сами подготавливаем основание под утепление и сами выполняем все работы: от демонтажа старых материалов
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')
				.info-card
					a.info-card-img(href="#")
						+img('our-services','img3', 'info-card__img','1')
					a.info-card__title(href="#") Отделка
					.info-card__text.text-container
						p Услуги по внутренней отделке помещения мы выполняем из качественных материалов, которые рекомендуются именно для балконов и лоджий где может быть перепад температуры от - минусовой до завышеной жаркой летней.
						p Услуги по внутренней отделке помещения мы выполняем из качественных материалов, которые рекомендуются именно для балконов и лоджий где может быть перепад температуры от - минусовой до завышеной жаркой летней.
					a.info-card__more.js-more(href="#")
						+icon('arrow_more')

