.our-services {
	padding: 55px 0;

	.inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		@include max-screen(599px) {
			flex-wrap: nowrap;
			overflow: auto;
			justify-content: flex-start;
		}
	}
}