-
	let faq = ['1. Нужно ли клиенту убирать мусор после завершения ремонтных работ?', 
	'2. Сколько будет длиться ремонт квартир ключ?',
	'3. В какое время лучше начинать ремонт квартир Москве и Московской области ?'];
section.section.faq 
	.container
		.section__title.section__title--center Ответы на вопросы 
		.faq__wrapper
			each item in faq
				.faq__item
					.faq__head 
						span=item
						button.faq__action
							.faq__icon
					.faq__content
						.faq__body
							p Существует несколько способов решения этого вопроса:
							ul 
								li  заказать услуги по уборке мусора в нашей компании;
								li  обратиться в клининговую фирму;
								li  сделать все самостоятельно.
							p Выбор зависит от Вашего свободного времени и материальных возможностей.