mixin before-after(blockTitle)
	section.before-after
		+section-shape
		.container
			.block-title !{blockTitle}
			.inner
				#beer-slider.beer-slider(data-beer-label='до')
					+img('before-after', 'img1', '', '1')
					.beer-reveal(data-beer-label='после')
						+img('before-after', 'img2', '', '1')
				.text-container
					h2 Укрепление парапетов и плит балконов
					p Ремонт балкона всегда должен начинаться с осмотра парапета и балконной плиты. Перед заключением договора наш мастер осматривает состояние фасада здания, металлической и бетонной основы, и озвучивает перечень необходимых работ по укреплению. <br> По нашей практике практически во всех старых домах ремонт балконов и лоджий не обходится без реновационных действий. Коррозия, зазоры, обрушившиеся части, щели и трещины – все это влияет на безопасность и срок службы помещения.
					h4 Что было сделано:
					p Объект был в аварийном состоянии. Экспертиза показала, что верхний соседский балкон разрушается и осыпается вниз, на зону предполагаемого остекления. И, для решения этой проблемы, была разработана независимая фальш-кровля. 