mixin repair-variants(blockTitle,blockText)
	section.repair-variants
		+section-shape
		+section-shape
		.container
			.block-title !{blockTitle}
			.block-text !{blockText}
			.inner
				+slider-arrows
				.slider-wrap.swiper-container
					.slider.swiper-wrapper
						.slider-slide.swiper-slide
							.slider-slide-inner
								.slider-slide__tag #80
								+img('repair-variants', 'img1', 'slider-slide__img', '1')
								.slider-slide__title Усиление балконной плиты - монтаж нового парапета с выносом
								table.slider-slide__table(cellpadding="0" cellspacing="0")
									tr
										td Замер - экспертиза основания балкона
										td 0 ₽
									tr
										td Демонтаж стяжки пола
										td 2 970 ₽
									tr
										td Доставка с погрузкой- разгрузкой
										td 5 000 ₽
									tr
										td Срезка - демонтаж парапета балкона
										td 5 280 ₽
									tr
										td Хим. анкера
										td 12 000 ₽
									tr
										td Устройство пола террасной доской
										td 15 000 ₽
									tr
										td Сайдинг
										td 15 700 ₽
									tr
										td Изготовление металлической конструкции поверх балконной плиты
										td 16 500 ₽
									tr
										td Вынос вперед
										td 17 400 ₽
									tr
										td Монтаж нового парапета
										td 71 500 ₽
							.slider-slide-action
								a.slider-slide__more(href="#") Подробнее
								a.slider-slide__callback.btn(href="#") Получить расчет
						.slider-slide.swiper-slide
							.slider-slide-inner
								.slider-slide__tag #80
								+img('repair-variants', 'img2', 'slider-slide__img', '1')
								.slider-slide__title Усиление балконной плиты - монтаж нового парапета с выносом
								table.slider-slide__table(cellpadding="0" cellspacing="0")
									tr
										td Замер - экспертиза основания балкона
										td 0 ₽
									tr
										td Демонтаж стяжки пола
										td 2 970 ₽
									tr
										td Доставка с погрузкой- разгрузкой
										td 5 000 ₽
									tr
										td Срезка - демонтаж парапета балкона
										td 5 280 ₽
									tr
										td Хим. анкера
										td 12 000 ₽
									tr
										td Устройство пола террасной доской
										td 15 000 ₽
									tr
										td Сайдинг
										td 15 700 ₽
									tr
										td Изготовление металлической конструкции поверх балконной плиты
										td 16 500 ₽
									tr
										td Вынос вперед
										td 17 400 ₽
									tr
										td Монтаж нового парапета
										td 71 500 ₽
							.slider-slide-action
								a.slider-slide__more(href="#") Подробнее
								a.slider-slide__callback.btn(href="#") Получить расчет
						.slider-slide.swiper-slide
							.slider-slide-inner
								.slider-slide__tag #80
								+img('repair-variants', 'img3', 'slider-slide__img', '1')
								.slider-slide__title Усиление балконной плиты - монтаж нового парапета с выносом
								table.slider-slide__table(cellpadding="0" cellspacing="0")
									tr
										td Замер - экспертиза основания балкона
										td 0 ₽
									tr
										td Демонтаж стяжки пола
										td 2 970 ₽
									tr
										td Доставка с погрузкой- разгрузкой
										td 5 000 ₽
									tr
										td Срезка - демонтаж парапета балкона
										td 5 280 ₽
									tr
										td Хим. анкера
										td 12 000 ₽
									tr
										td Устройство пола террасной доской
										td 15 000 ₽
									tr
										td Сайдинг
										td 15 700 ₽
									tr
										td Изготовление металлической конструкции поверх балконной плиты
										td 16 500 ₽
									tr
										td Вынос вперед
										td 17 400 ₽
									tr
										td Монтаж нового парапета
										td 71 500 ₽
							.slider-slide-action
								a.slider-slide__more(href="#") Подробнее
								a.slider-slide__callback.btn(href="#") Получить расчет
						.slider-slide.swiper-slide
							.slider-slide-inner
								.slider-slide__tag #80
								+img('repair-variants', 'img1', 'slider-slide__img', '1')
								.slider-slide__title Усиление балконной плиты - монтаж нового парапета с выносом
								table.slider-slide__table(cellpadding="0" cellspacing="0")
									tr
										td Замер - экспертиза основания балкона
										td 0 ₽
									tr
										td Демонтаж стяжки пола
										td 2 970 ₽
									tr
										td Доставка с погрузкой- разгрузкой
										td 5 000 ₽
									tr
										td Срезка - демонтаж парапета балкона
										td 5 280 ₽
									tr
										td Хим. анкера
										td 12 000 ₽
									tr
										td Устройство пола террасной доской
										td 15 000 ₽
									tr
										td Сайдинг
										td 15 700 ₽
									tr
										td Изготовление металлической конструкции поверх балконной плиты
										td 16 500 ₽
									tr
										td Вынос вперед
										td 17 400 ₽
									tr
										td Монтаж нового парапета
										td 71 500 ₽
							.slider-slide-action
								a.slider-slide__more(href="#") Подробнее
								a.slider-slide__callback.btn(href="#") Получить расчет
