mixin furniture(blockTitle)
	section.furniture
		.container
			.block-title !{blockTitle}
			.inner
				.item
					+img('furniture','img1','item__img','1')
					.item__text Отлив
				.item
					+img('furniture','img2','item__img','1')
					.item__text Подоконник
				.item
					+img('furniture','img3','item__img','1')
					.item__text Откосы
				.item
					+img('furniture','img4','item__img','1')
					.item__text Москитная сетка
				.item
					+img('furniture','img5','item__img','1')
					.item__text Ламинация
				.item
					+img('furniture','img6','item__img','1')
					.item__text Раскладка