mixin portfolio-section(blockTitle,blockText)
	section.portfolio-section
		.container
			.portfolio-section-left
				.portfolio-section__title !{blockTitle}
				.block-text !{blockText}
				.portfolio-section-line
					.slider-counter
						.slider-counter__curr 01
						.slider-counter__all 06
					+slider-arrows
			.portfolio-section-middle.swiper-container.slider-for-wrap
				.slider-for.swiper-wrapper
					.slider-for-slide.swiper-slide
						.slider-for-slide-left
							+img('portfolio-section','img1','full-img','1')
							.small-images
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
						.slider-for-slide-right
							.slider-for-slide__num Кейс #1
							.slider-for-slide__title Остекление ТЦ “Skycity”
							ul.slider-for-slide__list
								li
									span Срок:
									b 20 дней
								li
									span Монтаж:
									b 4 дня
								li
									span Стоимость:
									b 180 000 ₽
							.slider-for-slide__text Используем холодное и теплое остекление. Первое подходит для балконов-хранилищ или складов. А ПВХ окна (теплые) обеспечивают оптимальную температуру для жилого помещения, то есть для столовых, кабинетов, мини библиотек или оранжерей.
					.slider-for-slide.swiper-slide
						.slider-for-slide-left
							+img('portfolio-section','img1','full-img','1')
							.small-images
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
						.slider-for-slide-right
							.slider-for-slide__num Кейс #2
							.slider-for-slide__title Остекление ТЦ “Skycity”
							ul.slider-for-slide__list
								li
									span Срок:
									b 20 дней
								li
									span Монтаж:
									b 4 дня
								li
									span Стоимость:
									b 180 000 ₽
							.slider-for-slide__text Используем холодное и теплое остекление. Первое подходит для балконов-хранилищ или складов. А ПВХ окна (теплые) обеспечивают оптимальную температуру для жилого помещения, то есть для столовых, кабинетов, мини библиотек или оранжерей.
					.slider-for-slide.swiper-slide
						.slider-for-slide-left
							+img('portfolio-section','img1','full-img','1')
							.small-images
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
								+img('portfolio-section','img1','small-img','1')
								+img('portfolio-section','img2','small-img','1')
								+img('portfolio-section','img3','small-img','1')
						.slider-for-slide-right
							.slider-for-slide__num Кейс #3
							.slider-for-slide__title Остекление ТЦ “Skycity”
							ul.slider-for-slide__list
								li
									span Срок:
									b 20 дней
								li
									span Монтаж:
									b 4 дня
								li
									span Стоимость:
									b 180 000 ₽
							.slider-for-slide__text Используем холодное и теплое остекление. Первое подходит для балконов-хранилищ или складов. А ПВХ окна (теплые) обеспечивают оптимальную температуру для жилого помещения, то есть для столовых, кабинетов, мини библиотек или оранжерей.
			.portfolio-section-right.swiper-container.slider-nav-wrap.swiper-no-swiping
				.slider-nav.swiper-wrapper
					.slider-nav-slide.swiper-slide
						.slider-nav-slide__num Кейс #1
						.slider-nav-slide__title Остекление ТЦ “Skycity”
						+img('portfolio-section','img1','slider-nav-slide__img','1')
					.slider-nav-slide.swiper-slide
						.slider-nav-slide__num Кейс #2
						.slider-nav-slide__title Остекление ТЦ “Skycity”
						+img('portfolio-section','img1','slider-nav-slide__img','1')
					.slider-nav-slide.swiper-slide
						.slider-nav-slide__num Кейс #3
						.slider-nav-slide__title Остекление ТЦ “Skycity”
						+img('portfolio-section','img1','slider-nav-slide__img','1')