section.price-list
	.container
		.price-list__wrapper 
			.price-list__col.price-list__col--lg
				div(style={'background-image':'url(img/price-list/desing.jpg)'}).price-list__banner 
					h1.price-list__title Дизайн<br/> интерьера
					.price-list__subtitle стоимость
			.price-list__col.price-list__col--sm
				.price-list__card 
					.price-list__heading Базовый
					.price-list__note Без стилистики
					.price-list__content
						.price-list__row 
							.price-list__heading Площадь
							.price-list__heading Цена 1м²
						.price-list__row 
							.price-list__item 50 - 100 м²
							span.price-list__separator
							.price-list__item 900 руб
						.price-list__row 
							.price-list__item 100 – 500 м²
							span.price-list__separator
							.price-list__item 800 руб
						.price-list__row 
							.price-list__item 100 - 500 м²
							span.price-list__separator
							.price-list__item 700 руб
						.price-list__row 
							.price-list__item от 1000 м²
							span.price-list__separator
							.price-list__item 600 руб
			.price-list__col.price-list__col--sm
				.price-list__card 
					.price-list__heading Простой уровень
					.price-list__note Модернизм, минимализм, поп-арт, эко-стиль, кантри, прованс, шебби-шик
					.price-list__content
						.price-list__row 
							.price-list__heading Площадь
							.price-list__heading Цена 1м²
						.price-list__row 
							.price-list__item 50 - 100 м²
							span.price-list__separator
							.price-list__item 1080 руб
						.price-list__row 
							.price-list__item 100 – 500 м²
							span.price-list__separator
							.price-list__item 960 руб
						.price-list__row 
							.price-list__item 100 - 500 м²
							span.price-list__separator
							.price-list__item 840 руб
						.price-list__row 
							.price-list__item от 1000 м²
							span.price-list__separator
							.price-list__item 720 руб
			.price-list__col.price-list__col--sm
				.price-list__card 
					.price-list__heading Средний уровень
					.price-list__note Ар-деко, хай-тек, эклектика, этностиль, постмодернизм
					.price-list__content
						.price-list__row 
							.price-list__heading Площадь
							.price-list__heading Цена 1м²
						.price-list__row 
							.price-list__item 50 - 100 м²
							span.price-list__separator
							.price-list__item 1170 руб
						.price-list__row 
							.price-list__item 100 – 500 м²
							span.price-list__separator
							.price-list__item 1040 руб
						.price-list__row 
							.price-list__item 100 - 500 м²
							span.price-list__separator
							.price-list__item 910 руб
						.price-list__row 
							.price-list__item от 1000 м²
							span.price-list__separator
							.price-list__item 780 руб
			.price-list__col.price-list__col--sm
				.price-list__card 
					.price-list__heading Сложный уровень
					.price-list__note Классицизм, модерн, греческий, романский, готический, барроко, рококо, ампир
					.price-list__content
						.price-list__row 
							.price-list__heading Площадь
							.price-list__heading Цена 1м²
						.price-list__row 
							.price-list__item 50 - 100 м²
							span.price-list__separator
							.price-list__item 1350 руб
						.price-list__row 
							.price-list__item 100 – 500 м²
							span.price-list__separator
							.price-list__item 1200 руб
						.price-list__row 
							.price-list__item 100 - 500 м²
							span.price-list__separator
							.price-list__item 1050 руб
						.price-list__row 
							.price-list__item от 1000 м²
							span.price-list__separator
							.price-list__item 900 руб
		