section.apartments
    .container
        .section__title Наши услуги по типу помещения
        .apartments__container.js-apartments-slider
            .apartments__card
                img(src="img/rooms/types-rooms-1.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Ремонт комнаты
                    .apartments__price от 2500 руб/м<sup>2</sup>
                .apartments__text Жидкие обои, многоуровневые потолки, укладка напольных покрытий и многое другое.
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .apartments__card
                img(src="img/rooms/types-rooms-2.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Ремонт кухни
                    .apartments__price от 2500 руб/м<sup>2</sup>
                .apartments__text Новые шкафы, декоративная отделка стен, электрика, сантехника и многое другое
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее
            .apartments__card
                img(src="img/rooms/types-rooms-3.jpg", class="apartments__img", alt="")
                .apartments__item
                    .apartments__title Ремонт ванной комнаты
                    .apartments__price от 2500 руб/м<sup>2</sup>
                .apartments__text Улучшение планировки, кафельные работы, электрика, сантехника и многое другое
                .apartments__btns
                    a(href="#", class="btn") Заказать
                    a(href="#", class="btn-invert") Подробнее