mixin windows-tabs(blockTitle)
	section.windows-tabs
		.container
			.block-title !{blockTitle}
			.tabs
				ul.tabs-list
					li.tabs-list-item
						a.tabs-list__link.active(href="#" data-tab="windows-tabs-tab1") Пластиковые окна
					li.tabs-list-item
						a.tabs-list__link(href="#" data-tab="windows-tabs-tab2") Алюминиевые окна
					li.tabs-list-item
						a.tabs-list__link(href="#" data-tab="windows-tabs-tab3") Раздвижные окна
				.tabs-content
					.tabs-tab.active(data-tab="windows-tabs-tab1")
						.tabs-tab-inner
							.tabs-tab-left
								.text-container
									h2 Пластиковые окна
									p Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может
								+img('windows-tabs','img','tabs-tab__img','1')
							.tabs-tab-right
								.tabs-tab__title Профили остекления
								+slider-arrows
								.swiper-container
									.swiper-wrapper
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
					.tabs-tab(data-tab="windows-tabs-tab2")
						.tabs-tab-inner
							.tabs-tab-left
								.text-container
									h2 Алюминиевые окна
									p Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может
								+img('windows-tabs','img','tabs-tab__img','1')
							.tabs-tab-right
								.tabs-tab__title Профили остекления
								+slider-arrows
								.swiper-container
									.swiper-wrapper
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
					.tabs-tab(data-tab="windows-tabs-tab3")
						.tabs-tab-inner
							.tabs-tab-left
								.text-container
									h2 Раздвижные окна
									p Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может
								+img('windows-tabs','img','tabs-tab__img','1')
							.tabs-tab-right
								.tabs-tab__title Профили остекления
								+slider-arrows
								.swiper-container
									.swiper-wrapper
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать
										.tabs-card.swiper-slide
											+img('windows-tabs','card-img1','tabs-card__img','1')
											.tabs-card__name REHAU Delight 70мм
											.tabs-card__price от 8 923 ₽
											ul.tabs-card__list
												li
													span Армирование
													span <b>2мм</b>
												li
													span Стеклопакет
													span <b>32мм</b>
												li
													span Фурнитура
													span <b>ROTO</b>
												li
													span Монтаж
													span <b>премиум</b>
											a.tabs-card__link.btn(href="#") заказать

