.repair-materials {
	padding: 65px 0;
	@include max-screen(1600px) {
		padding: 30px 0;
	}
	.container {
		max-width: 1436px;
		@include max-screen(1450px) {
			max-width: 1200px;
		}
	}
	.inner {
		position: relative;
	}
	.swiper-wrapper {
		display: flex;
	}
	.arrows {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 110px);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include max-screen(1600px) {
			position: static;
			transform: translate(0,0);
			width: 100%;
			justify-content: center;
			margin-bottom: 10px;
		}
	}
	.item {
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		background: #FFFFFF;
		box-shadow: $header-shadow;
		border-radius: 10px;
		@include max-screen(900px) {
			flex-direction: column;
			align-items: flex-start;
		}
		&-left {
			width: 37%;
			min-height: 261px;
			@include max-screen(900px) {
				height: 125px;
				min-height: 10px;
				width: 100%;
			}
		}
		&-right {
			width: 63%;
			padding: 35px 10px 10px 45px;
			@include max-screen(900px) {
				padding: 15px;
				width: 100%;
			}
		}
		&__img {
			height: 100%;
			object-fit: cover;
			object-position: right top;
			@include max-screen(900px) {
				width: 100%;
				object-position: center center;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 21px;
			@include max-screen(599px) {
				font-size: 16px;
			}
		}
		&__text {
			font-size: 18px;
			line-height: 1.6;
			@include max-screen(599px) {
				font-size: 14px;
			}
		}
	}
}