mixin repair-materials(blockTitle)
	section.repair-materials
		.container 
			.block-title !{blockTitle}
			.inner
				+slider-arrows
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img1', 'item__img', '1')
								.item-right
									.item__title Сварка
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Электродуговая <br>
										| Электроды 3мм <br>
										| Электродуговая <br>
										| Электроды 3мм
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img2', 'item__img', '1')
								.item-right
									.item__title Металл
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| уголок 63×63мм <br>
										| Труба профильная <br>
										| 40×25×2.5мм
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img3', 'item__img', '1')
								.item-right
									.item__title Хим анкера
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Такие то <br>
										| Шпильки <br>
										| Анкерные болты
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img4', 'item__img', '1')
								.item-right
									.item__title Краска
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Краска 3в 1 <br>
										| По металлу антикоррозионна
						
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img1', 'item__img', '1')
								.item-right
									.item__title Сварка
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Электродуговая <br>
										| Электроды 3мм <br>
										| Электродуговая <br>
										| Электроды 3мм
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img2', 'item__img', '1')
								.item-right
									.item__title Металл
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| уголок 63×63мм <br>
										| Труба профильная <br>
										| 40×25×2.5мм
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img3', 'item__img', '1')
								.item-right
									.item__title Хим анкера
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Такие то <br>
										| Шпильки <br>
										| Анкерные болты
						.swiper-slide
							.item
								.item-left
									+img('repair-materials', 'img4', 'item__img', '1')
								.item-right
									.item__title Краска
									.item__text 
										| <b>Характеристики материала:</b> <br>
										| Краска 3в 1 <br>
										| По металлу антикоррозионна
