include components/pug/vars.pug
include components/pug/mixin.pug
include components/pug/project-mixin.pug
include blocks/services/template.pug
doctype
html
	block head
		head
			include components/pug/meta.pug
			include components/pug/links.pug

			block head-info
	body
		main#apartment-repair
			include blocks/mainblock/template.pug
			include blocks/why-we/template.pug
			include blocks/seo-block/template.pug
			include blocks/repair-types/template.pug
			include blocks/apartments/template.pug
			include blocks/measurement-form/template.pug
			include blocks/color-table/template.pug
			include blocks/rooms/template.pug
			include blocks/warranty/template.pug
			include blocks/price-list/template.pug
			include blocks/cost-work/template.pug
			+services('02','Наши услуги')
			include blocks/gallery/template.pug
			include blocks/faq/faq.pug


		block foot
			include components/pug/scripts.pug