include components/pug/vars.pug
include components/pug/mixin.pug
include components/pug/project-mixin.pug
include blocks/services/template.pug
doctype
html
	block head
		head
			include components/pug/meta.pug
			include components/pug/links.pug

			block head-info
	body
		block apartment-blocks

		block foot
			include components/pug/scripts.pug