//- site blocks
include blocks/mainblock/template.pug
include blocks/compare-types/template.pug
include blocks/compare-types2/template.pug
include blocks/about/template.pug
include blocks/our-differences/template.pug
//- quiz
include blocks/repair-works/template.pug
include blocks/repair-materials/template.pug
include blocks/before-after/template.pug
include blocks/info-cards/template.pug
include blocks/callback-section/template.pug
include blocks/repair-steps/template.pug
include blocks/portfolio-section/template.pug
include blocks/panorama/template.pug
include blocks/repair-prices/template.pug
include blocks/repair-variants/template.pug
include blocks/stocks-slider/template.pug
include blocks/our-services/template.pug
include blocks/services-previews/template.pug
include blocks/partners/template.pug
include blocks/certificates/template.pug
include blocks/installers-quality/template.pug
include blocks/qa/template.pug
include blocks/videos-section/template.pug
include blocks/contact/template.pug

include blocks/finishing-balcony-key/template.pug
include blocks/category-cards/template.pug
include blocks/pricelist/template.pug
include blocks/category-about/template.pug
include blocks/glazing-types-tabs/template.pug
include blocks/material-prices/template.pug
include blocks/warming-compare/template.pug
include blocks/windows-tabs/template.pug
include blocks/furniture/template.pug
include blocks/prices-home-types/template.pug
include blocks/color-solutions/template.pug