mixin partners(blockTitle,blockText)
	section.partners
		.container
			.partners-left
				.block-subtitle !{blockTitle}
				.block-title !{blockText}
				.text-container 
					p Статус официального партнера REHAU позволяет нам давать официальную гарантию на изделия и установку. Наши производственные объекты занимают 9600 квадратных метров. В производственном процессе задействовано минимальное количество людей. Качество контролируется на каждом этапе. Каждый заказ мы выполняем четко по установленному регламенту с использованием дорогих и качественных материалов.
			.partners-right
				.partners-item
					+img('partners', 'roto', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'rehau', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'kaleva', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'siegenia', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'gealan', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'schuco', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'melke', 'partners-item__img', '2')
				.partners-item
					+img('partners', 'veka', 'partners-item__img', '2')
