.partners {
	padding: 95px 0;
	background: #fff;
	@include section-shadow;
	@include max-screen(1600px) {
		padding: 45px 0;
	}
	@include max-screen(599px) {
		overflow: hidden;
	}

	&-left {
		width: 42%;
		@include max-screen(900px) {
			width: 100%;
		}
	}
	&-right {
		width: 56%;
		display: flex;
		flex-wrap: wrap;
		@include max-screen(900px) {
			width: 100%;
		}
		@include max-screen(599px) {
			flex-wrap: nowrap;
			overflow: auto;
		}
	}
	&-item {
		margin: 1%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 23%;
		height: 137px;
		background: #fff;
		border-radius: 10px;
		box-shadow: $header-shadow;
		@include max-screen(599px) {
			min-width: 150px;
			max-width: 150px;
			height: 150px;
			margin: 10px;
		}
		&__img {
			max-width: 60%;
			max-height: 60%;
			object-fit: contain;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.block-title,
	.block-subtitle {
		text-align: left;
	}
}