.callback-section {
	background: #FFFFFF;
	@include section-shadow;
	
	&__man {
		position: absolute;
		right: 0;
		bottom: 0;
		@include max-screen(1200px) {
			display: none;
		}
	}
	
	.container {
		padding: 115px 0;
		max-width: 1290px;
		position: relative;
		z-index: 1;
		background: url($img + 'callback-section/bg.jpg') no-repeat right center;
		@include max-screen(1600px) {
			padding: 60px 0;
		}
		@include max-screen(1300px) {
			max-width: 1200px;
		}
		@include max-screen(1200px) {
			padding: 40px 15px;
			background: #fff;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}
	.block-title {
		text-align: left;
		@include max-screen(1200px) {
			text-align: center;
		}
	}
	.block-text {
		text-align: left;
		margin-bottom: 45px;
		@include max-screen(1200px) {
			margin-bottom: 30px;
			text-align: center;
		}
		@include max-screen(599px) {
			margin-bottom: 10px;
		}
	}
	.form {
		width: 100%;
		max-width: 562px;
		&-group {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			&:not(:last-child) {
				margin-bottom: 18px;
				@include max-screen(599px) {
					margin: 0;
				}
			}
		}
		&-item {
			width: 49%;
			@include max-screen(599px) {
				width: 100%;
			}
			&:not(:last-child) {
				margin-right: 2%;
				@include max-screen(599px) {
					margin: 10px 0;
				}
			}
		}
		&__text {
			vertical-align: bottom;
			@include max-screen(599px) {
				text-align: center;
			}
		}
	}
	.section-shape {
		position: absolute;
		z-index: -1;
		width: 50%;
		left: 0;
		top: 50%;
		transform: translate(-25%, -50%) rotate(7deg);
	}
	.circle {
		position: absolute;
		z-index: 1;
		background: #F5F7FE;
		filter: blur(15px);
		border-radius: 100%;
		&_small {
			left: 6%;
			bottom: 17%;
			width: 138px;
			height: 138px;
		}
		&_big {
			width: 200px;
			height: 200px;
			right: 0;
			top: 9%;
			transform: translate(50%, 0);
		}
		&_large {
			top: 4%;
			left: 0;
			width: 307px;
			height: 307px;
			transform: translate(-50%, 0);
		}
	}
}