mixin callback-section(blockTitle,blockText)
	section.callback-section
		.circle.circle_small
		.circle.circle_big
		.circle.circle_large
		+section-shape
		.container
			.callback-section-left
				.block-title !{blockTitle}
				.block-text !{blockText}
				form.form(action="#")
					.form-group
						.form-item
							input.form__field(type="text" placeholder="Ваше имя" name="mainblock_name")
						.form-item
							input.form__field(type="tel" placeholder="Ваш телефон" name="mainblock_tel")
					.form-group
						.form-item
							button.btn.form__submit(type="submit") Заявка на рассрочку
						.form-item
							.form__text * Нажимая кнопку, вы соглашаетесь с условиями <a href="#">политики конфиденциальности</a>
			+img('callback-section', 'man', 'callback-section__man', '2')