section.contacts
    .contacts__info
        .section__title Предлагаем посетить наш офис
        .contacts__text и познакомиться поближе
        .contacts__address Офис в г. Королёв:  проспект Космонавтов, дом 15ТЦ «Сатурн», 4-й этаж, Офис Т-24
        .contacts__address Ежедневно, 09:00-21:00
        a(href="tel:+74951285040", class="contacts__phone") +7 (495) 128-50-40
    #map
        <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A50e65f952aaac55520b95f19c85a364902af53595b69da1e49719b5ce832fb88&amp;source=constructor" width="100%" height="387" frameborder="0"></iframe>
